[2018-03-01 21:58] brnkhy commented on #547
@demi180 unfortunately not at the moment. I think it's more of a mapping problem really. Most stuff in mapping is designed 2d in mind first I guess so we're having such side effects in 3d. We know that issue and working on it though.  Would be great if you can post the lat/lng of that buildings though, I'm trying to keep track a few of those.

That second problem will be solved (hopefully) pretty

[2018-03-01 23:25] demi180 commented on #547
The building is roughly at:
37°47'33.2"N 122°24'01.6"W
37.792555, -122.400438

I couldn't find a good way to get it from inside Unity so I just pulled up our starting point in Google Maps and set a marker on the building itself, I hope that works. Thanks!

[2018-03-02 09:45] Maverick87Shaka opened #562 "Convert Unity distance (Vector3.Distance) in a real world distance (meters) using DynamicZoomMap"
Question / Support ticket:

Unity version: 2017.3.0f3
Mapbox SDK version: MapBox 1.3.0 Release
The platform you're building to: Windows Steam VR - HTC Vive and other HMD
A description of what you're trying to do:
I would like to get the real distance in meters between two different game object, and the elevation difference in meter as well. I already know the Vector2d _latLng of both gameobjects,

[2018-03-02 11:32] Maverick87Shaka commented on #534
Thanks, I've now adjusted the script, but unfortunately there is some more error. On my system I've enabled the support for long path, and if I try to create manually the namefile in that specific cache path with a program like OneCommanderV2 it's works, is not working trying to create the same filename with Explorer, but it's seams a common limitation of explorer. Maybe Unity or sqlite is facing

[2018-03-03 02:21] apavani opened #563 "TerrainFactoryWithSideWalls needs consistent naming"
* Unity version: Unity 2017.2.0f3
* Mapbox SDK version: 1.3
* The platform you're building to: iOS
* A description of what you're trying to do: Create Terrain Factory with side walls

The issue is that there has been some naming discrepancy with the TerrainFactoryWithSideWalls that needs to be consistent with the .cs filename. Because the filename doesn't match with Class name it causes the Script

[2018-03-05 16:50] truekit opened #566 "#import <MapboxMobileEvents/MapboxMobileEvents.h> 'MapboxMobileEvents/MapboxMobileEvents.h' file not found"
Hi!

I have created project in Unity with mapbox by this tutorial https://www.mapbox.com/help/unity-mesh-pt-3/
in Unity and in android version everything works fine, but in IOS, after building version to Xcode, I have this issue:

#import <MapboxMobileEvents/MapboxMobileEvents.h> 'MapboxMobileEvents/MapboxMobileEvents.h' file not found

thanks, for your help

[2018-03-05 17:04] atripathi-mb commented on #566
@truekit Check to see in your `PlayerSettings` is the target version is above 8.0 & you use `TargetDevice` as `iPhone Only` or `iPad Only` . Seems like Unity & Xcode issue.

[2018-03-05 17:05] apavani commented on #566
@truekit Check if this thread helps
https://github.com/mapbox/mapbox-unity-sdk/issues/301

[2018-03-05 17:07] truekit commented on #566
this was helpful thank you!
https://github.com/mapbox/mapbox-unity-sdk/issues/101#issuecomment-305254423

I've added this **header search paths** in Xcode build settings "$(SRCROOT)/Libraries/Mapbox/Core/Plugins/iOS/MapboxMobileEvents/include");

[2018-03-05 17:07] #566 closed

[2018-03-05 18:04] morgane commented on #533
Closing because this will be added in the latest UI design

[2018-03-05 18:04] #533 closed

[2018-03-05 23:49] seddikouaz opened #567 "Unity changing map colors"
I'm creating a game in unity where i need to change colors of streets in map in runtime, or using C sharp scripts, but without using Mapbox studio.
Can someone help me please

[2018-03-05 23:53] brnkhy commented on #567
@seddikouaz you can create road mesh & gameobjects using vector data, then change the color of the material from any script you want. As long as the material applied on roads are not `Instanced` (they won't be by default), this'll change the color of all roads.

You can check this on Explorer scene for example. Disable all layers except `road` (you can do that from `Map Editor`) and then change th

[2018-03-06 00:39] jordy-isaac commented on #548
Hi @jondyne thanks for the ticket. With the Maps SDK for Unity you can create offline apps. Our policy for offline maps can be found [here](https://www.mapbox.com/help/mobile-offline/). Please keep in mind that shipping your app with tiles isn't supported in out TOS and your end uses would need to download those tiles to cache.

[2018-03-06 00:39] #548 closed

[2018-03-06 00:41] #528 closed

[2018-03-06 00:46] #534 closed

[2018-03-06 02:40] MiroMuse commented on #286
@brnkhy should we close this ticket per your comment above?

[2018-03-06 11:08] seddikouaz commented on #567
thank you @brnkhy , but im using location provider project.

[2018-03-06 12:16] BergWerkGIS opened #568 "Shrink .git folder"
While the files in this repository are "relatively" lightweight cloning takes some time (especially on low bandwith connections) because of the size of the `.git` folder:

![image](https://user-images.githubusercontent.com/4549888/37031682-fdbb4c3c-213f-11e8-86f0-cf368a235c4c.png)

Investigate if the overall size can be shrunk:

 - delete unneeded branches
- `How to Shrink a Git Repository` http:/

[2018-03-07 14:59] Gusten opened #570 "Incorrectly reports duplicate Android plugins(and halts build)"
Just want to start with saying great work on this SDK!

* Unity version:  2017.3.1f1
* Mapbox SDK version: 1.3.0
* Facebook SDK version: 7.11.0
* The platform you're building to: Android
* A description of what you're trying to do:
The custom prebuild plugin checker in Mapbox_Android_prebuild_checks.cs incorrectly flags Facebook plugins as duplicate due to how AndroidLibInfo.BaseFileName is implem

[2018-03-07 16:05] BergWerkGIS commented on #570
@Gusten

We put the check in there because we faced (pun intended) problems with the Facebook SDK before.

I haven't checked lately but at the time the playresolver just put out some general `CommandInvokationFailure` message and it took some time to trace the failure back to duplicate Android libraries.

Well, I think it kind of is.
If we can provide useful hints of what might prevent you from su

[2018-03-07 16:14] BergWerkGIS commented on #570
🙏 Thanks, almost missed that important line 😄

[2018-03-07 19:49] jordy-isaac commented on #562
Hi @Maverick87Shaka The example you linked is for turf.js. We have cheap-ruler in C# and you can use it for this type of use case. You can find it here: https://github.com/mapbox/mapbox-unity-sdk/blob/develop/sdkproject/Assets/Mapbox/Core/cheap-ruler-cs/CheapRuler.cs#L96-L101

[2018-03-07 21:12] demi180 commented on #505
@brnkhy if you guys are reworking the stacks, I suggest adding an way to run (an)other operation(s) after the per-feature modifiers have all completed (but before the completion callback gets called), like you did with the MergedModifierStack's End() function.

Ex: I'm working on a "post-merged stack" right now that does basically what the merged stack does, but uses the already-built objects in o

[2018-03-07 21:17] brnkhy commented on #505
@demi180 that sounds good, no reason not to have it on regular modifier stack either I guess. Maybe even make it modular if we can think of multiple usecases as well. Or might be a simple event/unityevent maybe?
Thanks for the feedback!

[2018-03-07 23:07] MiroMuse commented on #177
@atripathi-mb please close this out if done with 1.4 👍

[2018-03-07 23:09] MiroMuse commented on #401
@BergWerkGIS @atripathi-mb did we end up solving this?

[2018-03-08 08:23] Gusten commented on #570
@BergWerkGIS
Thanks for the fast reply!
I double-checked and you are indeed right about the playresolver. I got it mixed up with the Google Version Handler when adding newer versions of the playresolver. So I apologize about that.

I see what you are getting at with trying to help other developers and I do respect that(Even if it kinda backfired in our case hehe). However, I still believe it might

[2018-03-08 11:41] BergWerkGIS commented on #570
@Gusten
Facebook Unity SDK was the main reason our quick'n'dirty checks were added.
Just tested with the latest version and you are right it now includes Google's Unity Jar Resolver which it didn't have last time I looked and which takes care of resolving duplicates much better.

We also had experimented with the Jar Resolver quite some time ago but were not successful, so we dropped it.

Taking o

[2018-03-08 12:33] Gusten commented on #570
@BergWerkGIS
That sounds like a plan 🙂

Again, thanks for the hard work on this SDK! 👏

[2018-03-08 12:56] Maverick87Shaka commented on #562
I also found in documentation the Distance Method of Vector2d [here](https://www.mapbox.com/mapbox-unity-sdk/api/mapbox-sdk-cs/Mapbox.Utils.Vector2d.html#Mapbox_Utils_Vector2d_Distance_Mapbox_Utils_Vector2d_Mapbox_Utils_Vector2d_).
I made a test with that method and it's returning a double number, it's that a "real world distance"? what is the unit of measurement?
Code:
`Vector2d.Distance (_latLng

[2018-03-08 14:21] iiidefektiii opened #575 "What's the deal AR screams errors on new project?"
The AR Repository was moved from the old one and says deprecated. I have tried with every attempt and nothing but errors in Unity when trying to incorporate the Mapbox AR files that used to work until it was moved. Mapbox SDK works fine by itself. I am attempting to use the MapboxAR files which are not included in the downloadable version on the site.

* Unity version: 2017.3 F03
* Mapbox SDK vers

[2018-03-08 15:18] #575 closed

[2018-03-08 18:03] BergWerkGIS commented on #575
Great, thanks for getting back.

Lets us know when you hit other hurdles.

In case there a lot of errors in the console it makes sense to provide Unity's log files.
They can be found here https://docs.unity3d.com/Manual/LogFiles.html

[2018-03-08 22:53] ztdraper opened #576 "Coloring specific map sections"
Hello,

I am currently looking into applying colors to specified locations within my custom project and style. Basically, I am attempting to mark certain areas that are enclosed by roads or pathways w/ a color to indicate an affiliation to a custom topic. These markable areas are always bordered on all sides by roads, so the target is the areas within a closed loop of roads, like a city block. I h

[2018-03-08 23:18] greglemonmapbox commented on #576
We are planning on adding custom building colorization features into the next version of our SDK which will launch soon. These features may help you achieve what you are trying to do.

In the meantime, you could try using a polygon modifier to render meshes on top of the map image with a desired color and transparency.

Stay tuned!

[2018-03-09 03:28] atripathi-mb opened #577 "Mesh Tangents our of bounds with HeightModifier."
_Note: If this is a bug or support ticket, please provide the following information:_
* Unity version:
* Mapbox SDK version: v1.3.0 develop
* The platform you're building to:
* A description of what you're trying to do:
![image](https://user-images.githubusercontent.com/32286016/37188959-27bc0352-230f-11e8-92b4-a796224a6524.png)

getting this when using `HeightModifier`. Started seeing this after

[2018-03-09 14:30] #576 closed

[2018-03-13 13:45] asadali26 opened #581 "Mapbox Pricing Issue (MAU)"
_Note: If this is a bug or support ticket, please provide the following information:_
* Unity version: 2017.2.0f3
* Mapbox SDK version: 1.2.0
* The platform you're building to: Android
* A description of what you're trying to do:
I'm confuse regarding **MAU** (Monthly Active Users). Because I'm testing Mapbox application in android and I'm only the single user as I'm testing the app before deploy

[2018-03-13 14:27] jordy-isaac commented on #581
Hi @asadali26. Thanks for the ticket. For account related matters please email us at help@mapbox.com so that we can look into the specifics of your account. For security we can't discuss account matters in a private forum. Thanks!

[2018-03-13 14:27] #581 closed

[2018-03-14 09:30] specsdhdeveloper opened #582 "QueryHeightData"
* Unity version: 2017.3.1f
* Mapbox SDK version: 1.3.0
* The platform you're building to: Unity
* A description of what you're trying to do:

Hello, I try call QueryHeightData function with my vector2d latlong in my scripts to abstractMap, but fail with the next error:

KeyNotFoundException: The given key was not present in the dictionary.
System.Collections.Generic.Dictionary`2[Mapbox.Map.Unwrapp

[2018-03-14 11:25] Jersshhh opened #583 "Need to make map static and same location, not dependent on player location"
Hey there,
I'm looking to create a small scale, static map location game.
So I have my map png here and I need the mapbox map/player location to sync up with this static one.
![capture](https://user-images.githubusercontent.com/9066356/37399836-ad141008-27ce-11e8-948b-914512531181.PNG)
![2](https://user-images.githubusercontent.com/9066356/37399839-af5cca58-27ce-11e8-8d50-d889d7db7fdf.PNG)

Is the

[2018-03-14 16:48] atripathi-mb commented on #582
@specsdhdeveloper I am assuming that you are using `FlatTerrainFactory` and that's what is causing the exception. You should be using `TerrainFactory` or `TerrainWithSideWalls` instead.

We have addressed this issue already in our next release, in the meantime you can change the code to this
[code]

[2018-03-14 17:43] lukacat10 opened #584 "Smooth Zooming Example"
_Note: If this is a bug or support ticket, please provide the following information:_
* Unity version:  Unity 2017.3.1f1
* Mapbox SDK version: 1.3.0
* The platform you're building to: PC, Android, IOS
* A description of what you're trying to do: Smooth zooming like in gl js mapbox version
* Steps to recreate the bug if appropriate:
* Links to your logs are also helpful:

Have a look at this exampl

[2018-03-15 09:56] specsdhdeveloper commented on #582
Hello, thank you very match for the help.
I have been tested the code, and debug. I understood that "Conversions. LatitudeLongitudeToTileId" return the name of tile to reverse and "MapVisualizer.ActiveTiles.TryGetValue" not find the tile, for exemple if the tiles created into scene is "18/132670/97899" the function "Conversions" return "97899/132670/18".
But I don't see difference if i use FlatTer

[2018-03-15 15:09] jordy-isaac commented on #584
Hi @lukacat10 Have you checked out the `ZoomableMap` example in the SDK? You can find it in the `Examples` folder in the SDK. You can also read more about it [here](https://www.mapbox.com/unity-sdk/overview/zoomable-map/)

[2018-03-15 15:30] jordy-isaac commented on #583
Hi @Jersshhh Have you tried setting up a NavMesh to constrain the player to the area you want to allow them to go? You could define and set the navigable paths and areas. Here's the Unity documentation on [NavMesh](https://docs.unity3d.com/ScriptReference/AI.NavMesh.html).

You could also set bounds by restricting the [Transform.position](https://docs.unity3d.com/ScriptReference/Transform-position

[2018-03-15 18:09] jordy-isaac commented on #582
@specsdhdeveloper, hi there! Please have a look at the `TerrainVectorMap` example in the SDK.

With a `TerrainFactory` a Snap Terrain Modifier is used to snap building meshes to the generated non-linear terrain. Try disabling it by unchecking the Active checkbox on the Snap Terrain Modifier to see what happens. You’ll notice that all the building meshes are rendered under the generated terrain as

[2018-03-15 20:35] lukacat10 commented on #584
Hi @jordy-isaac of course! Thats the reason I cant get a smooth zoom. In the example, when zooming in the tiles turn black while they load new imagery. It also happens with non-satelite imagery. What I want to so is have an effect of "sharpening" tiles, where they turn from their blury zoomed out state into high detail zoomed in state without turning black while loading.

[2018-03-16 03:10] #583 closed

[2018-03-16 03:10] #582 closed

[2018-03-16 08:20] Maverick87Shaka commented on #562
I take the cheap-ruler-cs from the latest dev build and imported in my projects. It's work and I think I can use it for my purpose.  I just have some "doubt" on how to get other information. I'm taking the distance using the suggested function: `double distMeters = rulerMeters.Distance(new double[] { 12.19531, 43.83663 }, new double[] { 12.22056, 43.83844 });` , how can I get the elevetion in mete

[2018-03-17 17:05] stars66 opened #588 "It's not working on Samsung 8 SM-G950F"
Unity 2017.3.1
Mapbox 1.3.0
Windows 10

I have built it with only AutomaticWorldSynchronization scene, camera isn't open. I checked camera permission. Other arcore apk(atom visualizer) is working on my phone. Please teach me. thanks

[2018-03-17 20:32] BergWerkGIS commented on #588
Which version of ARCore do you have installed on your device?
This SDK is not yet updated to the latest `ARCore SDK v1.0.0` but still has `ARCore SDK Preview 2`.

If you need to downgrade you can find the APK here:
https://github.com/google-ar/arcore-android-sdk/releases

[2018-03-17 22:47] dblatner opened #589 "Mapbox build failing permanently on iOS"
Mapbox Unity SDK is a incredible good solution but...

I have a compiler Error 'MapboxMobileEvents/MapboxMobileEvents.h' file not found (Symlink Unity libraries doesn't matter), when building a simple project in unity.

I think there is more than a incompatibility problem between FacebookSDK and MapboxSDK. They should both check for available libraries before using its own shipped ones in the SDK.

[2018-03-17 23:35] dblatner commented on #589
I tried this, but it did not help...

[2018-03-18 01:39] stars66 commented on #588
Hi Berg Thanks for your reply. I have built your sdk, didn't touch arcore. Should I update ARCore? If so, how can I do it?

[2018-03-18 02:52] atripathi-mb commented on #589
@dblatner Could you post a screenshot of the settings you are using, please?

[2018-03-18 16:27] genaray opened #590 "Is there a way to use Geocoding in unity applications or server side ?"
Hey there !

Im currently struggling with a iusse. I need to do GeoCoding to determine if a LatLng point belongs to a certain country, or if the Lat/Lng point is in the water for example. It would be pretty interresting to get the area temperature aswell.

I would prefer to do this server side with the mapbox Java api, but otherwise i need to do this client side... Is there a way to do this ?

[2018-03-18 19:44] vetvennarost opened #591 "Do custom Map IDs really work in Mapbox SDK for Unity?"
Hi!

Unity Personal 2017.3.1f1
Mapbox SDK 1.3.0
Mapbox Studio
WebGL

I'm totally newbie to Mapbox SDK for Unity so I apologise if my question seems silly.
But when I put my own Map IDs (from any of my custom tilesets made in Mapbox Studio) to VectorTileFactory script instead of, say, "mapbox.mapbox-streets-v7" Map ID in a sample like InteractiveStyledVectorMap and press 'Play' - I always get sever

[2018-03-18 21:08] dblatner commented on #589
Update: It seems, that the problem ist _NOT_ related to the Facebook Unity SDK, since I created a new project without it and without the PlayServiceResolver asset.

@atripathi-mb : I attached two screenshots, one for the problem description in Xcode, and one for the unity settings.

![mapboxerrorscreenshot](https://user-images.githubusercontent.com/3613737/37571130-d97f411c-2af8-11e8-9ad1-8956c00b

[2018-03-19 06:01] contactzed8 opened #592 "IOS backgroundworker crash or not…"
_Note: If this is a bug or support ticket, please provide the following information:_
* Unity version:
* Mapbox SDK version:
* The platform you're building to:
* A description of what you're trying to do:
* Steps to recreate the bug if appropriate:
* Links to your logs are also helpful:

[2018-03-19 06:05] contactzed8 commented on #592
Hi. Trying to build a simple scene with custom dataset. Crash when launching on the iphone. Sometimes yes, sometimes not and I don't know why. Please help.
<img width="1512" alt="capture d ecran 2018-03-17 a 21 50 51" src="https://user-images.githubusercontent.com/35663042/37580413-d22bb2ba-2b43-11e8-9546-1d99e990055b.png">

[2018-03-19 07:11] atripathi-mb commented on #592
@contactzed8 Are you running with `Dynamic Batching` turned on in your player settings? Try turning it off and check if that fixes the crash.

[2018-03-19 07:53] stars66 opened #593 "Updating ARCore"
Hi I have build your example scene (AutomaticWorldSynchronization). But camera isn't working on my phone Samsung 8 (SM G 950F). Should I update ARCore? If so, how can I do it? Thanks in advance.

[2018-03-19 09:06] contactzed8 commented on #592
Thanks for your reply. Dynamic Batching turned off, I did not try before but only working the first time the application is launched and previous version erased. If I quit and try to reopen it, it doesn't work anymore. grrr…

[2018-03-19 17:18] BergWerkGIS commented on #589
@dblatner could you try if this helps: https://github.com/mapbox/mapbox-unity-sdk/issues/566#issuecomment-370490376

[2018-03-19 17:26] BergWerkGIS commented on #590
@genaray this SDK has wrappers for Mapbox's server side geocoding.
Take a look at the scenes `ForwardGeocoder` and `ReverseGeocoder` here:
https://github.com/mapbox/mapbox-unity-sdk/tree/v1.3.0/sdkproject/Assets/Mapbox/Examples/7_Playground/Scenes

[2018-03-19 19:48] vetvennarost commented on #224
@david-rhodes @Itemshopp Thanks for the code! Please tell me, is it possible to add some other filters beside type and class properties of mapbox-streets-v7? For example, can I make a filter for OSM's IDs or some tags?

[2018-03-19 20:09] atripathi-mb commented on #224
@vetvennarost new filtering system will be available in v1.4.0 . Releasing pretty soon.

[2018-03-19 21:10] ztdraper opened #596 "Transparent background surface"
Hey guys,

I am trying to set up a multi layered custom map in unity and so far Mapbox is working great. The issue I'm currently running into is this: I need to set the tile texture to have a transparent background. This would make the roads or buildings stand out separate, without the normal filler green or whichever color background. Then I would be able to add my own textures underneath and cha

[2018-03-19 21:12] dmp5658 opened #597 "Help Wanted"
I am trying to do add AR navigation to my unity android application. I've got the GeoJSON of the directions through one of the examples but how could I use it to do an arrow like guiding system where it points the user in the direction of where they need to go

[2018-03-19 21:15] ztdraper commented on #592
I have experienced this issue several times recently as well. It usually works again after I run through the build process once or twice more, but this is all with "Dynamic Batching" always off.

[2018-03-19 21:48] contactzed8 commented on #592
No way, can't resolve the crash…

[2018-03-20 03:29] str11ngfello opened #598 "Correlation between height values and real world elevation?"
I'm finding great success translating between lat/lngs and X,Z coords in unity world space thanks to the many great links I've found and the Conversions APIs that are part of the SDK.  I'm plotting points in the map and having a DJI drone fly them in the real world.  There's only one problem, I am hard-coding the altitude.  :)

I can raycast and determine a scaled height on the terrain. (sometimes

[2018-03-20 08:04] Jersshhh commented on #583
Thanks for the response Jordy, however this isn't exactly what I was looking for.

The problem I'm having is that the mapbox map is dynamically loaded in on the app start and places the player at the centre of the screen and generates the map around him.
I'm looking to create a location game set only in a small area and don't want the game(or map) to work if the player isn't near the games locatio

[2018-03-20 19:22] ryanmeasel opened #599 "Map at World Scale does not load"
* Unity version: 2017.3.0f3

* Mapbox SDK version: 1.3.0, as of 12/08/2017

* The platform you're building to: Unity Editor

* A description of what you're trying to do:

I am trying to load a vector tile map at world scale using the provided "MapAtWorldScale.cs". The map will not load. The loading screen continuously appears. All the settings were precisely the same as the `BasicMap` component an

[2018-03-21 10:30] xifarm commented on #541
I'm doning for AR by unity3D.  please tell me ,  when SDK 1.4 will release?
i need to test demo next month.

[2018-03-21 22:21] vetvennarost opened #601 "Ver.1.4.0 - How to choose a specific building to place it on a map?"
* Unity version: 2017.3.1f1
* Mapbox SDK version: 1.4.0
* The platform you're building to: Windows 10
* Example Scene: Data Explorer

Hi guys!

Thank you for great improvments in new version of the Mapbox Maps SDK for Unity (1.4.0)! Building IDs are really great thing.

My problem is that I want to load on my map just several specific buildings, not all of them. I guess I should use a filter optio

[2018-03-21 23:46] Jersshhh opened #602 "how to load Map at same location independent of player lcoation"
Have to recreate this issue sorry

The problem I'm having is that the mapbox map is dynamically loaded in on the app start and places the player at the centre of the screen and generates the map around him.
I'm looking to create a location game set only in a small area and don't want the game(or map) to work if the player isn't near the games location.

I have created my own custom map which I'd l

[2018-03-22 06:13] Vinita18 opened #603 "ARKit tabletop example in v1.4 - How to set the arkit scene as mentioned in the info panel"
For AR examples to work as expected, please add layers with the following names

ARGameObject
Map
Path
Both

How to add this???
any idea?

[2018-03-22 07:14] atripathi-mb commented on #603
@vinita18 you can add layers in the Unity Editor under Edit->Project Settings ->Tags and Layers.
This might be useful - https://docs.unity3d.com/Manual/Layers.html

[2018-03-22 07:25] dingfengboo opened #604 "v1.4 buffer problem?"
when panning the map, some buildings disappear too early.

![1](https://user-images.githubusercontent.com/34928957/37756559-e71c4934-2de4-11e8-8afd-f1fc7fc26729.png)
![2](https://user-images.githubusercontent.com/34928957/37756560-e767986c-2de4-11e8-813d-0d27d6a9b5a6.png)
![3](https://user-images.githubusercontent.com/34928957/37756562-e81b0ad2-2de4-11e8-9e98-a9bfbf266c6e.png)

[2018-03-22 09:04] Vinita18 commented on #603
@atripathi-mb  I have added layers there but nothing changes. In unity editor, the map is generating but on the device, just a blue place is there. In the scene they have mentioned in info canvas that For AR examples to work as expected, please add layers with the following names
ARGameObject
Map
Path
Both

But now which layers do I need to add?? wether vector layers under abstract map script in t

[2018-03-22 10:07] dingfengboo opened #605 "What is the values of "Range Height""
0.1 - 0.5
10 - 100
Two set values are all the same result.

![svjz _ s c9 koq_ku gus6](https://user-images.githubusercontent.com/34928957/37763910-4fc456b4-2dfb-11e8-8ed1-244796959240.png)

![d22 ecj m cf w irlj0tzc](https://user-images.githubusercontent.com/34928957/37763877-2e44e44a-2dfb-11e8-8f57-f00edc031d22.png)

[2018-03-22 11:18] Vinita18 opened #606 "How to change Vector map style at runtime - V1.4"
<img width="545" alt="screen shot 2018-03-22 at 4 44 46 pm" src="https://user-images.githubusercontent.com/34370705/37767564-883a1f16-2df0-11e8-8270-23a96116fc1f.png">

I want to change the map id under Vector data to change my 3d map to 2d.
Basically I want to empty the map id there so I think it will render a 2d map if I reload.
Also I have given the style name to "Custom".

Or is there any othe

[2018-03-22 13:31] specsdhdeveloper opened #607 "ARDelta not registering"
* Unity version: 2017.3.1f1
* Mapbox SDK version: 1.4.0 release (commit db2468047e6a83bd7c21a1a5f3481427102fe06e)
* Building to: ios 11.3 (iPad pro)

Thanks for the updates in sdk 1.4.0! I see some very welcome updates. However I'm having some issues with the provided examples

Trying out the new WorldScaleAR example, It seems the AR synchronization nodes are not registering in the Synchronization

[2018-03-23 01:14] dingfengboo commented on #606
At Vector Factory.
Map id is responsible for defining the data source, not presentation.
If you want to change 3D to 2D, you must change the visualizers layer by layer.
(my understanding, hope not wrong)

[2018-03-23 06:21] Vinita18 opened #608 "Zoom / pan on arkit in unity - v1.4"
camera movement script is not working in ARkit.

[2018-03-23 16:52] atripathi-mb commented on #608
@vinita18 could you give me some more details on the issue? Which AR scene are you using?

[2018-03-23 16:55] MiroMuse commented on #541
@xifarm it's live now 👌Just go to [mapbox.com/unity](mapbox.com/unity) and follow the install flow.

[2018-03-23 18:43] vetvennarost commented on #591
Hi, guys!

In ver. 1.4 this mistake disappeared, so I can now put ID of my custom tileset made in MapboxStudio into the Vector section of my Map Vizualizer instead of Mapbox Streets or Mapbox Streets With Building Ids.

But now the problem is that it can not fetch any data from my custom tileset.

The idea was to choose only certain OSM objects for my map, to make a dataset with it in MapboxStudio

[2018-03-23 19:56] jordy-isaac commented on #606
@Vinita18 Can you let us know a bit more about what you're trying to build so that we can get you the best info? If you change the field to custom you'll need a Map ID from your Mapbox Studio account in the tilesets section.

If you're looking for a good starting point for a 2D map I would have a look at the `LocationBasedGame` in the examples folder.

[2018-03-23 20:08] jordy-isaac commented on #588
Hi @stars66 have you tried again with version 1.4 of the SDK? It's available now: https://www.mapbox.com/unity/

[2018-03-23 23:52] timgoeij opened #609 "Mapbox cannot reinitialize map while using unity's builtin network api"
Hi,

In Unity I have built a server with unity's own network functions, while the server is on and I am trying to reinitialize the map to see another location,  the map dissapears and comes not back. If I look in the hierachy  under the root of the map I cuian see that the childs continuously  changing and never becomes active.

steps to recreate bug:
1: create a host with unity newest networking

[2018-03-24 11:38] ZottiGabriele opened #610 "Range Around Transform Zoomable Map"
In the new 1.40 version of the Unity SDK the Abstract Map component have the new "Range Around Transform" Tile provider, that provides tiles based on the transform of an object, in my case the camera, that moves with keyboard inputs.
Now the problem comes with zooming, since moving the "Target Transform" doesn't update the center coordinates of the map, when you call the UpdateMap method you will

[2018-03-25 06:50] atripathi-mb commented on #610
@ZottiGabriele Could you send me a code snippet of how you are `zooming` ?

Do you use the `QuadtreeCameraMovement` script to do that ?
You would need the updated zoom level in the `UpdateMap` call to zoom the map.

`RangeAroundTransformTileProvider` uses the position of the transform to calculate the center of the map,  if you physically move the camera, you have to use some metric to convert the

[2018-03-25 06:53] atripathi-mb commented on #606
@Vinita18

I am assuming you want to turn off 3d buildings/roads to be turned off? If that is the case, you need to set `StyleName` to `None` .

[2018-03-25 13:19] VinitaSawant commented on #608
I am using tabletop AR scene in v1.4

[2018-03-25 20:28] contactzed8 commented on #592
Do work now with 1.4

[2018-03-26 04:59] dreamycurrentz commented on #541
I am planning to make AR navigation using Unity. Waiting for it.

[2018-03-26 11:05] asadali26 opened #611 "Vector Data State suddenly start showing error. Only load few tiles."
_Note: If this is a bug or support ticket, please provide the following information:_
* Unity version: 2017.2.0f3
* Mapbox SDK version: 1.2.0
* The platform you're building to: Android
* A description of what you're trying to do:
I'm using Mapbox Unity sdk. It works fine but now suddenly Vector Data State showing error and load only few tiles. I'm unable to figure out what happen wrong.
When I bui

[2018-03-26 14:01] jordy-isaac commented on #611
Hi @asadali26 Thanks for the ticket. Can you let us know how we can reproduce this? Do you have any screenshots of what you have configured in the map editor? You can open the map editor from Mapbox > Map Editor from the Unity Editor at the top menu.

[2018-03-26 14:05] asadali26 commented on #611
Hi @jordy-isaac
Yeah I can share the Mapbox Editor Screenshot with you.
Here you go
![mapbox editor](https://user-images.githubusercontent.com/34165125/37911121-a518fbe4-3128-11e8-8697-9e3e0b52d194.PNG)

[2018-03-26 19:47] ZottiGabriele commented on #610
@atripathi-mb I think i haven't explained well enough my problem. I don't want to change the zoom level based on the camera transform, I currently do that with a script based on the QuadTreeCameraMovement.cs that you just mentioned.
In my project the camera transform is the target for the RangeAroundTransformTileProvider, so that when I move the camera transform the map updates correctly repositio

[2018-03-26 20:26] atripathi-mb commented on #610
@ZottiGabriele Ah, thanks for that video. I feel `CameraBoundsTileProvider` is best suited for your requirements. Any reason why you chose `RangeAroundTransformTileProvider`  instead of `CameraBoundsTileProvider` ?

Another alternative could be to use your camera script to update the center as you pan and use `RangeAroundCenterTileProvider`.

`RangeAroundTransformTileProvider` is meant to load til

[2018-03-26 21:16] contactzed8 opened #612 "Please Help(cf Trying to access the properties #364)"
Hi.
I'm trying to access the property of my custom TileSet to enable it in textMeshPro.
I'm new on MapBox, could someone help me to do this. I tried to understand #364 but it's not clear enough for me.
Thanks a lot.

[2018-03-26 22:54] atripathi-mb commented on #608
@VinitaSawant Tabletop AR scene is a starting point for users to create their applications. Camera and interactions are application specific so we do not ship the scene with a camera script.

We have used `LeanTouch` asset from Unity asset store in the past to set up interaction with the tabletop AR example.

Also, another alternative is to switch the `Extent Type` to `RangeAroundCenter` and use t

[2018-03-27 00:43] jim-martin opened #615 "`Point` Layers are always placed on tile center"
Layer visualizers with primitive type `point` always appear at tile center, rather than the feature's location. Feature placement options don't seem to have an effect.

Reproduction steps:
1. Create a new abstract map in a new scene
2. Add a new Vector Layer Visualizer
3. Setup the layer visualizer like this:
![screenshot 2018-03-26 17 36 43](https://user-images.githubusercontent.com/9599047/37940

[2018-03-27 04:59] HEATH3N opened #616 "Using the location-based game example with free-look camera"
Can we get an option to load a maximum of X tiles away from our current position instead of whatever the current implementation is that crashes Unity when using a free-look camera because it causes a million different tiles to load?

Changing the player to "walk" with WASD would help also; it's kind of a pain to use the coordinates.

These were both welcome features in MapzenGo

[2018-03-27 07:47] mizhdi opened #617 "Access Token Invalid"
Getting invalid token error.

[2018-03-27 08:00] brnkhy commented on #617
@mizhdi I deleted the picture as you shouldn't share your mapbox key publically like that.
Have you checked it you copied it properly without any empty space at the begining or the end?

[2018-03-27 08:04] mizhdi commented on #617
@brnkhy
May be Great Firewall (of China) caused this

[2018-03-27 08:09] brnkhy commented on #617
@mizhdi I'm not sure, I believe we have users in China but let's see if someone else knows better about this.
Thanks for the report!

[2018-03-27 10:24] BergWerkGIS commented on #617
@mizhdi any error messages in the console after entering your access token and pressing `Submit`?

[2018-03-27 10:39] BergWerkGIS commented on #611
@asadali26 The error your are experiencing is most likely related to Unity itself and/or your setup and not our SDK.

If you search the internet for your error you'll find a ton of proposed solutions, eg
* excluding Unity from your Antivirus
* deleting the `Library` folder
* reimporting all your assets
* starting Unity as administrator
* ...

If you find a solution that works for you it would be g

[2018-03-27 10:47] BergWerkGIS commented on #591
@vetvennarost the log message in your first post show a `Status Code 404` error which means either the tileset or the requested tile did not exist at that time.

As for your second post: do you get any errors in the console?

[2018-03-27 10:51] BergWerkGIS commented on #607
@specsdhdeveloper do you see any blue AR planes or yellow dots in the AR view.
Looks like AR cannot find anything to hold on to.

A video would be greatly appreciated. 🙏

[2018-03-27 11:08] BergWerkGIS commented on #588
Have you checked the app's permissions?
Is `Camera` granted?
It should have been requested on first use but maybe that went wrong.

Depending on which version of ARCore you are on you might have to downgrade.
The SDK is still on `ARCore SDK Preview 2` and not yet on v1.

As mentioned [above](https://github.com/mapbox/mapbox-unity-sdk/issues/588#issuecomment-373950468) you can get the APK here:
htt

[2018-03-27 11:08] BergWerkGIS commented on #593
Closing in favour of #588 which is the same question by the same user.

[2018-03-27 11:08] #593 closed

[2018-03-27 11:36] a100447739 opened #618 "How to placing AR object at specific longitude and latitude?"
I am using WorldScaleAR scene and wondering how to place AR object at  specific  longitude and  latitude?

[2018-03-27 13:08] specsdhdeveloper commented on #607
Here goes : https://youtu.be/ddhPcy99pm4

[2018-03-27 17:20] jordy-isaac commented on #612
Hi @contactzed8 Can you let us know a bit more about your use case? What have you tried so far and where have you gotten stuck? Were you able to create your tileset in Mapbox studio and get it into Unity? Knowing more about where you are in the process and what exactly your end goal is will help us get you the right info.

[2018-03-27 17:44] jordy-isaac commented on #616
Hi @HEATH3N. Have you tried adjusting the `Extent Options` on the `Map` game object? I would suggest `Range Around Transform`. Then you can set the `Visible Buffer` and `Dispose Buffer for the tiles that are loaded. However, please keep in mind that this example is best for looking at real world map data from a top-down view, like a paper map. It is less appropriate for building 3D scenes with a m

[2018-03-27 17:54] jordy-isaac commented on #599
Hi @ryanmeasel we recently upgraded to version 1.4. Please let us know if you run into trouble after upgrading. You can get the latest version here: https://www.mapbox.com/install/unity/

[2018-03-27 17:54] #599 closed

[2018-03-27 18:23] contactzed8 commented on #612
Hi. Ok sorry I have to be clear :-)
To understand how I had to do, I created a simple tileset with one feature (point, layer "Takoma").
I attached a prefab in Unity to place a gameobject at this location. I would like to be able to access the data of the layer and make it visible when I want in a TextMeshPro object.
Screenshots attached :-)

<img width="810" alt="capture d ecran 2018-03-27 a 20 12

[2018-03-27 20:50] atripathi-mb opened #619 "[Enhancement] Provide functionality to replace features with prefabs."
Users need a way to easily replace features by prefabs or other objects based on feature id or properties.

Our SDK should provide an easy and reliable way to replace features, should include methods to scale/rotate to fit the footprint.

Initial work for this effort here https://github.com/mapbox/mapbox-unity-sdk/tree/ReplaceBuildingWithPrefab

[2018-03-27 23:36] HEATH3N commented on #616
Oh wow, completely missed that. Sorry to waste your time!

[2018-03-27 23:36] #616 closed

[2018-03-27 23:39] mizhdi commented on #617
There is a problem with the company’s network and it’s done at home  @BergWerkGIS

[2018-03-27 23:39] #617 closed

[2018-03-28 00:30] atripathi-mb commented on #616
@HEATH3N I would also suggest looking at the `RangeAroundCenter` option as well.

[2018-03-28 07:56] smtabatabaie commented on #101
Hi @david-rhodes  , I also faced the error "MapboxMobileEvents/MapboxMobileEvents.h file not found" and as instructed added "$(SRCROOT)/Libraries/Mapbox/Core/Plugins/iOS/MapboxMobileEvents/include" in my Header Search Paths. But after that I'm facing with 12 new errors regarding that "Undefined symbols for architecture arm64". I have attached an image of some the errors mentioned in xcode, I'll ap

[2018-03-28 09:18] mizhdi opened #620 "Is it possible to make a 3d map of China"
I am a newcomer and have no way to start

[2018-03-28 12:01] richabwt opened #621 "issue in integration of mapbox in unity"
hello

recently i am using unity 2017.3.1f1 and mapbox-unity-sdk_v1.4.0 and the problem is that when i am using LocationBasedGame scen (example of mapbox) everything is working perfectly but the thing is that the map is get stuck on mobile screen means its not moving not zoomout , zoomin

so, please suggest me the correct way to do it i invest my two days in working over it .
thanks in advance
_No

[2018-03-28 13:23] zugaldia commented on #101
cc: @rclee fyi.

[2018-03-28 18:03] apavani commented on #101
@smtabatabaie Did you try deleting and replacing the xcode project? What version of Unity and XCode are you using? Can you try a different Unity verison? Also try reimporting the Mapbox Unity SDK (Caution: If you download the latest v1.4 of our Unity SDK, it has breaking changes from our previous versions)

[2018-03-28 19:51] jordy-isaac commented on #621
Hi @richabwt Can you let us know what mobile device you are building to?

[2018-03-28 20:01] contactzed8 commented on #612
OK I finally found how I could do.
<img width="1042" alt="capture d ecran 2018-03-28 a 21 59 51" src="https://user-images.githubusercontent.com/35663042/38053112-8a5169de-32d3-11e8-8115-588c58c88d90.png">

[2018-03-28 20:02] #612 closed

[2018-03-28 20:24] atripathi-mb commented on #615
@jim-martin We should document this 😄

[2018-03-28 21:12] atripathi-mb commented on #621
@richabwt Sorry if I don't understand the issue you're seeing. The `LocationBasedGame` scene does not come with an interaction script attached. Are you seeing this issue after attaching the `QuadtreeCameraMovement` script or your own interaction script?

[2018-03-28 21:19] MiroMuse commented on #542
@brnkhy @greglemonmapbox can we close this?

[2018-03-28 21:30] MiroMuse commented on #570
@Gusten let us know if you need anything else here! Going to close this issue in the meantime.

[2018-03-28 21:30] #570 closed

[2018-03-28 21:30] atripathi-mb opened #622 "[Enhancement] Separate data fetching from factories"
**Factories doing data fetching themselves is limiting**
At the moment factories fetch and start the data processing and since they don't have events or any outside connection, it's not possible to get that data from any other module in a easy/intuitive fashion.

I'm considering to extract data fetching part to another class/module. Then factories will have a reference (or not. I'll come to that)

[2018-03-28 21:30] atripathi-mb commented on #491
Part 1 done, part 2 in #622 .

[2018-03-28 21:30] #491 closed

[2018-03-28 21:46] atripathi-mb commented on #542
@MiroMuse All functionality already merged into v1.4. Closing this issue.

[2018-03-28 21:46] #542 closed

[2018-03-28 21:51] atripathi-mb commented on #286
Implemented in v1.4.0

[2018-03-28 21:51] #286 closed

[2018-03-28 21:59] atripathi-mb commented on #334
@BergWerkGIS is this ticket still valid?

[2018-03-28 22:20] atripathi-mb opened #623 "[Enhancement] Follow strategy pattern for tile factories"
As an effort to simplify out API's we should use the strategy pattern to create different tile factories.
This will reduce the amount of redundant code and also make the factories more modular.

Terrain Factories are a good example, theres is lot of repeated code across different flavors of terrain mesh generation.

Separating data fetching from tile factories is part of this effort. #622

[2018-03-28 22:23] atripathi-mb opened #624 "[Enhancement] Fix progress update on factories."
The progress update mechanism in tile factories is not reliable and is not thread safe.
As we move towards using Unity Jobs system and using threading solutions for our SDK, we should reconsider the progress update .

Related issue #505

[2018-03-28 22:26] atripathi-mb opened #625 "[Enhancement] Runtime editing of feature properties/style."
As a user I want to be able to change the properties/styling of features on the map.

Solution:
Provide API calls and UI elements to quickly and easily do that.

This work will also enable us for edit time styling

[2018-03-28 22:29] abhishektrip opened #626 "[Enhancement] Save layers, visualizers for reuse"
As a user I want to be able to save my layer settings & reuse them for a different map/scene.

We use serializable data structures for layers/visualizers. Expose API's to save and load from templates to enhance the UX.

[2018-03-28 22:31] MiroMuse commented on #615
@jordy-isaac @morgane see above - we should document this.

[2018-03-28 22:32] atripathi-mb opened #627 "[Enhancement] Integrate UI with tileJSON metadata. (dropdown for layers & properties available)"
As a user I want to see all the layers that are available from the tileset source I specified.

We have tileJson metadata for the tileset, which contains all the information that remove the guesswork from the UI. Integrate the tileJSON information with the AbstractMap UI.

[2018-03-28 23:08] #358 closed

[2018-03-28 23:10] MiroMuse commented on #411
Hey @jordy-isaac, check this out for our documentation sprint 👍 Closing for now - please reopen if you need anything @edyvice !

[2018-03-28 23:10] #411 closed

[2018-03-28 23:11] MiroMuse commented on #537
Closing this for now, let us know if you need anything else.

[2018-03-28 23:11] #537 closed

[2018-03-28 23:12] MiroMuse commented on #524
Closing this for now, let us know if you need anything else.

[2018-03-28 23:14] MiroMuse commented on #547
Closing this for now, let us know if you need anything else.

[2018-03-28 23:14] #547 closed

[2018-03-29 05:20] richabwt commented on #621
no i didn't attach QuadtreeCameraMovement  script in it i just used it as an example. But i also tried it out from this link
http://www.yudiz.com/design-your-map-in-mapbox-and-integrate-it-in-unity-part-1/?fb_comment_id=1336749689769250_1525624974215053#f186effe5f68518

This link is just the same what i want to do.

but the problem is that i didn't find the so many option in  my inspectorpanel tha

[2018-03-29 05:22] richabwt commented on #621
@jordy-isaac  i am using redmi 5.

[2018-03-29 06:15] richabwt commented on #621
@atripathi-mb  hey i also attach FlyCamera.cs script but it also not working properly.

[2018-03-29 08:50] smtabatabaie commented on #101
Thanks very much, Yes I built the Unity Project two times , I use Unity 2017.3 and Xcode 9.3.
I also tried creating a new Unity project and importing the latest mapbox package.

[2018-03-29 12:26] richabwt commented on #87
hey is there anybody to help i am getting little confused in integrating mapbox-unity-sdk_v1.4.0 in unity 2017.3.1f1 as i know  mapbox-unity-sdk_v1.4.0  is the latest version but i can't find vector tile factory in mapbox and also maptype in image factory of mapbox so please let me know is these option is removed from the latest version

[2018-03-29 16:18] MiroMuse commented on #505
Closing in favor of: https://github.com/mapbox/mapbox-unity-sdk/issues/624

[2018-03-29 16:18] #505 closed

[2018-03-29 17:36] specsdhdeveloper opened #630 "Change ImagerySourceType of AbstractMap in runtime"
I am able to load custom tilesets generated from mapbox studio in Abstract Map through the inspector without error. However I would like to be able to switch back and forth between a custom style and, say, mapbox street style.

Is it possible to use ImagerySourceType to change it in Abstract Map at runtime or does it require a separate GameObject/resetting the program?

Is my question related to #

[2018-03-29 20:16] bourgeoismaxime opened #631 "Add using for Vector2d and Mathd"
Hello,
Using Unity 2017.3.1f1 here, for both Mapbox Unity SDK 1.3 and 1.4 I had to add in some files the following lines :
    using Vector2d = Mapbox.Utils.Vector2d;
    using Mathd = Mapbox.Utils.Mathd;
Otherwise I have an error for ambiguous call between UnityEngine and Mapbox struct/class.
Would it be possible to add them on your side so we do not have to add them at every update ?

Thanks,
Ma

[2018-03-29 20:41] atripathi-mb commented on #631
@bourgeoismaxime Thanks for pointing this out. Do you mind creating a Pull Request for these changes? Will be happy to review and add them to our next release.

[2018-03-29 20:59] bourgeoismaxime commented on #631
I'll try to do that when I'll have time

[2018-03-30 01:05] apavani commented on #101
are you sure you don't have the `Symlink Unity Libraries` checkbox checked?
https://github.com/mapbox/mapbox-unity-sdk/issues/101#issuecomment-347295507

[2018-03-30 06:38] husnainyousaf88 opened #633 "Unloaded Tiles Appear"
I am using Latest Mapbox SDK with Unity 2017. I want to load at least 20 tiles in each Direction ie(NEWS) before scene starts. The issue is sometime the loading canvas disappear and unloaded tiles(with black unload default material) appears on the screen. Is there any check which i can use to see if all tiles are loaded.
Thanks,

[2018-03-30 06:40] atripathi-mb commented on #621
@richabwt the tutorial you linked above is built on an older version of the SDK, we released version 1.4 last week. While most of the API’s are the same, there might be features and functionality that have been added or changed from previous releases.

Also, I am not sure what FlyCamera.cs is? It is not part of our Sdk as far as I know.

We can answer specific issues that you have with the SDK.

H

[2018-03-30 06:43] smtabatabaie commented on #101
Hi @apavani , Thanks very much. Yes it is not checked. I set the Architecture in build settings from Universal to ARM64 and now it works fine, But I don't think it's good practice.

[2018-03-30 06:47] atripathi-mb commented on #87
@richabwt vectortilefactory is setup using the `Vector` section under AbstractMap inspector. Maptype is now `Style Name` under `Image` section

[2018-03-30 06:54] richabwt commented on #621
@atripathi-mb I also thought this is the problem of version mismatch but how can i achieve that features which are shown in that link with my latest version of mapbox sdk.

[2018-03-30 07:00] richabwt commented on #87
@atripathi-mb Thanku for your answer i find it but i am trying to achieve features like this link
http://www.yudiz.com/design-your-map-in-mapbox-and-integrate-it-in-unity-part-1/?fb_comment_id=1336749689769250_1525624974215053#f186effe5f68518

but i think this tutorial follow the older version of mapbox so please let me know is there any updated tutorial or link to do it.

[2018-03-30 07:15] richabwt commented on #87
@atripathi-mb  Thanku for your reply i find it but i didn't find any integration link of latest version mapbox sdk in unity please help me out.

[2018-03-30 18:53] #615 closed

[2018-03-30 19:05] atripathi-mb commented on #621
@richabwt The tutorial that you have linked is not from Mapbox, unfortunately we cannot update the tutorial, but we will be happy to answer any specific question you have.

[2018-03-30 20:48] apavani commented on #598
@str11ngfello We released a new version of our SDK last week.
We added a couple of new methods that might help you:
In AbstractMap we have `QueryElevationInMetersAt` & `QueryElevationInUnityUnitsAt` methods
Also, `GeoToWorldPosition` can return the elevation in unity units for a lat long.

Let us know if that helps

[2018-03-30 20:58] atripathi-mb commented on #610
@ZottiGabriele Let us know if we can help you with something. Closing this for now.

[2018-03-30 20:58] #610 closed

[2018-03-30 20:59] atripathi-mb commented on #608
@VinitaSawant Closing this ticket. Let us know if you have questions.

[2018-03-30 20:59] #608 closed

[2018-03-30 21:21] atripathi-mb commented on #603
@Vinita18

You need to add Unity Layers. Vector layers are for adding features to your map.

Could you give us some more details -
Which device are you using ?
Which Unity version
Which device OS version.

Steps to recreate the issue will be helpful as well.

[2018-03-30 21:22] atripathi-mb commented on #604
@greglemonmapbox @brnkhy Could you take a look at this issue please.

[2018-03-30 21:24] atripathi-mb commented on #605
@dingfengboo Thanks for pointing this out. #613 Will fix the issue.

[2018-03-30 23:07] #563 closed

[2018-04-01 15:56] lauri-rustanius commented on #618
Hi! You can use the GeoToWorldPosition method in the AbstractMap class.

[2018-04-01 23:36] nshaposhnik commented on #588
+1, it's not working on Samsung SM-G950F after upgrade to Android 8. Tried both old apk (from mapbox-ar-unity repo), and created new project with version 1.4 of the Mapbox SDK, it's not working. Using  ARCore SDK Preview 2 (version  0.91.171204143).

I'm trying to launch WorldScaleAR scene (or AutomaticWorldSynchronization for old repo), and what I see is exactly what is seen if launching "play" i

[2018-04-01 23:48] apavani commented on #588
@nshaposhnik
Can you confirm if the ARCore supported checkbox is checked in the Player Settings in Unity while building out the apk?
<img width="415" alt="screen shot 2018-04-01 at 4 46 23 pm" src="https://user-images.githubusercontent.com/8422708/38178664-48605dae-35cc-11e8-8a41-ef8744c9b564.png">

[2018-04-02 00:04] nshaposhnik commented on #588
That was it, missed checkbox, thank you, 1.4.0 now works. Old APK from mapbox-ar-unity have this enabled and is not working, but that repo is deprecated after all.

[2018-04-02 06:12] richabwt commented on #621
@atripathi-mb hey the tutorial i linked is diffinately based on integartion of mapbox. I also reattach the link, and the link is below

http://www.yudiz.com/design-your-map-in-mapbox-and-integrate-it-in-unity-part-1/?fb_comment_id=1336749689769250_1525624974215053#f186effe5f68518

but it is on older version of mapbox. i want to do it with latest one .

[2018-04-02 16:05] atripathi-mb commented on #618
@a100447739  Use the `GeoToWorldPosition` method on the `AbstractMap` to get positions in Map space. You can use these positions to spawn your objects.

Or if you want to have custom data, you might want to create a custom dataset using Mapbox Studio and create a tileset to consume in Unity. Let me know which option solves your problem best and we can make sure you have all the information you nee

[2018-04-02 16:43] atripathi-mb commented on #621
@richabwt The tutorial is about using Mapbox Unity SDK but it not written by someone at Mapbox so we will not be able to update the tutorial.

From what I can gather from the tutorial, you can easily achieve it by using our `LocationBasedGame` prefab. We have made setting up common use cases as simple as plug and play.  You can add the `QuadTreeCameraMovement` script for zoom/pan.

[2018-04-02 18:46] #605 closed

[2018-04-02 19:27] campeezjesse commented on #589
Please Help. I have the same problem. I have deleted and reinstalled SDK. Added to header search path, tried to build every possible example etc.
 Everything works fine in editor but will not build to Xcode. I have updated to latest version of Mapbox, Unity, and Xcode. No change.

[2018-04-02 20:00] atripathi-mb commented on #589
@campeezjesse Try with target version of 8.0 and above. Also, I have seen this issue go away if I compile the second time, and try things mentioned in #566

[2018-04-02 20:36] campeezjesse commented on #589
I tried with 7.0 8.0 and 9.0
I downloaded the SDK 4 separate times
3 New Unity projects with only the Mapbox SDK in Assets and attempting to run a demo.

 In Xcode i have used a new bundle ID for each attempt.

Jesse Holt
Jesse@campeez.com<mailto:Jesse@campeez.com>
Www.campeez.com<http://Www.campeez.com>

On Apr 2, 2018, at 1:00 PM, Abhishek Tripathi <notifications@github.com<mailto:notifications@

[2018-04-02 20:55] greglemonmapbox opened #639 "null ticket"

[2018-04-02 21:01] greglemonmapbox opened #640 "null ticket"

[2018-04-02 21:04] greglemonmapbox opened #641 "Schedule out texture creation tasks"

[2018-04-02 21:10] campeezjesse commented on #589
I have even gone as far as creating all 3 new accounts ( Mapbox Unity and Xcode )
 The SDK will not work. I have spent 3 days on this already.

Jesse Holt
Jesse@campeez.com<mailto:Jesse@campeez.com>
Www.campeez.com<http://Www.campeez.com>

On Apr 2, 2018, at 1:00 PM, Abhishek Tripathi <notifications@github.com<mailto:notifications@github.com>> wrote:

@campeezjesse<https://github.com/campeezjesse>

[2018-04-02 21:18] greglemonmapbox opened #642 "Spawn objects at lat/long"

[2018-04-02 21:21] atripathi-mb commented on #589
@campeezjesse Apologies for all the trouble you had to go through. Could you give us some more details to reproduce this issue on our end. Screenshot of your Unity Player settings, device version, device type, xcode version and settings would be really helpful.

As far as I know, this issue is not related to accounts on Mapbox or Unity. We have not been able to consistently reproduce the issue, se

[2018-04-02 21:31] campeezjesse commented on #589
I completely understand. I wish i could build something with as few issues as all of you at Mapbox have built!

 What current settings would you like? I have changed so many now I do not even know where to begin.

 The current screen I’m using:
[image1.jpeg]
Not sure if you can see this or not. But it is just a new project in a new unity. Only change is to the target min as 8.0.

Jesse Holt
Jesse@

[2018-04-02 22:39] greglemonmapbox commented on #639
@jim-martin Thanks for your feedback, would love to get some user Q's/workflow questions going.

[2018-04-03 01:44] campeezjesse commented on #589
Just as a last attempt, i tried to install Xcode on a different Mac, with a new account. Then used a new Mapbox account. Same result. I throws the error

Jesse Holt
Jesse@campeez.com<mailto:Jesse@campeez.com>
Www.campeez.com<http://Www.campeez.com>

On Apr 2, 2018, at 2:22 PM, Abhishek Tripathi <notifications@github.com<mailto:notifications@github.com>> wrote:

@campeezjesse<https://github.com/cam

[2018-04-03 02:59] campeezjesse opened #644 "'MapboxMobileEvents/MapboxMobileEvents.h' file not found"
_Note: If this is a bug or support ticket, please provide the following information:_
* Unity version: 2017.3
* Mapbox SDK version: 4.0
* The platform you're building to: iOS, Xcode last two versions

 I have researched this problem and tried every documented solution I could find.
* Build target 7.0, 8.0, 9.0.
iPad only, iPhone only, any device.
Manually add framework and embedded Binary
add new

[2018-04-03 06:12] richabwt commented on #621
@atripathi-mb Thanku Abhishekh, yeah i implemnted this feature and am also set the custom dataset in my mapbox but again i am facing a problem, i want to replace these dataset with my gameobject it my be cube ,sphere or any 3d character and for this i follow this one

http://www.yudiz.com/add-custom-dataset-points-to-mapbox-map-and-integrate-them-in-unity/

but again the problem is that i can not

[2018-04-03 06:30] tboogh commented on #644
I've run into the same problem, for me the generated xcode projects are missing a couple of items. First open the XCode project and go to the **Build Settings** tab and search for **Header Search Paths**, double click to the row and press the **+** button and add a line and paste this into it ```$(SRCROOT)/Libraries/Mapbox/Core/Plugins/iOS/MapboxMobileEvents/include/```

I also had to manually lin

[2018-04-03 13:36] campeezjesse commented on #644
I have not tried to link the libz yet. Thank you so much for the suggestion. I will try it this morning and let you know!

Jesse Holt
Jesse@campeez.com<mailto:Jesse@campeez.com>
Www.campeez.com<http://Www.campeez.com>

On Apr 2, 2018, at 11:31 PM, Tobias <notifications@github.com<mailto:notifications@github.com>> wrote:

I've run into the same problem, for me the generated xcode projects are missi

[2018-04-03 13:43] JorgenEngenNapstad opened #645 "Smooth zooming with moving camera"
I'm trying to make a map setup based on the ZoomableMap example, but where the Camera is moving around in the scene, and zooming uses a combination of the Camera's Orthographic Size and Mapbox' Zoomlevel.

I want the map to scale relatively to the content I have drawn out in my scene already, so that the content don't have to be redrawn based on Camera position or Zoom level. I managed to do this

[2018-04-03 13:56] #644 closed

[2018-04-03 14:00] aniall-8 opened #646 "Plugin conflict with mapbox and Google Firebase"
* Unity version: 2017.3.0f1
* Mapbox SDK version: 1.4.0
* The platform you're building to: Android
* A description of what you're trying to do: Just a simple variation of the Location Provider
* Steps to recreate the bug if appropriate:
* Links to your logs are also helpful: https://pastebin.com/7H8A4p9G

I'll start off by saying that I have the ARcore sdk installed in my project.

So I've found t

[2018-04-03 14:43] jordy-isaac commented on #646
Hi @aniall-8. Would you mind letting us know what device you're building to and providing a screenshot of your settings? Also, have you tried updating Unity to 2017.3?

[2018-04-03 14:55] aniall-8 commented on #646
I'm using a samsung s8. What settings specifically do you need to see? I'l provide everything I can.

I haven't tried updating unity, I was advised not to as I'm quite far into the project, do you think it would be safe to try? My project is for my final year in college and I've 2 weeks to complete it, if I badly mess up the project it could potentially wreck my whole degree..So I'm kinda scared t

[2018-04-03 15:36] ahokinson opened #647 "Abstract classes that implement Monobehaviour routines should allow for inheritance via protected virtual access modifiers."
I've made this point before in other issues I've submitted and I just updated to 1.4.0 where the issue persists.

If AbstractMap.cs is intended to be abstract and built upon further to create specialized maps, the use of Awake, Start, and other MonoBehaviour methods may need to be modified.

In my specific case, I would like to use Awake() and Start() in my inherited class, but am blocked from doi

[2018-04-03 15:38] BergWerkGIS commented on #646
@aniall-8 if you already have ARCore in your project don't need any of the Mapbox AR stuff, you are free to delete (or not import) the AR related folders.

These are:
![image](https://user-images.githubusercontent.com/4549888/38259595-b86592dc-3765-11e8-8166-79d0a51b9e41.png)

[2018-04-03 15:44] JorgenEngenNapstad commented on #645
I figured out that I needed to use 0,0 as the input coordinate in the UpdateMap function to make it work, instead of sending the current camera position or the maps CenterLatitudeLongitude. I guess it makes sense as the center of the map never changes.

Not sure if this is a good way to do it though. I feel like I'm doing everything differently than how it's meant to be done.

[2018-04-03 15:48] aniall-8 commented on #646
@BergWerkGIS  I tried that last night but the error persisted

[2018-04-03 16:07] atripathi-mb commented on #621
@richabwt `Map Visualizer` gets automatically setup in v1.4, Vector Tile Factory is the same as Vector section in v1.4. You don't need to create a vector tile factory instead just setup parameters that you would have set in a `ModifierStack`.

[2018-04-03 16:37] jordy-isaac commented on #646
@aniall-8 Please make sure that your Android dev environment is up to date. I think the Unity version might be the best place to start. See here: https://developers.google.com/ar/develop/unity/quickstart

Hope this helps!

[2018-04-03 16:37] atripathi-mb commented on #642
@jeffrobernard If you have a list of lat/long to spawn the game objects, you could use `SpawnOnMap` script provided with our examples.

[2018-04-03 16:48] campeezjesse commented on #642
I would also like more information on this subject. I am searching for a way to use the points in my datasets to spawn objects.
 The goal is to add interactive objects to a map in AR for an iOS app

[2018-04-03 16:49] atripathi-mb commented on #647
@ahokinson Please create a pull request and we can evaluate how best to allow access to such requirements.

Also, would calling your method after `OnInitialized` event is triggered be a viable solution?

[2018-04-03 17:27] ahokinson commented on #647
If AbstractMap.cs inherits from MonoBehaviour, I don't feel like further use of MonoBehaviour methods for inherited classes should be restricted by private modifiers. So while I'm sure that I could get OnInitialized to work for me, it doesn't change the fact that inherited classes may have valid uses for MonoBehaviour methods.

I'll put together a PR.

[2018-04-03 17:32] #611 closed

[2018-04-03 17:38] jordy-isaac commented on #603
@Vinita18 Are you still having trouble? If so please reopen this ticket and let us also have a look at your build and player settings.

[2018-04-03 17:38] #603 closed

[2018-04-03 17:45] jordy-isaac commented on #602
@Jersshhh Have you tried checking out the LocationBasedGame example in version 1.4 of the SDK? I would start there. You can also edit the range displayed on the `AbstractMap.cs` in the `ExtentOptions` instead of the default camera bounds.

![screen shot 2018-04-03 at 10 42 34 am](https://user-images.githubusercontent.com/33474236/38265900-0a56ded2-372c-11e8-8444-d43f490fe2f4.png)

[2018-04-03 17:47] #458 closed

[2018-04-03 17:47] #490 closed

[2018-04-03 17:48] #641 closed

[2018-04-03 17:49] jordy-isaac commented on #498
If you're still having trouble with this in version 1.4 please open and update the ticket so that we can check into it. Thank you!

[2018-04-03 17:49] #498 closed

[2018-04-03 17:49] BergWerkGIS commented on #646
@aniall-8 I didn't fix anything and you don't need to re-import the Mapbox SDK.

If you look at the folder `Assets/Mapbox/Core/Plugins/Android/` in your project you'll see more files than in the screenshot above.

Delete the additional files so that your folder looks the same as the screenshot above.

[2018-04-03 17:49] #143 closed

[2018-04-03 17:49] #298 closed

[2018-04-03 17:50] #640 closed

[2018-04-03 17:50] #403 closed

[2018-04-03 17:50] #639 closed

[2018-04-03 17:50] aniall-8 commented on #646
I deleted all the files that started with 'support' and now I can build! Thank you so much, I owe you a beer

[2018-04-03 17:52] jordy-isaac commented on #239
If you're still having trouble with version 1.4 please re-open this ticket.

[2018-04-03 17:52] #239 closed

[2018-04-03 17:52] #445 closed

[2018-04-03 17:53] #525 closed

[2018-04-03 17:54] jordy-isaac commented on #478
Please re-open this ticket if we can be of any further help or email help@mapbox.com

[2018-04-03 17:54] #478 closed

[2018-04-03 17:55] #177 closed

[2018-04-03 17:56] atripathi-mb commented on #645
@JorgenEngenNapstad This is a little tricky situation since your camera moves and your map's center is still the original `CenterLatitudeLongitude`.
For smooth zoom you need to move your camera such that it always points at the location that you were looking at. I made this simple change to my zoom function to achieve the desired result
[code]

[2018-04-03 17:56] #592 closed

[2018-04-03 17:57] #588 closed

[2018-04-03 17:58] jordy-isaac commented on #567
@seddikouaz You can still use the location provider project and use a custom style you create in Mapbox Studio. Here's a guide on how to do that: https://www.mapbox.com/help/unity-custom-map-style/

[2018-04-03 17:58] #567 closed

[2018-04-03 18:03] atripathi-mb commented on #647
@ahokinson

Yes, will add this to our coding /contribution guides for future releases. Thanks for pointing this out.

[2018-04-03 18:58] jordy-isaac commented on #584
Smoother zoom is something we will work on improving in the future.

[2018-04-03 18:58] #584 closed

[2018-04-03 19:00] jordy-isaac commented on #591
Please reopen this ticket if you're still having issues and let us know of any console errors. @vetvennarost

[2018-04-03 19:00] #591 closed

[2018-04-03 19:00] #590 closed

[2018-04-03 19:01] #598 closed

[2018-04-03 19:02] jordy-isaac commented on #401
@sabienAmb If you're still having issues with this on version 1.4 please re-open the ticket.

[2018-04-03 19:02] #401 closed

[2018-04-03 19:09] jordy-isaac commented on #620
Hi @mizhdi! Happy to help. It's very possible. The first thing to do would be to download Unity and Our Maps SDK for Unity.

Mapbox Maps SDK for Unity: https://www.mapbox.com/install/unity/
Unity 2017.3.1: https://unity3d.com/get-unity/update

Then if you check the examples folder for the `InteractiveStyledVectorMap` example where you can enter in any location you want to view. You could also chec

[2018-04-03 19:09] #620 closed

[2018-04-03 19:09] atripathi-mb commented on #609
Hi @timgoeij , Could you provide us with some more details on how to reproduce this issue.
Screenshots or videos showing the setup will be great.

[2018-04-03 19:12] jordy-isaac commented on #606
@Vinita18 Please open this ticket again if you need some additional help.

[2018-04-03 19:12] #606 closed

[2018-04-03 19:58] demi180 opened #648 "SpawnInsideModifier not resetting on scene reload (with fix)"
This has been the case since we started working with Mapbox, just now got around to fixing it. For our use we often need to just reload the current scene (easier than trying to reset specific objects).

With previous versions the buildings were also having trouble reloading, but now that seems to be working. But trees and other objects spawned with the SpawnInsideModifier are not properly respawni

[2018-04-03 20:31] #602 closed

[2018-04-03 20:37] jordy-isaac commented on #562
We have cheap-ruler-cs in 1.4 of the SDK now. If you're still having issues with this please open this ticket or a new one. Thank you!

[2018-04-03 20:37] #562 closed

[2018-04-03 20:40] greglemonmapbox commented on #596
Hi @ztdraper,

Just to clarify, please let me know if I am not correct here - you are attempting to define this custom style with a transparent background in Mapbox studio, and then referencing this style in the MapId property of the Image section of AbstractMap?

[2018-04-03 20:47] jordy-isaac commented on #630
Hi @specsdhdeveloper Thanks for the ticket. Can you let us know a little bit more about your use case and/or what you've tried so far? This will help us get you some useful info.

[2018-04-03 20:55] jordy-isaac commented on #633
Hi @husnainyousaf88 You can specify how tiles load in the `Extent Options` on the `AbstractMap.cs` script. If your still seeing tiles not loading can you screenshot them so that we can have a deeper look?

[2018-04-03 21:10] timgoeij commented on #609
hi @atripathi-mb , the first issue I had was when unity start the host and I choose from a dropdown list a new location after the map was initialized. The map dissapears and when I look in the hierachy under the map gameobject I saw the map was continuous adding and removing tiles without setting a tile active.

In the time between creating this is issue and your response I found a workaround to p

[2018-04-03 21:13] ztdraper commented on #596
Hey @greglemonmapbox,

Yes, you are correct. I apologize for not updating my inquiry previously.

My current workaround is a custom shader that removes a specific color from the texture. In this case, I have used a bright red for the background, which is then removed on Unity's end. This solution works pretty well, but there is some bleed over that occurs when other pixels are within a certain thr

[2018-04-03 21:16] campeezjesse commented on #618
Could this work on a tabletop size AR map as well?
 I am searching for a way to add spatial sound anchored to specific coordinates. Both on the World scale and tabletop maps.

[2018-04-03 21:28] atripathi-mb commented on #609
@timgoeij I see that you're using v1.3 of our SDK. Have you tried using the latest version 1.4?
We made a lot of improvements to our SDK and added a new UpdateMap method to the abstract map which should take care of the workaround that you had to do with `UpdateMapProperties` on CameraMovement Script.

To debug this issue, I would need to know details on how you update map to the new location ? Wi

[2018-04-03 21:29] atripathi-mb commented on #618
@campeezjesse yes, it should work.

[2018-04-03 21:39] greglemonmapbox commented on #596
Suggested workaround is below. Unfortunately, as far as I know, Mapbox studio does not return the alpha channel of a style, but we can use a Mapbox specific shader that supports color-based transparency as a workaround. This workaround assumes that you are using "TerrainMaterial" as the Base Material in the Terrain section of Abstract Map.

1. Change the shader of the TerrainMaterial to "Mapbox/Ra

[2018-04-04 05:53] leonmak commented on #589
I have this problem, used `8.0` and `iPhone Only` in player settings, and
`$(SRCROOT)/Libraries/Mapbox/Core/Plugins/iOS/MapboxMobileEvents/include` in `Header Search Paths` in `Build Settings` in Xcode

[2018-04-04 07:30] timgoeij commented on #609
@atripathi-mb I haven't tried 1.4 yet. And I am going to look at 1.4.

This is how I update the map before using the workaround after unity start the host.

` void Awake () {

        basicMap = FindObjectOfType<MapboxQuadTreeBasicMap>();
        mapboxQuadTreeCameraMovement = FindObjectOfType<MapboxQuadTreeCameraMovement>();
        UIDropdown.AddOptions(dropdownValues);
        UIPanel.gameObjec

[2018-04-04 08:18] specsdhdeveloper commented on #630
Hi Jordy,

I'm interested in switching between a historical map georeferenced in mapbox studio and mapbox's `street` style in runtime.

I'm using SDK 1.4's `AbstractMap`'s style name dropdown to set the map id. I can switch back and forth between the custom map id and the default style.

Eventually, I'd like to be able to switch between both in runtime with a GUI button.

I've only tried that, loo

[2018-04-04 12:28] brnkhy commented on #577
@atripathi-mb I believe we fixed this in SF sprint, before v1.4 release right?

[2018-04-04 14:38] husnainyousaf88 commented on #633
I am using Range Tile Provide for loading tiles in bulks. but I resolved the issue by calling OnRegister and Create Height maps in recursions.

[2018-04-04 15:58] atripathi-mb commented on #577
Yup fixed in 1.4

[2018-04-04 15:58] #577 closed

[2018-04-04 16:04] brnkhy commented on #623
I extracted terrain logics as strategies and create a TerrainFactoryBase using those.
I also changed the TerrainLayer class to utilize these classes and removed old factories afterward. It all works at the moment.

Repo; https://github.com/mapbox/mapbox-unity-sdk/tree/terrainFactoryRefactor

There's only one little part I want to talk so far;
We have two different type of strategies, elevated ones

[2018-04-04 16:50] atripathi-mb commented on #623
@brnkhy Changes look good. Could we combine `ElevatedTerrainWithSidesStrategy` & `ElevatedTerrainStrategy` into one strategy since both can be achieved by turning on/off one parameter.

I agree with you, we need a broader discussion on how to tackle our data fetching calls in general. Let's talk about cleaning up the data fetching part as a separate issue.

[2018-04-04 18:30] campeezjesse opened #651 "Loading POIs from Vector layer or GeoJson"
_Note: If this is a bug or support ticket, please provide the following information:_
* Unity version: 2017.3
* Mapbox SDK version: 4.0
* The platform you're building to: Xcode / iOS 11.3
I am attempting to add annotations to a map that is displayed in AR.
I am trying to add POIs to my map with interactive annotations. Something similar to this https://www.mapbox.com/ios-sdk/examples/runtime-multi

[2018-04-05 12:27] JorgenEngenNapstad opened #653 "Bug: "ArgumentException: path" when deleting cache"
I'm getting an "ArgumentException: path" when I try to delete cache through the Mapbox -> Clear Caches -> All menu. It started happening after upgrading to version 1.4.0.

* Unity version: 2017.3.1f1
* Mapbox SDK version: 1.4.0
* The platform you're building to: Running in Editor only
* A description of what you're trying to do: Delete cache
* Steps to recreate the bug if appropriate:
* Links to y

[2018-04-05 12:45] JorgenEngenNapstad commented on #653
Also, when I tried to delete the cache from the path in the log above manually, I'm still having an issue where some tiles are still having the previous map style (I modified my custom map, but it's still the same MapId).

[2018-04-05 14:30] brnkhy commented on #633
@husnainyousaf88 20 tiles in each direction means 41x41 = 1681 tiles and server requests in one frame. Increasing `Default Web Request Timeout` might help a little but really, you shouldn't need that many tiles at one.
Have you checked the zommable map demo scenes for example? It changes the zoom level depending camera position/height so you won't need to load too many tiles when camera is zoomed

[2018-04-05 15:13] brnkhy commented on #604
@dingfengboo
It's a happening because of the overzooming. Buildings start to appear outside their parent tiles, then sometimes tile goes out of screen and gets disabled with its children still on screen. We just look at feaure clamping in overzooming situations.
You shouldn't get this at zoom levels smaller than or equal to 16.

[2018-04-05 15:34] BergWerkGIS commented on #653
@JorgenEngenNapstad that's a strange error.

Any chance you already had manually deleted `mapbox.terrain-rgb.cache` and Unity was still running when above error occured?

If you manually delete caches you'd have to
* close Unity
* delete `<YOUR-MAP-ID>.cache` file in `C:\Users\jorra\AppData\LocalLow\Goontech AS\Syna\cache\`  just `mapbox.terrain-rgb.cache`

[2018-04-05 16:25] brnkhy commented on #604
cc @atripathi-mb

[2018-04-05 17:56] Magniel commented on #101
I had same problem. Switching Universal to ARM64 did not work. Build is working after adding libs.tdb library to **Linked Frameworks and Libraries**. More here: [https://stackoverflow.com/questions/18053546/undefined-symbols-for-architecture-i386-deflate-referenced-from-platcompres](url)

[2018-04-05 20:54] ahokinson commented on #524
@MiroMuse, I don't understand why this issue was closed. While I could make the changes to my code locally, as @BergWerkGIS suggested, the issue persists in the SDK. I wouldn't mind doing another PR for this as long as someone agrees with my proposal.

[2018-04-05 21:01] jordy-isaac commented on #648
Thanks for letting us know and for your feedback on this @demi180

[2018-04-05 21:09] atripathi-mb commented on #648
@brnkhy Could you take a look please?
@demi180 Thanks for reporting this issue.

[2018-04-05 21:10] apavani commented on #524
@ahokinson That was perhaps by accident. @BergWerkGIS and I agree with you suggestion.
Can you please submit a PR so that we can work on this issue? Thanks!

[2018-04-06 11:53] #344 closed

[2018-04-06 17:58] pierotofy commented on #607
Noticing the same problem (using latest `develop` branch). I think the reason is that AR deltas are computed from the AR Root's object transform, but AR Root's transform is never updated?

[2018-04-06 23:44] CedricVandelaer opened #657 "Poor performance with "Group Features" disabled"
Hi, for my thesis I'm trying to create an application using Mapbox and the HTC Vive. I was first using Mapbox SDK version 1.2 but have now upgraded to 1.4. My Unity version is 2017.3.1.

After the upgrade I'm getting really bad performance when trying to render the building meshes using an AbstractMap and the Streets tileset. I've found the problem to only occur when I disable "Group Features" in

[2018-04-07 08:35] stars66 commented on #114
I want to change map style in runtime. I used MapImageFactory.
mapImageFactory._customStyle.Id = my_map_style;
But nothing happens.
How can I do it?

[2018-04-07 15:36] mihakrajnc opened #658 "Geocode search windows can incorrectly convert doubles"
When using the geocode search window to find locations, in some locales the gps coordinates will get formatted with a comma instead of a dot, e.g.:

"42,23551, 33,123555" instead of "42.23551, 33.123555 ".

AbstractMap will then not be able to parse the coordinates.

_Note: If this is a bug or support ticket, please provide the following information:_
* Unity version: 2018.1.0b12
* Mapbox SDK vers

[2018-04-08 08:18] dingfengboo opened #660 "operator "Is Equal" is wrong"
v1.4
At vector layer visualizer -> Filters
The effect  of "is equal" is "<=" but not "=="

[2018-04-08 21:53] JorgenEngenNapstad commented on #653
@BergWerkGIS That might have happened. But I get it even if I delete both cache files manually, restart Unity, and then try to delete the cache again.

[2018-04-09 10:54] brnkhy commented on #658
this is probably due to local device culture info so we should parse values with culture info set correct instead of letting .net use device culture.

[2018-04-09 11:08] brnkhy commented on #657
@CedricVandelaer just a little background of that option; as you noticed when you uncheck that, it creates a gameobject for each feature (building in this case) and when you check it, it merged features into one mesh (up to 65k vertices).
You're loading 5x5=25 tiles and if it's a big and populated city, like New York for example, that means probably thousands of buildings and gameobjects in the sc

[2018-04-09 15:47] utkarshdwivedi3997 opened #661 "PositionWithLocationProvider isn't continuous"
I'm trying to move an avatar on a map using the PositionWithLocationProvider. I've also tried ImmediatePositionWithLocationProvider. It seems that no matter what I do, the avatar jumps on the map at different times, instead of constantly updating the position when the device moves. I've tried setting the UpdateDistanceInMeters to 0.1 in the DeviceLocationProvider, but that doesn't work either. It

[2018-04-09 18:43] brnkhy commented on #660
@dingfengboo nice catch, you probably already found it but changing `LayerPropertyIsEqualFilterComparer` class to this fixes the issue;

[code]

[2018-04-09 19:27] MiroMuse commented on #524
@ahokinson sorry about that! @apavani is right, closed in error. Looking forward to your PR!

[2018-04-09 21:53] campeezjesse opened #663 "Using Geocoder prefab in tabletop example"
* Unity version: 3.1
* Mapbox SDK version: 4.0
* The platform you're building to: iOS

I am trying to test the Geocoder prefab with the tabletop example.
 In the editor, I can type in the search info but when I hit return the map does not change. This is true in runtime as well.
When I build out to the device the keyboard appears, I can type in the info but there is no change to map.

[2018-04-10 04:16] dmp5658 opened #664 "Issue with DirectionFactory building on Android"
_Note: If this is a bug or support ticket, please provide the following information:_
* Unity version: 2017.3.1f1
* Mapbox SDK version: v1.4.0
* The platform you're building to: Android
* A description of what you're trying to do:
Using Googles ArCore camera I'm trying to build an AR Navigation for walking, right now in DirectionsFactory I set up wp to be two different coordinates. This draws the

[2018-04-10 10:57] brnkhy commented on #658
I guess this is good to close after @atripathi-mb's fix above.

[2018-04-10 10:57] #658 closed

[2018-04-10 10:58] brnkhy commented on #660
fix merged to dev branch, thanks again @dingfengboo

[2018-04-10 10:58] #660 closed

[2018-04-10 17:54] demi180 commented on #648
@brnkhy yes, you're right. Our particular case isn't moving around the map, we're just using one chunk at a time. I'd be just as happy to keep all the cached data on reload.

I could probably just add a DontDestroy and a check to our map object to circumvent this problem entirely, now that I think about it. I can even do that without modifying any of your scripts. I have no specific need to re-ran

[2018-04-11 12:18] DigohD commented on #661
Hello!

I have the same issue. I get a position update about once every 10 seconds, which is way worse than what is seen in for example Pokemon GO. "Solved" this somewhat by having a separate player object lerp it's position towards the location object, but this means the position on the map is always a bit behind.

If you find out a way to make the actual position more accurate and frequently upd

[2018-04-11 13:29] JorgenEngenNapstad commented on #653
@BergWerkGIS Sorry for the late reply. Here is the log file.

[Editor.log](https://github.com/mapbox/mapbox-unity-sdk/files/1898982/Editor.log)

[2018-04-11 15:18] BergWerkGIS commented on #653
@JorgenEngenNapstad thanks for the log file.

Finally I'm able to reproduce the issue.
You are using the `Experimental (.NET 4.6 Equivalent)` scripting runtime and that's causing the issue.
Works with the default `Stable (.NET 3.5 Equivalent)`.

I'll look into it.

[2018-04-11 15:28] BergWerkGIS commented on #653
Hm, that looks like a bug in the experimental runtime to me - also tried with `Unity@2018.1.0b13` - same error.

@JorgenEngenNapstad commenting this line should fix it for you till I figure out a proper solution:

https://github.com/mapbox/mapbox-unity-sdk/blob/db2468047e6a83bd7c21a1a5f3481427102fe06e/sdkproject/Assets/Mapbox/Core/mapbox-sdk-cs/Platform/MbTiles/MbTiles.cs#L154

[2018-04-11 16:30] JorgenEngenNapstad commented on #653
@BergWerkGIS Thanks, that took care of the error.

I'm still having cache issues though. After I use Clear Caches -> All or Current Scene, I'm seeing tiles in two different styles like in the image below:

![image](https://user-images.githubusercontent.com/35730930/38630143-5cb330f0-3db6-11e8-8be4-ed42dcbe9296.png)

[2018-04-11 17:28] utkarshdwivedi3997 commented on #661
I am currently using PositionWithLocationProvider. The issue is that Unity is very inconsistent about updating the position. Sometimes it updates after moving 5m but other times it seems to not update for 15m, even if I have the UpdateDistanceInMeters set to 0.1. Lerping helps a lot, but I was hoping if there was a way to make the updates consistent.

I've used the following devices for testing:
S

[2018-04-11 17:39] atripathi-mb commented on #661
@utkarshdwivedi3997 we have been seeing similar issues with Unity location updates. We are actively working on improving/mitigating this Unity limitation. Can’t tell you exactly when that would be available though :)

[2018-04-11 20:52] TheShoes opened #669 "keep player in the center of screen"
Hello All I was working off of the mapbox location based game template.  Is there a way to keep the player at the center of the screen an have the map move arround him?

[2018-04-11 20:54] TheShoes commented on #669
If i parent the camera to the player and move the players location in the editor changing the lat and long.  the Map never draws to the new location.

[2018-04-11 23:57] MiroMuse commented on #553
Unity's GPS values (on android) are erratic and use float values from 6 to 4 that cut accuracy (tens of meters), so Willy has been working on a custom android solution (that may be useful for all of our AR SDKs)-- cc @heyadam.

[2018-04-12 04:44] dmp5658 commented on #664
Thank you for the reply Jordy, after checking the console I have an error before that, not sure if it's related. its when I try to update the map to the users coordinates, the coords are printed out under the first error
and the second error at the bottom is the one thats not drawing the Direction.
![capture3](https://user-images.githubusercontent.com/23619073/38656762-9ad9fb82-3dea-11e8-9d32-a8c4

[2018-04-12 07:10] brnkhy commented on #657
@CedricVandelaer I believe you can filter them using Optimized Style for vector factory. Which means creating a style in mapbox studio with only the layers you want and using that style in the SDK.
We generally use that to filter out whole layers so I'm not sure if that'll work for just a certain type of buildings for example.
Also you can just filter during visualization and not render them at al

[2018-04-12 11:06] brnkhy commented on #648
@demi180 glad to hear it works well for now. We'll probably look into this soon as a part of bigger review/refactor so won't rush a fix if everything works for you now.

[2018-04-12 12:02] brnkhy commented on #623
@atripathi-mb
ouch forgot to update here; latest (side wall factory removed etc) is here; https://github.com/mapbox/mapbox-unity-sdk/tree/sideWalls

so yea side wall factory is removed and "side wall" in an option under regular elevated terrain now. Disregard that first branch (I'm not deleting it for now just in case).

[2018-04-12 12:49] #618 closed

[2018-04-12 12:53] #661 closed

[2018-04-12 12:55] #645 closed

[2018-04-12 12:55] #633 closed

[2018-04-12 13:07] jordy-isaac commented on #609
Closing this issue. If it's still an issue with the latest version of the SDK, please write back and let us know, @timgoeij

[2018-04-12 13:07] #609 closed

[2018-04-12 13:10] #621 closed

[2018-04-12 13:13] jordy-isaac commented on #630
That might work. Please let us know how it goes. This also does look related to #625 so please keep an eye on that ticket for updates.

[2018-04-12 13:13] #630 closed

[2018-04-12 15:39] MiroMuse commented on #627
We can address this while we

[2018-04-12 23:19] TheShoes opened #670 "Game works on pc but not on android"
so I have been working on this game.  it works great on the pc in the editor but when I move it over to the android phone and hook in the log I keep getting these errors and the game does not work
` E/Unity: NullReferenceException: Object reference not set to an instance of an object
                                          at Mapbox.Platform.Cache.CachingWebFileSource+<requestTileAndCache>c__Ano

[2018-04-12 23:45] #669 closed

[2018-04-13 05:47] atripathi-mb commented on #651
@campeezjesse Apologies to getting back to you so late.

I would suggest using our ARTableTop example. It has everything you need to get setup with a table top AR experience.

For interactivity, I would suggest looking at the `InteractiveVectorMap` example, it shows you how to setup up buildings and show information when you select them.

Also, I would suggest going through this tutorial to get st

[2018-04-13 05:50] atripathi-mb commented on #623
@brnkhy Awesome thanks.

[2018-04-13 10:46] willychang21 opened #672 "placing AR object at specific longitude and latitude"
how to place AR object at specific longitude and latitude in real world , Im using worldscaleAR
I know GeoToWorldPosition method ,and I read  https://www.mapbox.com/mapbox-unity-sdk/api/unity/Mapbox.Unity.Utilities.Conversions.html   , but I still don't konw how to use it.
Can any one help me?

[2018-04-13 15:31] matteo-interfase opened #673 "AbstractMap: spawned GameObjects being "shuffled" when changing zoom level"
* Unity version:
2017.3.1f1
* Mapbox SDK version:
1.4.0
* The platform you're building to:
Android/GearVR
* A description of what you're trying to do:
When the map is initialized my application loads some attributes from the dataset, specifically, the "name" property which has been set on every Point via Mapbox Studio, as you can see here https://i.imgur.com/S9F9JNd.png
I use that attribute in a t

[2018-04-13 15:40] lauri-rustanius commented on #672
Hi @willychang21, the conversion methods can be found from the `AbstractMap` class. You can reference that to get access to `GeoToWorldPosition` method.

[2018-04-13 20:41] greglemonmapbox commented on #604
@brnkhy Have we resolved this issue?
@jordy-isaac This was initially assigned to me, but I believe it falls into @brnkhy 's current knowledge scope more than mine

[2018-04-13 20:56] atripathi-mb commented on #673
@matteo-interfase Can you share the Map Settings with us or steps to reproduce this issue?

[2018-04-13 22:49] atripathi-mb commented on #670
@BergWerkGIS Your thoughts please?

[2018-04-13 22:53] atripathi-mb commented on #664
Looking at the errors, it seems you are using the map while it is still null. I would suggest using the map only after the OnInitialized event is triggered.

[2018-04-14 07:54] willychang21 commented on #672
using UnityEngine;
using Mapbox.Utils;
using Mapbox.Unity.Map;

public class realposition : MonoBehaviour {

    [SerializeField]
    Vector2d _realpos;

	// Update is called once per frame
	void Update () {

        AbstractMap.GeoToWorldPositionXZ(_realpos);

    }
 }

But it didn't work ??

[2018-04-14 12:43] ProfHorse commented on #607
Regarding the blue planes not being detected, I noticed that the default WorldScaleAR scene's Main Camera does not have the culling mask set to show the Unity layer in which the AR planes are drawn on. Checking the ['ARGameObject' layer](https://i.imgur.com/vCDIJ9t.png) shows the planes for me, as shown in the image.

I too am experiencing the ARDelta 0 "Minimum Movement" issue.

[2018-04-14 13:52] willychang21 commented on #672
@lauri-rustanius
using UnityEngine;
using Mapbox.Utils;
using Mapbox.Unity.Map;

public class realposition : MonoBehaviour {

    [SerializeField]
    Vector2d _realpos;
    public AbstractMap ab;

     void Start()
    {
        ab = GetComponent<AbstractMap>();
    }

    void Update() {

    ab.GeoToWorldPositionXZ(_realpos);

    }
}

![image](https://user-images.githubusercontent.com/38349902

[2018-04-14 18:46] jeffrobernard commented on #642
Hello! This was a huge help. I’m able to spawn on map, but how do I link those game object to the field values for those points of interest, showing what they are. Also, how do I get them to spawn above the map? My 3D game object are snapped onto the map on start.
Kindest Regard,

Jeff Bernard

[2018-04-15 21:43] dmp5658 commented on #664
I fixed the first issue in RotateMap.Start() by making sure OnInitialized is trigger. Now I still have this error on Android.
![image](https://user-images.githubusercontent.com/23619073/38783740-3acd1b74-40d4-11e8-9a2c-539ac2d11753.png)

DirectionsFactory already has _map.OnInitialized += Query; so I'm not sure what the issue is now

[2018-04-16 04:37] #657 closed

[2018-04-16 04:38] #651 closed

[2018-04-16 04:38] #589 closed

[2018-04-16 04:39] jordy-isaac commented on #526
Sorry for the late response. If this is still a problem in version 1.4 let us know.

[2018-04-16 04:39] #526 closed

[2018-04-16 04:41] #596 closed

[2018-04-16 07:33] willychang21 commented on #672
I used spawn on map ,they're successfully appear at the specify position what I gave,
but I don't know why the original model will appear on the top off the player
![image](https://user-images.githubusercontent.com/38349902/38795452-e9b104e6-418a-11e8-8a35-7eb56f36ae31.png)
![image](https://user-images.githubusercontent.com/38349902/38795478-fb29f49e-418a-11e8-9376-79c5dc022def.png)
![image](https

[2018-04-16 07:38] willychang21 commented on #672
how do i let object appear in a range randomly

[2018-04-16 08:05] BlueMonk1107 opened #674 "Endless loop"
If _layerMask is set incorrectly in SpawnInsideModifier, it will cause the while loop in the Run function.

			{
				var x = UnityEngine.Random.Range(-bounds.extents.x, bounds.extents.x);
				var z = UnityEngine.Random.Range(-bounds.extents.z, bounds.extents.z);
				var ray = new Ray(bounds.center + new Vector3(x, 100, z), Vector3.down * 2000);
				RaycastHit hit;
				//Debug.DrawRay(ray.origin, r

[2018-04-16 09:35] matteo-interfase commented on #673
@atripathi-mb sure:
these two screenshots are taken from the inspector of the abstract map script:
1) https://i.imgur.com/ckfW6jC.png
2) https://i.imgur.com/iLx4DH8.png
while this is screenshot of the map editor https://i.imgur.com/7eHKUC9.png

"TurbineSpawn" is a modifier that handles the instancing of custom gameobjects on the map when a point is found on the Json.
[TurbineSpawn.zip](https://git

[2018-04-16 10:01] dingfengboo opened #675 "Some POIs disppeared at low level"
When zoom out to low level, some POIs disppeared.
I think this is good for performent and looking.

I want to make some adjustments, but can not find how to set.
please help.

[2018-04-16 11:06] BergWerkGIS commented on #670
@TheShoes unfortunately I cannot deduce the problem based on your error message.

Could you set the define `MAPBOX_DEBUG_CACHE` which should give more verbose output about caching and get back with the new logs.

Set the define here:
[code]

Also some more information about your setup will be helpful:
* Unity version?
* scripting runtime 3.5/4.6?
* scripting backend Mono/IL2CPP?
* device?
* Androi

[2018-04-16 12:11] lauri-rustanius commented on #672
Hard to tell. Can you show a snippet of the code you're using? You want to probably place the objects after the map has called the `OnInitialized` event.

[2018-04-16 13:33] brnkhy commented on #622
I did a POC for this, based on the unified terrain factories branch (#623).
Simply extracted tile fetching part from terrain factory base (used terrain just to test, this'll be applied to all obviously);
[code]
DataFetcher here is the new class. You register to some events like data recieved and error, then make FetchTerrain calls using tile ids. Factory then passes the result to the strategy. Not

[2018-04-16 15:04] BergWerkGIS commented on #653
Even after `Stop` and `Play`?

Clearing caches only affects the files on disk not the already created Unity objects.

[2018-04-16 17:01] atripathi-mb commented on #622
@brnkhy Really digging this pattern. Still not fully sold on `DataFetcher` being a ScriptableObject though. I'll try out this branch and discuss . Over all it looks great 👍

[2018-04-16 17:16] brnkhy commented on #622
@atripathi-mb scriptable object thing is all about my love for using Unity editor as dependency injection container.
If you don't make it a SO, you'll have to do all injection yourself, pass info multiple levels, create setter functions, add extra clutter to files etc.
If you make it a SO, anyone can create and bind it anywhere easily. On the negative side, file management is painful as well of co

[2018-04-16 18:47] greglemonmapbox opened #677 "null"

[2018-04-16 18:51] #677 closed

[2018-04-16 19:09] jordy-isaac commented on #675
Hi @dingfengboo. Can you let us know a bit more about your use case? Please let us know what you're building and what you're looking to accomplish with the zoom and POIs. What have you tried so far and where have you gotten stuck?

[2018-04-16 19:13] campeezjesse opened #678 "Zoomable Tabletop map staying on plane"
_Note: If this is a bug or support ticket, please provide the following information:_
* Unity version: 2017.3
* Mapbox SDK version: 4.0
* The platform you're building to: iOS

 I am trying to use a zoomable map in the tabletop example. Everything works with the exception of the anchor point resets everytime I touch the screen to pan or zoom. In the Mapbox #D map app this does not happen. Once the

[2018-04-16 19:27] atripathi-mb commented on #678
@campeezjesse This is being addressed in v1.4.1 , due to release sometime this week. In the meantime you can check out the release candidate here https://github.com/mapbox/mapbox-unity-sdk/tree/release/v1.4.1

We added a new camera script specifically for AR Table top, https://github.com/mapbox/mapbox-unity-sdk/blob/release/v1.4.1/sdkproject/Assets/MapboxAR/Examples/ARTabletop/Scripts/ARTableTopCa

[2018-04-16 19:50] atripathi-mb commented on #673
@matteo-interfase Looking at the screenshots and `TurbineSpawn` script I don't see any reasons why features will be shuffled. TurbineSpawn looks similar to our PrefabModifier script. Is it possible that the way your label elements are getting shuffled?

You can attach a FeatureBehaviourModifier to your `Turbine` Layer to debug properties of that feature.
![image](https://user-images.githubusercont

[2018-04-16 21:48] atripathi-mb commented on #674
Addressed in v1.4.1

[2018-04-16 21:48] #674 closed

[2018-04-17 00:01] campeezjesse commented on #678
Not sure what I am doing but I can only build and run once. If I make any changes the map responds as before moving every time I touch to zoom. Even once I set all the changes back to the same as the screenshot it will not work.
 If I open a new scene, add the script again even with the changes, build and run it works. Once

[2018-04-17 02:59] campeezjesse commented on #678
I have been testing different settings and I have narrowed it down to  when the map is set to terrain with elevation the map nolonger anchors

[2018-04-17 06:48] dingfengboo commented on #675
I find it is data problem. so close it

[2018-04-17 06:48] #675 closed

[2018-04-17 06:59] tarakinsuide opened #679 "Any beginner level tutorial or documentation for Mapbox AR"
Hi,
I'm new to Mapbox SDK. I'm trying to build an AR app but can't get started due lack of documentation. Where can I find the complete documentation specifically for AR?
_Note: If this is a bug or support ticket, please provide the following information:_
* Unity version:
* Mapbox SDK version:
* The platform you're building to:
* A description of what you're trying to do:
* Steps to recreate the

[2018-04-17 10:51] willychang21 commented on #672
@lauri-rustanius
namespace Mapbox.Examples
{
    using UnityEngine;
    using Mapbox.Utils;
    using Mapbox.Unity.Map;
    using Mapbox.Unity.MeshGeneration.Factories;
    using Mapbox.Unity.Utilities;
    using System.Collections.Generic;

    public class SchoolElement : MonoBehaviour
    {
        [SerializeField]
        AbstractMap _map;

        [SerializeField]
        [Geocode]
        st

[2018-04-17 11:07] tarakinsuide opened #680 "How to add wall and hallways in mapbox for unity 3D"
I'm trying to test this AR application given on your blog: https://blog.mapbox.com/indoor-navigation-in-ar-with-unity-6078afe9d958
and I'm confused how to add add wall and hallways in mapbox for unity?
I've built a custom tileset and style of my indoor environment and have used extrusions for polygons in my tileset.
However, when I try to open the map in unity it turns out to be a flat 2D map whic

[2018-04-17 11:27] jordy-isaac commented on #679
Hi @tarakinsuide! You can find the documentation for our [Tabletop AR example](https://www.mapbox.com/unity-sdk/overview/tabletop-ar/) and the [World-scale AR example](https://www.mapbox.com/unity-sdk/overview/world-scale-ar/) on our [docs page](https://www.mapbox.com/unity-sdk/overview/).

[2018-04-17 11:35] tarakinsuide opened #681 "Mapbox AR placing an object on a LatLong"
Hello,

What tools/script should I use to display an AR object at a latlong using your SDK?
I'm using your SDK for the first time and I didn't find proper resources in your documentation.
If I use WorldScaleAR scene, what changes should I make to display an object at a latlong in my office?

Regards,
Tarak Shah.

_Note: If this is a bug or support ticket, please provide the following information:_

[2018-04-17 11:54] tarakinsuide commented on #681
Any step by step guide would be really helpful.

[2018-04-17 14:28] specsdhdeveloper commented on #607
@BergWerkGIS That did the trick indeed. Thanks!

[2018-04-17 15:35] BergWerkGIS commented on #607
@specsdhdeveloper great to hear.
Thanks for getting back.

[2018-04-17 15:35] #607 closed

[2018-04-17 15:54] jordy-isaac commented on #680
Hi @tarakinsuide Thanks for writing in. The first thing you should know is that it was built on v1.3 of the SDK. To run it, you'll need to either install v1.3 or migrate the project to 1.4. We'll have a migrating doc up on the [documentation page](https://www.mapbox.com/unity-sdk/overview/) very shortly.

As for your custom data you'll need to have it properly configured. You can see how to config

[2018-04-17 15:55] campeezjesse commented on #678
I have also not succeeded in getting the pan to work on touch or keyboard. I also tried a camera script to pan that works on other scenes but does not work in the table top scene.

[2018-04-17 16:03] JorgenEngenNapstad commented on #653
@BergWerkGIS The tile problem actually disappeared.. I'm not sure what fixed it. But it's still not being cleared.. I have tried deleting the cache from the editor while not in Play mode, while in Play mode (then pressing Stop and Play again), deleting the cache files locally and restarted my PC, and I'm still getting an old version of the map.. I'm super confused.

[2018-04-18 01:56] shaneTF opened #689 "No directions example?"
So I have been working with the Mapbox SDK a bit and have got a zoomable map up and running. I'm not seeing any examples of how to perform routing with the SDK though. I have seen that there is supposed to be an example of the directions API in the InteractiveStyledVectorMap, but I'm having trouble finding it. Was it removed or do I have to add something to bring it up? Maybe I'm missing something

[2018-04-18 06:43] BergWerkGIS commented on #653
Oh wow, that's super weird.

----

Any chance that somehow your style got reverted to an old version by accident on https://www.mapbox.com/studio/ ?

----

If your Studio style is correct please try this:
* `Play`
* `Mapbox -> Clear Caches -> All`
*  `Stop`
* `Mapbox -> Setup -> Configuration`:
![image](https://user-images.githubusercontent.com/4549888/38914943-130efe3a-42e2-11e8-820c-2c327fddf745

[2018-04-18 06:47] tboogh commented on #681
There is an example in the zoomable map scene in the script ```SpawnOnMap.cs``` that spawns a prefab at a given location.

Hope that helps.

https://github.com/mapbox/mapbox-unity-sdk/blob/a450ad1a141bac5b54fbbde1eda4f9bf4cfffe03/sdkproject/Assets/Mapbox/Examples/2_ZoomableMap/Scripts/SpawnOnMap.cs

[2018-04-18 08:15] JorgenEngenNapstad commented on #653
I tried the first solution, and that gave me a mix of old and new tiles again. I also have the old tiles in some zoom levels, and the new ones in others:
![image](https://user-images.githubusercontent.com/35730930/38919359-a86a080e-42f0-11e8-9644-208f675d18e9.png)

Whats also weird is that I'm using the mapbox-terrain-rgb layer in Mapbox Studio, but that does not show up at all in the Raster image

[2018-04-18 08:25] JorgenEngenNapstad commented on #653
Updated Editor logs are attached.
[Editor-prev.log](https://github.com/mapbox/mapbox-unity-sdk/files/1923060/Editor-prev.log)
[Editor.log](https://github.com/mapbox/mapbox-unity-sdk/files/1923061/Editor.log)

[2018-04-18 10:03] BergWerkGIS commented on #653
hm, this getting weirder every time ☹️

Maybe you are connected via a proxy that caches stuff too?

you should be set.

Sorry If I wasn't explicit enough before but you'd have to `Play` your scene before copying the log files.
Both of them just contain information about Unity starting up and shutting down - nothing else.

Could you provide a new set of log files after you've played your scene?

Ar

[2018-04-18 11:57] brnkhy opened #690 "Polygon extrusion types aren't intuitive"
**Problem**
Extrusion types under polygon settings aren't intuitive and probably need some tooltips. I was looking for the "flat roofs" option we had before and took me a while to realize min/max height options are technically it.

maybe we can add it to "extrusion type" tooltip?

![unity_2018-04-18_14-52-44](https://user-images.githubusercontent.com/1465390/38930323-2c400454-4318-11e8-98e5-281af1

[2018-04-18 12:10] willychang21 opened #691 "Simple Way to Remove Objects at specific lat/long by touching"
* Unity version: 4.0.1
* Mapbox SDK version: 1.4
* A description of what you're trying to do:
  I'm trying to find a simple way to remove/move objects that I had been putting them at specific
  lat/long by touching screen on mobile.
  what should I  do??

[2018-04-18 12:15] brnkhy opened #692 "Add documetation links to inspectors"
**Problem**

property names aren't intutive sometimes,.Help boxes clutter the UI and long descriptions doesn't work well with tooltips. Also it's not possible to add tooltips on dropbox menu options.

This occured to me when I was checking #690 and I think we can solve this problem and increase the usability of the SDK quite a lot with a change in the inspector.

**Proposed Solution**

Idea origin

[2018-04-18 12:55] JorgenEngenNapstad commented on #653
It might have been reverted.. I replaced it with the one you sent now, and commented out line 138 ( _dbPath = Path.GetFullPath(@"\\?\" + _dbPath); )

I cleared All Cache in Play mode, and the is the resulting logs (Had to zip because of size):

[EditorLogs.zip](https://github.com/mapbox/mapbox-unity-sdk/files/1924049/EditorLogs.zip)

[2018-04-18 12:59] jordy-isaac commented on #678
@campeezjesse We just released v1.4.1 have you tried with the updated version of the SDK?

[2018-04-18 13:03] #680 closed

[2018-04-18 13:03] #679 closed

[2018-04-18 13:15] tarakinsuide commented on #681
Also, do I need to make any changes to the WorldScaleAR scene to start rendering my camera? I built the example scene, but it shows only a blue and orange map instead of camera and the position of that is also not changing with respect to my phone's position.

[2018-04-18 14:14] Naphier opened #693 "[Request] Change log"
Is there any chance you guys could start doing a simplified changelog for releases? 365 commits is a lot to try to read through to see if there are breaking changes.

Thanks!

[2018-04-18 14:57] atripathi-mb commented on #693
Have you tried this? https://www.mapbox.com/mapbox-unity-sdk/docs/05-changelog.html

You can also check the change log on GitHub here https://github.com/mapbox/mapbox-unity-sdk/blob/develop/documentation/docs/05-changelog.md

[2018-04-18 15:03] atripathi-mb commented on #692
@brnkhy with 1.4.1 we should have tooltips for every setting on the UI. If there is still some setting without a tooltip let fix that.

I like the helpURL idea for the panel. We should definitely do that.

We discussed the help url for every setting idea early in our design and decided to go with tooltips because it seemed an overkill to add a button to every setting.

[2018-04-18 15:07] jordy-isaac commented on #691
Hi @willychang21 Without being too certain of your use case I would suggest you check out Unity's docs for [destroying](https://docs.unity3d.com/ScriptReference/Object.Destroy.html) and [moving](https://docs.unity3d.com/ScriptReference/Transform.Translate.html) game objects.

We might have some better ideas if you let us know some more details about what you're trying to accomplish. Thanks!

[2018-04-18 15:35] BergWerkGIS commented on #646
Going to leave this issue open as a reminder to update `support-*-.aar`s.

[2018-04-18 17:33] campeezjesse commented on #678
I have tried to update a couple of times but keep getting the same 4.0 SDK.

[2018-04-18 17:56] atripathi-mb opened #695 "Update repo docs to latest version."
- [ ] Add link to Changelog in Readme
- [ ] Changlelog.md redirects to another page in docs. Remove the redirect?
- [ ] Update Contributing.md

[2018-04-18 23:30] MiroMuse commented on #690
1.4.1 now includes a tooltip for this, so it's complete. Thank you for highlighting @brnkhy!

[2018-04-18 23:40] brnkhy commented on #690
I think you misunderstood @MiroMuse, issue isn't the tooltip itself but finding how to flatten rooftops. Default option, `PropertyHeight` creates sloped rooftops. Min/Max Height options (pretty much equivalent of old "flat rooftops" settings pre v1.4) creates flat roof tops but there's no way of knowing that.

[2018-04-19 00:30] brnkhy commented on #690
@atripathi-mb
oh wow I had no idea that you can actually hove the dropbox itself for selected item tooltip so I was hovering the "extrusion type" label on the left. Totally my bad, sorry about that @MiroMuse
closing this again.

[2018-04-19 00:30] #690 closed

[2018-04-19 07:30] apavani commented on #681
@tarakinsuide If you are on android, make sure you have checked the ARCore supported checkbox in the XR Setting section of Build Player Settings
On iOS make sure that the Graphics API is set to Metal
Let us know which platform you are building on
The Map you see in the screenshot is a reference to give you a context of where on the map are you placed in AR.

[2018-04-19 11:06] tarakinsuide commented on #681
Hi Akash,
Thanks! That worked.
Now the issue is, why am I not able to see the Prefab at the LatLong where I want it to be inspite of giving manual location.
I'm using WorldScaleAR ManualAlignment Scene.
As per the screenshot attached below, the camera is now rendering, thanks to you. But, what is that map which is showing up along with camera feed called? Can I make changes to this map and make it

[2018-04-19 11:48] emorling opened #698 "Road Names as Vectors"
How do you get the road names on the map as vectors? Like we see going on here:

https://www.mapbox.com/designer-maps/#decimal

Thanks

[2018-04-19 12:14] brnkhy commented on #698
@emorling there are separate layers for road/place/country etc names.
In this case, road names can be found in `road_label` layer. You can open DataExplorer scene, active `RoadLabel` layer under Vector data.
Then you'll see one GameObject modifier in the list but I think there's a mistake here so you'll have to change it to something like `ExplorerCountryLabelPrefabModifier` and it'll create road

[2018-04-19 13:22] tayalav opened #700 "How to create `gradient material` by value?"
Hey there!
Could you help, please
How to create `gradient material` by value?
Could you share `PopulationMat` which you mention here, please :pray: https://www.mapbox.com/unity-sdk/overview/data-explorer/

[2018-04-19 13:41] jordy-isaac commented on #698
You can also find out more about roads and other features in the documentation [here](https://www.mapbox.com/unity-sdk/overview/data-explorer/#roads)

[2018-04-19 14:19] juicef opened #701 "Weird scaling of objects?"
Hi. I'm trying to use a pool of objects in conjunction with the Unity API. One issue I encounter is that tiles scale gameobjects and while I do reset the transforms of the pooled objects, I still get an offset of the perceived position. Looking closer at the transforms, I see that some scaling has taken place.

Do you have any experience with something similar to this issue?

[2018-04-19 16:46] Digas17 opened #702 "Mapbox Disk caching / offline mode"
I would like to ask if somebody could help me by explaining me how to implement disk caching on Unity SDK so that my app can work offline. Is it possible that my app works with Mapbox 100% offline?

Thanks for your time

[2018-04-19 17:18] atripathi-mb commented on #702
@Digas17 Unity Sdk comes with ambient disk caching built in. What that means is the first time the users loads map for a specific area, tiles are cached on device. Next time the tiles will be loaded from the cache.

The cache has to be built on the device and you cannot ship with pre built cache in your app.

If you can tell us your specific use case we can discuss in detail

[2018-04-19 17:34] Digas17 commented on #702
I am doing a cultural guide about my country and i would like my app to work with Mapbox 100% without internet connection. is this possible?

[2018-04-19 18:30] jordy-isaac commented on #702
Hi @Digas17 It is possible. However, as mentioned above you users would be required to download the tiles initially as the tiles can't be shipped with your app. I hope this helps!

[2018-04-19 18:31] jordy-isaac commented on #701
@juicef Can you let us know more about your use case, what you're seeing and how we can reproduce the issue?

[2018-04-19 21:13] jordy-isaac commented on #689
Hi @shaneTF For directions, you need the `DirectionsFactory` script on an empty GameObject. It will handle the call and place a mesh on the route.

https://github.com/mapbox/mapbox-unity-sdk/blob/develop/sdkproject/Assets/Mapbox/Unity/MeshGeneration/Factories/DirectionsFactory.cs

There is also a `Directions` prefab which you can drop into a scene.

[2018-04-19 22:34] apavani commented on #700
That project is on this branch
https://github.com/mapbox/mapbox-unity-sdk/tree/PopulationDensityDemo

These lines of code do the gradient
https://github.com/mapbox/mapbox-unity-sdk/blob/PopulationDensityDemo/sdkproject/Assets/Mapbox/Unity/MeshGeneration/Modifiers/MergedModifierStack.cs#L150-L154

[2018-04-20 00:44] apavani commented on #681
How did you do this? Can you share the code
For indoor map, we have [this blog post](https://blog.mapbox.com/indoor-navigation-in-ar-with-unity-6078afe9d958) that might help you.
The project on that blog post has been developed with an older version of our SDK. So, I would highly recommend porting that work over to the our latest SDK so that we can help you better.
[Here's a guide](https://www.map

[2018-04-20 01:24] atripathi-mb commented on #622
@brnkhy Is this work on a branch?

[2018-04-20 03:58] campeezjesse opened #705 "Spawn Polyline On Click of POI"
_Note: If this is a bug or support ticket, please provide the following information:_
 Unity version: 2017.3
 Mapbox SDK version: 4.1
The platform you're building to: iOS Xcode

I am looking for a way to spawn a polyline or polygon from my layers when a game object is clicked

To be more specific, I will have a POI game object for a "Trail" when the user touches the POI the polyline for the trail

[2018-04-20 06:54] tarakinsuide commented on #681
Hi Adarsh,

Which code should I share specifically? Should I share my Unity project here?

[2018-04-20 08:03] tarakinsuide commented on #681
Here are the inspector view of my ArAlignedMap

![inspector1](https://user-images.githubusercontent.com/34171415/39037837-5865789c-449f-11e8-9883-4049fd52fbca.png)
![inspector2](https://user-images.githubusercontent.com/34171415/39037839-59240ff0-449f-11e8-872c-ec13b3ab51e3.png)
![inspector3](https://user-images.githubusercontent.com/34171415/39037841-5aed888e-449f-11e8-95cf-861219d810ee.png)

[2018-04-20 11:13] Digas17 commented on #702
Sorry for the persistence, but how is that download done? Does the user have to use the map online for the first time,and each time he goes through a tile,it saves it locally? Or in the beggining of the app, the user can download it from some online source?
Thanks in advance!

[2018-04-20 11:51] brnkhy commented on #705
If I understand it right, it's an application issue (more than SDK) but assuming you're using custom tilesets for both points and trails, I think you can do something like;
- create trail poi tileset, add a unique property to each poi
- create trail tileset, add unique ids same with their respective pois (so one poi will have same id with one trail)
- create trails as regular lines but change the

[2018-04-20 14:02] brnkhy commented on #622
@atripathi-mb
ouch, I think not. I can't find it either so I'm afraid I forgot to commit&push then switched and lost it (again) ><
All code is already here though, I'll recreate and push it properly this time.

[2018-04-20 17:55] #700 closed

[2018-04-20 19:56] utkarshdwivedi3997 opened #706 "Map Image Factory fails to load first tile"
I'm using a map image factory to render tiles (along with a custom factory for spawning prefabs, a map building factory and a flat terrain factory). When I start the build of the game (either in Editor or an Android or iOS device), the first tile usually fails to load the image factory. Everything else - the custom prefabs and the build meshes etc., - loads for every tile. It's just the images for

[2018-04-21 09:15] #691 closed

[2018-04-22 01:57] UlisesPereida opened #708 "Rotating the camera in LocationProvider"
Unity 2017.3.1
MapBox 1.3

I can't use version 1.4 because the ARCore library tries to overwrite files from the version of ARCore I already integrate. Is there a way to rotate the camera in the scene LocationProvider without having the tiles disappear depending on the angle of the camera?

[2018-04-22 02:04] nshaposhnik opened #709 "Remove walls in AR"
So the question is self-explanatory, is it possible to remove walls from AR view in WorldScaleAR scene?

[2018-04-22 03:56] UlisesPereida commented on #708
Can I actually just import the Mapbox folder and ignore the rest if I'm not interested in the AR stuff? Why is the example scene location provider not longer included in this version? Does the location provider prefab works the same?

[2018-04-22 07:31] willychang21 commented on #709
@nshaposhnik  I suggest u can take a look https://docs.unity3d.com/ScriptReference/Object.Destroy.html
doc

[2018-04-22 22:42] dmp5658 commented on #664
After some troubleshooting the issue does not happen using ARCore 1.1 and Mapbox 1.3

[2018-04-23 02:38] jordy-isaac commented on #708
Hi @UlisesPereida there are some major changes in 1.4 that you'll need to account for. If you want to upgrade we have a [guide for migrating from 1.3](https://www.mapbox.com/unity-sdk/overview/migrate-version/). You'll need to follow that to migrate and not just decline to import the AR folders.

We still have a location provider example and now it's called `LocationBasedGame`. You can also see th

[2018-04-23 02:51] jordy-isaac commented on #709
Hi @nshaposhnik Can you let us know a bit more about what you're trying to accomplish and what you've tried so far? This will help us get you the right info.

[2018-04-23 02:54] jordy-isaac commented on #702
Hi @Digas17 It would have to be initially one time the first time they launch the app or need the tiles.

[2018-04-23 02:54] #702 closed

[2018-04-23 02:54] #698 closed

[2018-04-23 02:56] #673 closed

[2018-04-23 02:57] jordy-isaac commented on #670
@TheShoes Closing this for now but please reopen with the above info if you're still having trouble.

[2018-04-23 02:57] #670 closed

[2018-04-23 08:19] JorgenEngenNapstad commented on #653
@BergWerkGIS I'm afraid we have to stick with `Experimental .NET 4.6`.

It's okay. We will try to look into it a bit more ourselves first.

[2018-04-23 14:12] xeppex opened #710 "AR world scale object at coordinate orientation problem"
[SUPPORT]

* Unity version: 2017.3.1.f1
* Mapbox SDK version: 1.4.1
* The platform you're building to: iOS

Hi,

I'm making a world scale AR application. And I have a problem with the orientation of my placed objects in the world.
I can place objects using my own code based on SpawnOnMap. When I watch the map view
in the editor I can see the objects are placed on the correct position on the map.
B

[2018-04-23 16:09] brnkhy commented on #622
@atripathi-mb it's all here now and ready for review;
https://github.com/mapbox/mapbox-unity-sdk/tree/dataFetcher

[2018-04-23 17:38] emorling commented on #698
@brnkhy I did not get the part about "Then you'll see one GameObject modifier in the list". What list exactly?

[2018-04-23 18:18] abhishektrip opened #711 "[Bug Fix] DataExplorer scene labels use wrong modifier"
The modifier used for label layers in DataExplorer example is using the wrong modifier.
![image](https://user-images.githubusercontent.com/32286016/39145081-88817dce-46e7-11e8-8c48-ed1d0208d22b.png)

They should be using `ExplorerCountryLabelPrefabModifier` instead.
![image](https://user-images.githubusercontent.com/32286016/39145134-b00fd3ea-46e7-11e8-8814-531eec0a52c1.png)

@brnkhy Thanks for ca

[2018-04-23 19:32] utkarshdwivedi3997 commented on #706
The zoom level is 17 and the location is around (39.957425, -75.190921).
The TileErrorHandler didn't catch any exception for me, unfortunately.

[2018-04-23 19:45] utkarshdwivedi3997 commented on #706
The zoom level is 17 and the location is around (39.957425, -75.190921).
I get a request aborted error on all tiles on screen EXCEPT for the ones that do not load. The ones that don't load seem to not even cause any exception - it's like the system forgets about them totally. I'm not really sure what's causing it.

[2018-04-23 19:53] atripathi-mb commented on #706
@utkarshdwivedi3997 Would it be possible for you to put a screenshot of your map settings?

Please share the error and the call stack.

Once the tiles are cached, they are loaded from the cache instead of requesting them from the web. Are you using the `Experimental Runtime .Net 4.6` by any chance?

[2018-04-23 19:56] atripathi-mb commented on #706
@utkarshdwivedi3997 I just realized you are using v1.3.0 of the SDK. We just released v1.4.1 , any chance you can update to the latest SDK and see if the issue exists?

[2018-04-23 20:46] utkarshdwivedi3997 commented on #706
Yes, here's the two frequent errors I'm getting on the tiles:

`2 Exception(s) caused on the tile. Tile ID:17/38165/49640 Tile Type:Mapbox.Map.VectorTile
Request aborted
Status Code 0
UnityEngine.Debug:LogWarning(Object)
Mapbox.Unity.Map.TileErrorHandler:_OnTileErrorHandler(Object, TileErrorEventArgs) (at Assets/Mapbox/Unity/Map/TileErrorHandler.cs:48)
Mapbox.Unity.Map.AbstractMapVisualizer:Factor

[2018-04-23 20:54] utkarshdwivedi3997 commented on #706
@atripathi-mb
Here's the settings for the map:

![mapsettings](https://user-images.githubusercontent.com/22533563/39152489-91d012f8-4716-11e8-8f37-e4216a210c67.PNG)

The MapImageFactory:

![mapimagefactory](https://user-images.githubusercontent.com/22533563/39152582-d424fbd2-4716-11e8-8e7c-cc8950ee1406.PNG)

and the main Mapbox configuration in Unity:

![config](https://user-images.githubuserconte

[2018-04-23 22:25] atripathi-mb commented on #706
@utkarshdwivedi3997 Do you get this error with the `Initialize Map with Location Provider` component  active ?

One thing to note - You need to have the `InitializeOnStart` toggle turned off if you are using the `Initialize Map with Location Provider` script.

cc @BergWerkGIS do these errors ring a bell?

[2018-04-23 22:54] jordy-isaac commented on #710
@xeppex Thanks for reaching out. Which of the example scenes are you using? We have two ways of aligning: Manual and Automatic. I would suggest that you try both to see which works best. With the manual alignment you might achieve better results. For example, if you are in an urban area where there can be poor GPS, the manual synchronization might be better.

Localization is also something that we

[2018-04-24 07:05] xeppex commented on #710
Hi @jordy-isaac,

I really need Automatic and I use WorldAlignmentMap prefab. The app will always be used in the open with good gps accuracy.
There is just one thing that I can't really understand. If you open an app like google maps or apple maps, the direction always seems to be correct +-. Why isn't it with AR?
I actually need to make an app to view different objects on coordinates. I don't rea

[2018-04-24 07:35] tarakinsuide commented on #709
Hi @jordy-isaac I think he's trying to talk about the same problem which in mentioned in the last comment on this thread. Please check out and assist: https://github.com/mapbox/mapbox-unity-sdk/issues/681

[2018-04-24 08:34] veyvin opened #713 "suggest: have a plan to support svg in unity2018"
https://github.com/Unity-Technologies/vector-graphics-samples

[2018-04-24 09:05] tarakinsuide commented on #681
![mapbox_issue](https://user-images.githubusercontent.com/34171415/39177304-91349ae2-47cc-11e8-8b9c-a9989e015733.png)
I'm trying to remove or edit those blue building walls so that only the AR GameObject is visible to me, which in this case is a pink box.

[2018-04-24 10:10] lauri-rustanius commented on #681
Hi @tarakinsuide, you can disable the buildings from being rendered in the `AbstractMap` script in the editor by removing `building` Vector Layer Visualizer. I recommend reading these examples through to get a sense of the SDK's work flow: https://www.mapbox.com/unity-sdk/overview/city-simulator/

[2018-04-24 14:44] tarakinsuide opened #714 "WorldScaleAR provide custom device position using IndoorAtlas"
Hello,

I'm using IndoorAtlas to get indoor position of my device. How do I use that position in the WorldScaleAR to build indoor AR. I've tried WorldScaleARManual and it gave satisfactory results. Now I need to give real location of my device at an instant using my location service provider. What changes will I have to make and any resources that might help me?

_Note: If this is a bug or support

[2018-04-24 15:53] tarakinsuide commented on #681
Thanks I tried it and the walls disappeared. But, now I can't change the manual position of my device. It always starts at the same point. Why?

[2018-04-24 16:00] lauri-rustanius commented on #681
Can you clarify? Do you mean the map location? If so, the map is spawning to the initial GPS location provided by the `LocationProviderFactory`. You can add your own location for the map to spawn into as you wish. Check the `UpdateMap()` method in the `AbstractMap` class.

[2018-04-24 16:11] UlisesPereida commented on #708
So I made the upgrade to 1.4, I don't know if I missed something in the migration process (went back to check it) but when I'm testing, the map is loading the incorrect location, is not the default one of San Francisco and also not my current location. I made sure to enable the location permission in my device and is still loading an unknown location (I don't recognize the location the map is load

[2018-04-24 16:13] nshaposhnik commented on #709
Yes, that's what I meant, and comment from there worked for me. Thank you!

[2018-04-24 16:13] #709 closed

[2018-04-24 17:14] jordy-isaac commented on #714
@tarakinsuide IndoorAtlas is a bit out of the scope of our support here, but I did find some documentation on positioning for you: https://docs.indooratlas.com/develop/positioning-api/

You can check this section of our [documentation for World-scale AR](https://www.mapbox.com/unity-sdk/overview/world-scale-ar/#running-in-the-editor) to see how we use GPS to position currently.

With indoor mappin

[2018-04-25 05:24] #714 closed

[2018-04-25 05:25] #701 closed

[2018-04-25 05:29] jordy-isaac commented on #678
@campeezjesse Can you please post screenshots of your build and player settings? What are the error messages that you're getting?

[2018-04-25 05:33] jordy-isaac commented on #708
@UlisesPereida Which example scene are you using? You can specify any lat lon on the AbstractMap script on the map.

[2018-04-25 05:36] jordy-isaac commented on #710
Orientation and localization are the big challenges with AR now. Our team is working improve AR localization as you mention. #559 is related and one of the ways we are looking to make improvements. The benefit if Mapbox is that we can provide you with location data, but if you don't need localization you might be able to get by just using the ARkit/Core plugins for Unity.

[2018-04-25 05:36] #710 closed

[2018-04-25 05:45] tarakinsuide commented on #714
Let's say I'm getting a latlong from the beacons and my third party location service provider, how can I use it in mapbox AR? Is there any script for it?
Like for worldscaleAr scene we had a location provider or we also used manual alignment, so in same way can I use those scripts with my location?

[2018-04-25 07:12] tarakinsuide opened #715 "How to use custom indoor positioning location"
Let's say I'm getting a latlong from the beacons and my third party location service provider, how can I use it in mapbox AR? Is there any script for it?
Like for worldscaleAr scene we had a location provider or we also used manual alignment, so in same way can I use those scripts with my location?

_Note: If this is a bug or support ticket, please provide the following information:_
* Unity versi

[2018-04-25 23:31] MiroMuse commented on #627
Hey @apavani, can you please evaluate the time estimate placed on this?

[2018-04-25 23:32] MiroMuse commented on #619
This was a POC, closing this in favor of https://github.com/mapbox/unity/issues/597

[2018-04-25 23:32] #619 closed

[2018-04-25 23:50] #642 closed

[2018-04-26 00:02] MiroMuse commented on #627
Closing this in favor of: https://github.com/mapbox/unity/issues/574

[2018-04-26 00:02] #627 closed

[2018-04-26 05:07] jordy-isaac commented on #715
@tarakinsuide The world scale ar example scene could be used as a starting point. See the blog post to show how we used sync points to localize in our indoor mapping demo.

https://blog.mapbox.com/indoor-navigation-in-ar-with-unity-6078afe9d958

[2018-04-26 05:07] #715 closed

[2018-04-26 05:08] #705 closed

[2018-04-26 14:59] utkarshdwivedi3997 commented on #706
@atripathi-mb Updating the API didn't work.
@BergWerkGIS I tried doubling, tripling and even increasing the web request timeout to like 10000. It doesn't work either.

One thing I figured helps is disabling the VectorTileFactory that is responsible for creating buildings. The first few tiles still fail to load, but it is much less frequent. They load much more often if there's no meshes for buildi

[2018-04-26 15:43] jordy-isaac commented on #681
@tarakinsuide Have you tried to taking a look at the properties of the buildings in the vector layer visualizers? You can see what each setting does here. You can change the `Extrusion Geometry Type` to remove the walls only.

https://www.mapbox.com/unity-sdk/overview/data-explorer/#buildings

However, as mentioned in previous tickets, you'll face quite a bit of challenges with indoor mapping and

[2018-04-26 15:43] #681 closed

[2018-04-26 15:48] jordy-isaac commented on #664
@dmp5658 Was this an existing project on 1.3? To use 1.4 and beyond, you'll need to migrate your project. If it's still an issue after migrating, please re-open this ticket. Here's a [migration guide](https://www.mapbox.com/unity-sdk/overview/migrate-version/).

[2018-04-26 15:48] #664 closed

[2018-04-26 16:09] dmp5658 commented on #664
No, it was a fresh 1.4 project. I deleted 1.4 and the re imported 1.3 which worked

[2018-04-26 16:36] jordy-isaac commented on #713
@veyvin Thanks for the ticket and heads up. We'll be looking into this as we prepare for unity2018 with the Maps SDK for Unity.

[2018-04-26 16:36] #713 closed

[2018-04-26 16:41] HNKMaster opened #717 "Getting errors on a project with PlayServicesResolver"
We're having a bad time with adding social network login on our app. We're working with the 1.2.0 version of the SDK on Unity 2017.4.1 (had to upgrade it from 2017.1 for getting social media working), with Gradle compilation mode. We're using a plugin that allows connection with Facebook, Google and Twitter, and had to include their respective SDK to get it working (this include importing PlayServ

[2018-04-26 18:37] atripathi-mb commented on #717
@HNKMaster I don’t see anything Mapbox related in the call stack that you have attached. Stack is pointing to an issue with locale conversion and some manifest issues.
Can you give us more details on how to reproduce the issue or Mapbox specific call stack?

Also, our current sdk version is 1.4.1. The version 1.2.0 you are using is atleast 6 months old. Is it possible to update to the latest sdk a

[2018-04-26 20:41] HNKMaster commented on #717
Updating mapbox didn't worked (and I got compatibility issues with the old project). This is what we did to reproduce the issue:

First of all, the jdk installed is 1.8.0_161

1.- Create a new project (Using Unity 2017.4.1f1)
2.- Download the Firebase SDK (https://firebase.google.com/download/unity)
3.- Extract it and import FirebaseAuth.unitypackage (all of it)
3.- Download and import Mapbox for

[2018-04-26 20:44] atripathi-mb commented on #717
@BergWerkGIS @jim-martin Could you take a look please?

[2018-04-26 20:45] Rahulxx01 commented on #374
How to save position of the player when switching the scenes and when I return to that previous scene it should return to the same position back???

[2018-04-26 22:58] jordy-isaac commented on #706
@utkarshdwivedi3997 Thanks for writing back. Could you screen cap a video of what's happening? This will help us get a better idea of what's going on with the tiles.

[2018-04-26 23:03] atripathi-mb commented on #706
@utkarshdwivedi3997 Also, here is a guide for migrating from v1.3 to v1.4+ https://www.mapbox.com/unity-sdk/overview/migrate-version/

[2018-04-27 14:53] utkarshdwivedi3997 commented on #706
@jordy-isaac yes! Here's a link to the video: https://youtu.be/VaU9WAS783I
You'll notice that three tiles fail to load and show the default loading-grid texture that comes with the mapbox sdk (this is important because I changed the loading texture to a different one). I then move the character around to unload those tiles, and then bring the character back, and this time the tiles load properly.

[2018-04-27 15:30] HNKMaster commented on #717
@BergWerkGIS, I did deleted the duplicated libraries (the old ones) and now is working as intended! Thanks a lot for your input!

[2018-04-29 22:50] emorling opened #719 "Zooming with a lot of custom objects"
I have a Map with a lot of custom GameObjects added to a tile. However, zooming really fast can both congest the map and produce some weird effects.

During zooming between levels OnRegistered() is called in AbstractMap, which in turns is responsible for creating custom GameObjects in a UnityTile using StartCoroutine .

What is the best way for creating lots of custom game objects while zooming? A

[2018-04-30 10:04] emorling opened #720 "Water Vector Layer with 3DPoiMarker?"
Water vector layers seem to come with a 3DPoiMarker (big blue circle) although I never indicated that I wanted anything else besides water? Are you aware of this issue?

[2018-04-30 15:14] brnkhy commented on #720
@emorling
we're aware of this issue. Label layers (water label in your case) in Explorer scene have wrong game object modifiers at the moment. We're tacking this issue here; https://github.com/mapbox/mapbox-unity-sdk/issues/711 and it'll be fixed soon.
Thanks for the ticket! I'm closing this as we're tracking it in other ticket already.

[2018-04-30 15:14] #720 closed

[2018-04-30 20:36] jordy-isaac commented on #719
Hi @emorling, and thanks for the ticket. Can you let us know about the GameObjects that you're spawning in and how you're instantiating them into the scene? With a little more info we might have some things to try to help improve performance.

[2018-04-30 22:12] emorling commented on #719
@jordy-isaac Thanks. Most of them are GameObject(s) that are using a LineRenderer. Others are just Image(s) functioning as markers on the map. The concern is that they are quite in many in our application. The choking happens when the zoom level changes, because at that time new tiles are created. If you zoom very speedily you may swap between multiple zoom levels. I am uncertain if the map will c

[2018-05-01 02:04] campeezjesse commented on #678
i have changed build and player settings multiple times attempting to get this to work. Currently, i do not have it set up anymore.
 Every style of map works other than terrain with elevation. With that one as soon as I attempt to zoom the map comes off plane and floats mid screen.
 The XCode errors are figured out with adding in libz. That is an old issue that has a workaround.
 I moved on to a d

[2018-05-01 02:35] atripathi-mb commented on #678
@campeezjesse the issue with terrain with elevation is a bug on our end. We will prioritize to fix the issue in subsequent release

[2018-05-01 10:27] asevillanom opened #721 "Geolocate one object placed in hierarchy"
Hi!
I have 2 questions:
1. How can I geolocate in the map (adding latitude and longitude) one object placed in the hierarchy?
2. I've seen the SpawnOnMap.cs script in examples but I have a lot of different prefabs to spawn. How could I do?
Thanks in advance.

[2018-05-01 16:59] asevillanom opened #722 "2 problems with triggers when I spawn objects"
I have detected 2 problems:

1. I'm using SpawnOnMap.cs script to spawn a prefab in multiple positions. The prefab have a script with OnTriggerEnter to detect the player and make stuffs. The problem is when the scene starts all the triggers enables.

2. When I use QuadTreeCameraMovement.cs to make zoom like in the ZoomableMap example the colliders of the objects going bigger to make zooming and th

[2018-05-01 17:11] jordy-isaac commented on #721
From the looks of https://github.com/mapbox/mapbox-unity-sdk/issues/722, it seems you figured out how to use SpawnOnMap. Closing this out and we'll address your other questions on the ticket above.

[2018-05-01 17:11] #721 closed

[2018-05-01 17:15] asevillanom commented on #721
Sorry, but I think #721 and #722 are different problems. Could you help me?

[2018-05-01 17:17] asevillanom commented on #722
Sorry, but I think #721 and #722 are different problems. Could you help me?

[2018-05-01 17:26] #708 closed

[2018-05-01 17:28] asevillanom commented on #722
Ok. In my game the player has to found multiple objects in the city. These objects are differents and are geolocated in the map. When the player enters in the trigger of each one the camera of the mobile opens, he can take a photo and gain points.

[2018-05-01 17:36] asevillanom commented on #722
Now, I only can spawn one prefab with SpawnOnMap.cs and I need to spawn more. And when I starts the game the camera opens directly before the player going to the object

[2018-05-01 17:44] asevillanom commented on #722
And when I use QuadTreeCameraMovement.cs to make zoom, for example, the map size changes but not the colliders of the objects.

[2018-05-01 18:09] jordy-isaac commented on #722
@asevillanom Please have a look at the ZoomableMap example in the SDK. You can also see the documentation for it here: https://www.mapbox.com/unity-sdk/overview/zoomable-map/#place-custom-markers

As you can see in the screenshot below, on the script is an array. If you change the `Size` you can add new elements to the array to spawn multiple game objects. Here is also where you specify the lat/lo

[2018-05-02 04:14] jordy-isaac commented on #722
@asevillanom In that case it would be best to use another instance of `SpawnOnMap` for the other prefab(s).

As for changing the scale to match the zoom level, we don't have a code example but you would need to get the value of `AbstractMap.Zoom` or `AbstractMap.AbsoluteZoom` from the `AbstractMap` script and then change the value of `_spawnScale` on `SpawnOnMap` to the value appropriate for your

[2018-05-02 14:40] emorling commented on #719
@jordy-isaac I think it would be interesting to be able Zoom in and out using the Tile(s) that already exist. Especially since we're using vector layers. Once the user stops zooming it would be interesting to load in the correct Tile(s) and populate them with gameobjects. Any thoughts? How would we tackle this?

[2018-05-02 19:06] DalinarKh opened #725 "How can I spawn prefabs on a map based on points I've created in a dataset?"
I've gone through multiple guides and looked at a couple of threads here already but none of them have been very helpful. I realize that it has something to do with the 3DPoiMarker prefab but I don't quite understand how to best use it.

Any help would be really appreciated!

[2018-05-02 19:29] #725 closed

[2018-05-03 08:08] asevillanom commented on #722
Thank you very much @emorling ! I've replaced it but this error appears:

transform.localScale assign attempt for 'tesoro_1PUNTO----(Clone)' is not valid. Input localScale is { Infinity, Infinity, Infinity }.
UnityEngine.Transform:set_localScale(Vector3)
Mapbox.Examples.SpawnOnMap_LIST:Update() (at Assets/_TES/Scripts/SpawnOnMap_LIST.cs:73)

[2018-05-03 08:12] asevillanom commented on #722
@jordy-isaac And how can I fix the problem when the scene starts all the triggers enables?

[2018-05-03 15:11] BergWerkGIS commented on #553
Android native location plugin PR: https://github.com/mapbox/mapbox-unity-sdk/pull/724

[2018-05-03 20:29] DalinarKh opened #726 "Keep getting a generic HTTP error whenever I try to add a new feature to a dataset"
For some reason, the code below (which is supposed to add a new point feature to my dataset) keeps giving me a generic/unknown HTTP error when I try to run it.

[code]

[code]

I suspect it has something to do with choosing the number 21 as my feature id, which is an id that doesn't exist in the dataset. However, according to this: [https://www.mapbox.com/api-documentation/?language=JavaScript#ins

[2018-05-03 20:44] #726 closed

[2018-05-03 22:33] jordy-isaac commented on #722
@asevillanom Can you share a video of whats happening? This might help us get a sense of what's happening.

[2018-05-04 00:05] abhishektrip opened #728 "Low Poly terrain does not generate side walls."
When choosing the low-poly terrain option with the side walls toggle, no side walls are generated.

[2018-05-04 14:20] DaBros316 opened #731 "iOS: "ARKIT/ARKit.h" file no found."
Hi! Im having an issue building for iOS.
Already built my app for Android without any problems but when building the iOS app with xcode 8.2 im receiving the following error:  "ARKIT/ARKit.h" file no found.
Im not using any AR functionality, just the zoomeable map for my app.
Any ideas how to get around this?

[2018-05-04 14:43] briancalvium commented on #559
Is this different from changing the ARKit world alignment mode to use  ARWorldAlignmentGravityAndHeading instead of just gravity? I changed the mode and it does seem to align decently initially (at least on iOS...)

![screen shot 2018-05-04 at 15 38 40](https://user-images.githubusercontent.com/19731838/39633979-74300782-4fb1-11e8-9326-727cb7fdff90.png)

[code]

after the initial alignment it stil

[2018-05-04 17:41] morgane opened #732 "If "Extrusion Type" = None, don't render a mesh"
In Abstract Map's Vector section:

![screen shot 2018-05-04 at 10 40 45 am](https://user-images.githubusercontent.com/104024/39642783-9ebb3e10-4f87-11e8-8517-5fbf057dc224.png)

If Extrusion Type is none, we can assume we _don't_ want to show a mesh at all (right now it still will, and causes a lot of z-fighting). We can also remove/disable Scale Factor, since it won't do anything.

[2018-05-04 17:47] DalinarKh opened #733 "Is it possible to read from a dataset directly instead of a tileset?"
I'm trying to make an app that will allow users to place their own points on the map for others to find, which requires the dataset to be updated regularly. I know how to programmatically upload new features on a dataset and upload it as you would click the 'export' button while editing a dataset on Mapbox, but changes take too long to appear and I'm worried what might happen if a user tries to up

[2018-05-04 18:07] nosmirck opened #734 "HoloLens and MapBox issue"
* Unity version:  2018.1.0.f2
  * Scripting Runtime Version: .Net 4.x Equivalent.
  * Scripting Backend: IL2CPP.
  * Api Compatibility Level: .NET 4.x
* Mapbox SDK version: 1.4.1
* The platform you're building to: UWP.
  * Target Device: HoloLens.
  * Build Type: D3D.
* A description of what you're trying to do:
Render the prefab "CitySimulatorMap" inside the Mixed Reality experience with HoloLens

[2018-05-04 18:15] citizen12 commented on #733
You can use any data store you want.  Look at the MapBox Conversions. GeoToWorldGlobePosition function for translating geo coordinates to locations in a Unity scene.  Also, check out this [this video](https://www.youtube.com/watch?v=_Idze_NzDu0).  Matthew does a great job of showing lots of Unity/MapBox/AR scenarios with full walk-throughs.

[2018-05-04 20:17] DalinarKh commented on #733
@citizen12 Thanks for your response but the issue is it isn't very feasible to request all geo coordinates across the world everytime a player loads up their map when only their nearby coordinates are relevant. And searching for nearby coordinates would be costly because every single coordinate would have to be checked for whether or not they belonged within an area radius. The reason I want to us

[2018-05-05 10:53] genaray opened #736 "Object placement and regional particularities questions."
Dear Mapbox team,

im developing an little multiplayer game in mapbox. Server side i generate dozens of objects which will be placed somewhere near the player once he logs in and the map is loaded. So on the client side i receive multiple arrays of those objects. As next i loop them, extract the server side generated lat/lng position, spawn the certain gameobject in and finally calculate the unity

[2018-05-05 17:58] emorling opened #737 "Camera Bounding Box"
I currently add all the Tile Bounding Boxes to get a Box that I use to Cull objects that are not in view.

Is there a method / or way to get the Bounding Box of what the Camera is showing?

[2018-05-06 21:40] thecommonegret opened #740 "adjust elevation of viewer/player in World-Scale AR?"
Unity version: 2018.1.0f2
Mapbox SDK: 1.4
Building to: Android

Hi, I am using Mapbox's World-Scale AR scene to test out the building visualizer (to eventually bring in other custom data to visualize). Can one adjust the elevation of the 'player' as I am trying to use it while looking out onto NYC from a 23rd floor balcony but the AR buildings are appearing as if I am at street level?

Thank you,

[2018-05-07 05:21] deltamish opened #741 "Example Scenes are not streaming the data"
Hey,

Downloaded and set up Map box as per the instructions provided on the website.
When loaded the scenes the scene remains blank.
In the Citysimulation scene. The scene has just flat grid texture layed out on a plane and reamins that way forever. Similarly the DataExplorer is just displaying the Loading scene.
All while getting the following error

And Yes I tried clearing the cache.
`ArgumentE

[2018-05-07 09:09] BergWerkGIS commented on #568
approaching 300MB:

![image](https://user-images.githubusercontent.com/4549888/39694258-01478e24-51e7-11e8-9d74-12965ba37d59.png)

[2018-05-07 12:14] JorgenEngenNapstad opened #742 "Using WMS with the Mapbox Unity SDK"
Is it possible to include data from a WMS serves through the Mapbox Unity SDK? How would one go about doing it?

[2018-05-07 12:33] BergWerkGIS commented on #742
WMS is not supported out of the box, only WMTS.

But I think it shouldn't be a big problem to write an adapter that takes tile requests `{z}/{x}/{y}` and translates that into WMS requests where the bounding boxes equal the tile extents (helpful methods can be found in the `Mapbox.Unity.Utilities.Conversions` class).
Note: Your WMS would have to serve WebMercator tough.

Or try to integrate an exis

[2018-05-07 12:37] BergWerkGIS commented on #741
@deltamish are you using the experimental .Net runtime 4.6?
There is a known issue that breaks tile downloading and caching.

[2018-05-07 12:49] BergWerkGIS commented on #733
@DalinarKh yes you can read directly from a dataset.

But our SDK doesn't have a C# wrapper for that yet - and no ETA when it will.

For now you'd have to implement your own.
Dataset api docs: https://www.mapbox.com/api-documentation/#datasets

This thread (https://github.com/mapbox/mapbox-unity-sdk/issues/483) might give you some clues on how to start (although it's about inserting into a dataset

[2018-05-07 12:51] JorgenEngenNapstad commented on #742
Thanks @BergWerkGIS I will look into both solutions.

[2018-05-07 13:52] deltamish commented on #741
Yes. I'm using .Net runtime 4.6 since its the only version that supports ML agents

Any workaround for this ?

[2018-05-07 14:05] BergWerkGIS commented on #741
This should help: https://github.com/mapbox/mapbox-unity-sdk/issues/653#issuecomment-380494379

[2018-05-07 14:05] #741 closed

[2018-05-07 14:41] BergWerkGIS commented on #742
Sorry @JorgenEngenNapstad but taking a closer look this is a lot more involved than I had anticipated at first glance.
While Mapbox tiles follow the OSM tiling schema our logic is tied to the `mapbox://` protocol.
We don't have anything place to support custom `http(s)://` resources.

You'd have to implement that starting at the lowest levels of the SDK (eg [TileResource.cs](https://github.com/map

[2018-05-07 15:00] JorgenEngenNapstad opened #743 "Smooth(er) zooming"
Is there any way of achieving the same smooth zoom effects that you have in Mapbox Studio, where the map is being updated based on floats, and not only integer zoom levels?

When comparing the map implemented in Unity with the one in Studio it feels like a lot of the "finesse" of the map disappears.

[2018-05-07 16:49] DalinarKh commented on #733
@BergWerkGIS Thanks for your response! I noticed the 'list features' query in the api docs can take parameters like limit and start. Where can I look to find all the possible parameters available? I imagine a parameter that can limit returned features to only those that are under a radius can be very helpful, if one exists.

[2018-05-07 19:23] joelin1415 opened #745 "How to import dataset from CARTODB"
Hi everbody , please how to import points from cartodb, its a simple URL json request

example
http://andrew.cartodb.com/api/v2/sql?q=SELECT%20*%20FROM%20cambridge_buildings

view
<a href="https://ibb.co/eXiDPS"><img src="https://preview.ibb.co/drQhJn/34544283_56b80a52_f0dd_11e7_84ff_19e8dc11f346.png" alt="34544283_56b80a52_f0dd_11e7_84ff_19e8dc11f346" border="0"></a>

many thanks

[2018-05-07 20:52] jordy-isaac commented on #740
Hi Matthew -

This would be possible, but the implementation of it would be up to you. Something like this would require some math involved with scale, angle of viewing and the horizontal and vertical distance from the real world ground plane. It would be a bit more involved than adjusting the Y axis of the player.

[2018-05-07 20:53] #742 closed

[2018-05-07 21:00] jordy-isaac commented on #737
Hi @emorling Can you let us know a bit more about your use case and what you've tried so far? Screenshots would also be helpful in getting you the right info.

[2018-05-07 21:02] jordy-isaac commented on #743
@JorgenEngenNapstad Thanks for the feedback! Zoom is currently a float value in the SDK, but we'll be working on improving zoom performance in the future.

[2018-05-07 21:02] #743 closed

[2018-05-07 21:36] jordy-isaac commented on #745
Hi @joelin1415

You can use your own data with a custom tileset using the Maps SDK for Mapbox Unity. To do so, you'll need to first create a dataset and export it to a tileset using Mapbox Studio. Once you do you can specify the tileset as your data source on the AbstractMap script.

You can check out the documentation here: https://www.mapbox.com/unity-sdk/overview/data-explorer/#custom-data

[2018-05-07 21:36] #745 closed

[2018-05-07 21:47] jordy-isaac commented on #736
Hi @genaray! Happy to help. There are some general things you can do to better performance for your use case:

1. Adjust the map zoom level to reduce the number of objects displayed in one area.
2. Adjust the Camera Bounds settings in the Extent Options or the unity camera zoom to control the amount of objects shown on a screen.
3. Make sure that there is no colliders on the terrain / generated ge

[2018-05-08 10:48] BergWerkGIS commented on #734
@nosmirck have you set your Mapbox access token?
Your log file contains:

Also, have you set the `Internet` Capabilities`?
Either in Unity or in the exported VS solution.

[2018-05-08 11:02] BergWerkGIS commented on #733
`List features` doesn't do any spatial queries.
It's just paginating through all existing features.

I've never done this myself but according to the docs

https://www.mapbox.com/api-documentation/#list-features

you'd do a
[code]

then get the `id` of the 10th feature and use that for the second page (and so on):

[code]

[2018-05-08 11:32] BergWerkGIS commented on #743
@JorgenEngenNapstad have you looked at the `ZoomableMap` example in the SDK?
That's as smooth as it currently gets.
Studio is using the same (int) based zoom levels as the SDK but you are right the transition there has a lot more "finesse". 😄
We plan on improving the transition but currently it's low priority will at least be several months out.

[2018-05-08 11:53] brnkhy opened #746 "Rooftop atlas UV calculation error"
Atlas UV calculations for rooftops occasionally bugs out and goes out of its designated bounds.

![unity_2018-05-08_14-51-37](https://user-images.githubusercontent.com/1465390/39755655-628d250c-52cf-11e8-90ad-68ace4c69cc8.png)

 We assign each building polygon (rooftop) a segment in the texture sheet. But occasionally you can see that a rooftop will have more than its own segment/texture applied w

[2018-05-08 11:59] JorgenEngenNapstad commented on #743
@BergWerkGIS Yes, we have replicated and modified this example for our own use. I was just wondering if I had missed something which could make it even smoother, but you answered my question, thank you.

[2018-05-08 12:15] brnkhy commented on #732
We talked about this with @greglemonmapbox before as well. I still think flat features are important, both for 2d maps and for layers like water and landuse.
Alternative option is to have both flat and none options there but I feel like the option to hide a feature shouldn't be under `extrusion type`.
Maybe we can change "Material Options" title to a checkboxed title and do not render it if it's u

[2018-05-08 12:17] brnkhy commented on #746
Also I'll try a proper minimum bounding box algorithm here (currently we're using a "budget" version of it). It'll probably be too slow but still worths giving a shot.

[2018-05-08 12:48] brnkhy opened #747 "Atlas texture bleeding problem"
Current atlas/uv implementation doesn't use any padding between segments (i.e. building facades) which causes an inevitable bleeding between segments.

![unity_2018-05-08_15-43-51](https://user-images.githubusercontent.com/1465390/39757811-a18d73ea-52d6-11e8-9be2-1e5763b107c2.png)
white vertical lines above are a result of this issue.

as far as I know, only way to fix this is to add padding to uv

[2018-05-08 14:50] genaray commented on #736
@jordy-isaac Thanks for the help ! The tipp with the performance already was great !

So do i undertstand that right ? Mapbox doesnt support "GeoCoding" or how ever this is called ? Do i really need to use the google maps api for acessing those values based on the location ?

Thanks again :)

[2018-05-08 18:11] nosmirck commented on #734
Yes, it works fine on the Unity Editor. I did it during the step _Setup Mapbox._ from above

Here's a screenshot:
![image](https://user-images.githubusercontent.com/6027290/39774708-a53c86c8-52c9-11e8-9feb-2c1dead4e747.png)

Yes, during the step _Apply all 3 options in Mixed Reality Toolkit > Configure._ from above.

I re-checked the permissions on the VS project, this is what I see:

![image](htt

[2018-05-08 18:25] atripathi-mb commented on #736
@genaray
Few comments -
 1. Have you looked into using Mapbox custom tilesets? You can same the location specific properties as a point feature with attributes and retrieve them using the mapbox unity sdk pipeline.
2. Mapbox has a geocoding/reverse geocoding api available ( address to gps and vice -versa) but this does not provide temperature or time information.

@jordy-isaac already suggested pe

[2018-05-08 21:40] genaray commented on #736
@atripathi-mb @jordy-isaac  Yeah i already took a look at the custom tilesets... but thats not what i want ^^

So my whole game is server based. When a player enters a new self calculated chunk, it sends his lat/lng position to my server. The server processes this request, generates "objects" near the player within the same tile and sends this array of objects back to the client. I need to check s

[2018-05-08 22:03] atripathi-mb commented on #736
@genaray

Could you point to the specific API's you are referring to ? Or what data do you plan to use to get the which tree to spawn? That way I can point you to the right API/data ?

[2018-05-08 22:08] genaray commented on #736
@atripathi-mb @jordy-isaac Well as i Said multiple Times above i only need the temperature, local time and Continent Data of the certain lat/lng.

The specific API im referring to is the Google Maps API ... Their geocoding allowes me to receive lat/lng specific Data ( Country, temperature, time, City it May belong to etc ... ) By using url queries .

[2018-05-08 22:45] atripathi-mb commented on #736
@genaray
As far as I know,  Google's geocoding API will not return temparature or time (I could be wrong) .

Here is what Mapbox geocoding provides you https://www.mapbox.com/api-documentation/#response-object which is equivalent to Google Maps geocoding API at the quick comparison that I did.

I asked you the specific field in the geocode response that you were using to get temperature & time sin

[2018-05-09 09:29] pytan-coder opened #751 "Can't update location in Unity Inspector during runtime"
I'm new to Mapbox and I can't seem to update the location through Inspector in the examples given, specifically the LocationBasedGame example. I'm updating the coordinates through the Search function in the LocationProvider > Editor. Shouldn't it be straightforward to update the location? Am I assuming it is that simple? Thanks for any feedback. Much appreciated.

[2018-05-09 10:06] genaray commented on #736
@atripathi-mb Oh im sorry... i exchanged something... Of course the google maps api doesnt return temperature and time... They once did... but they shutted this part of the service down. Instead there are several weather apis. But google maps timezones api still returns the timezone and its possible to calculate the certain time of a location with those variables.

[2018-05-09 10:44] BergWerkGIS commented on #425
Solved for Android via a custom native location provider plugin: https://github.com/mapbox/mapbox-unity-sdk/pull/724

[2018-05-09 11:40] willychang21 opened #752 "POI Prefab problem"
![image](https://user-images.githubusercontent.com/38349902/39812838-ca640b04-53c0-11e8-983f-201d80daf310.png)
as you can see I using prefab modifier by custom data source(sorry the map id is rude)
but I want to change the object name (not just major_building 1,2,3,4......)
to my properties field's value in my custom dataset
should I modify VectorTileFeature.cs  or has better way to do this??

P.S

[2018-05-09 12:03] brnkhy commented on #746
I found the bug, it was a small and silly typo :'(

before
![unity_2018-05-09_15-00-39](https://user-images.githubusercontent.com/1465390/39813678-0a8c184c-539a-11e8-837f-a3819b653c2e.png)

after
![unity_2018-05-09_15-00-39](https://user-images.githubusercontent.com/1465390/39813682-0dfdca7a-539a-11e8-93dd-3bb41f7eaf0d.png)

I'll try out the proper minimum bounding solution as well while I'm looki

[2018-05-09 12:15] hopyou opened #753 "Filter poi by type."
Hi,
I want to only display certain types of poi on the map (stores, restaurants, etc).

Can anyone tell me how to achieve this?

[2018-05-09 13:45] brnkhy commented on #746
using Minimum bounding box for roof uv;
![unity_2018-05-09_16-35-43](https://user-images.githubusercontent.com/1465390/39817839-f0ca3728-53a7-11e8-8805-dd819ce21e6e.png)

current more basic mapping; (marked a few issues in red)
![unity_2018-05-09_16-36-17](https://user-images.githubusercontent.com/1465390/39817848-f8e2aa76-53a7-11e8-86e4-7dda3599181c.png)

open questions;
- what's the performance

[2018-05-09 17:52] atripathi-mb commented on #736
@genaray you can use this repo https://github.com/mapbox/timespace to do timezone queries after your geocoding query.

[2018-05-09 19:32] DalinarKh commented on #733
Awesome. I'll begin experimenting with this and see what I can do. Thanks for the help!

[2018-05-10 09:30] genaray commented on #736
@atripathi-mb Well thanks a lot :) Is there also a java api for the mapbox timespace library ?

[2018-05-10 13:51] Naphier opened #759 "Multiple failures in GenerateTerrainMesh"
* Unity version:  2017.3.1f1
  * Scripting Runtime Version: .NET 3.5
  * Scripting Backend: Mono
  * Api Compatibility Level: .NET 2.0
* Mapbox SDK version: 1.3.0
* The platform you're building to: Windows 10 - 64bit
* A description of what you're trying to do: Generate terrain
* Steps to recreate the bug if appropriate: Difficult to reproduce
* Links to your logs are also helpful: attached
[Edito

[2018-05-10 13:53] nosmirck commented on #734
@BergWerkGIS great! no problem!

For now, I've been working on the rest of the simulation using a map I saved in runtime with the editor (made the map object once loaded a fbx) and I'm cool with that for now.

Just to share a bit what I'm doing:

I'm rendering a real time map on top of a table using HoloLens. On top of the map some data will be visualized by converting the data into a heat map tex

[2018-05-10 13:59] brnkhy commented on #728
@atripathi-mb Oh I'm afraid this is expected. Low poly terrain triangle indexing was quite confusing so I skipped that but I looked over the fact that option will still be there.
I can look into this but I'm afraid it won't be trivial.

[2018-05-10 16:38] atripathi-mb commented on #759
@Naphier This error is sounds related to Unity's static mesh batching. Do you have static batching turned on? Can you try without that ?

[2018-05-11 06:11] willychang21 commented on #752
i figure it out

[2018-05-11 13:05] willychang21 commented on #752
sorry i had read #518 #483 issue
but they're using 1.3.0 ,so  i still can't get it
should i wait for 1.4.2 release or guys have better way to figure it out??

[2018-05-11 13:50] brnkhy commented on #746
found an fixed another bug where uv modifier choose two wrong vertices (doesn't take holes into account)  to calculate texture direction.
Both fixes are veery small and pushed to this branch;
https://github.com/mapbox/mapbox-unity-sdk/tree/roofUvFix

cc @atripathi-mb @greglemonmapbox

[2018-05-11 14:07] matteo-interfase opened #764 "android.speech API"
Hello, I'm building an app that has to run on an Oculus Go, which doesn't support the speech API.
The Oculus platform rejected my build for this reason:

I know mapbox doesn't officially support VR headsets but I was wondering if there's a way to configure it in order to avoid having calls to such API (wich I don't need in my project) in my final build. I've tried searching for those calls inside

[2018-05-11 14:18] jeffrobernard commented on #764
Matteo,
I’m interested in this as well. I’m building for he go as well did it reject the build on final submission to oculus or did it reject the build from building it from unity to the GO?

Kindest Regards,

Jeff Bernard

[2018-05-11 14:30] matteo-interfase commented on #764
Hi Jeff,
if I build the application directly in the headset via USB I have no issues, the problem is when I upload the apk to the Oculus developer platform, it goes through an automatic service that detects which libraries your application is using in order to tell you what to change in order to be sure that the app will work on the target devices. The alert goes off just for the Oculus Go, for th

[2018-05-11 14:36] willychang21 opened #765 "Poi prefab problem"
_Note: If this is a bug or support ticket, please provide the following information:_
* Unity version:
  * Scripting Runtime Version:
  * Scripting Backend:
  * Api Compatibility Level:
* Mapbox SDK version:
* The platform you're building to:
* A description of what you're trying to do:
* Steps to recreate the bug if appropriate:
* Links to your logs are also helpful:

[2018-05-11 14:36] #765 closed

[2018-05-11 15:15] jeffrobernard commented on #764
Hmmm interesting. Well, when you figure it out, if you don’t mind sharing how your fixed it, that would be a huge help.

Kindest Regards,

Jeff Bernard

[2018-05-12 21:12] thecommonegret commented on #740
Hi Jordy,

Currently I'm just trying to get the building visualizer to line up (before bringing in custom data such as NYC's street tree dataset). The attached image shows an AR World Scale Manual Alignment view from my balcony. As you can see the blue building material is being displayed as if I am at street level. How might one go about resolving this?

Thank you for your help,
Matthew
![screens

[2018-05-13 05:48] #752 closed

[2018-05-14 08:44] BergWerkGIS commented on #764
@matteo-interfase @jeffrobernard

I'm not aware that any part of our SDK references the speech API.

My only hunch at the moment is that maybe `GoogleARCore` uses it.

For AR (everything in folder `MapboxAR`) we depend on `UnityARInterface` which in turn depends on `GoogleARCore`.

Depending on how your project is setup (not using anything from `MaboxAR`) you could try deleting theses folders:

*

[2018-05-14 10:01] BergWerkGIS commented on #764
Upon further inspection this might be connected to an undocumented define.
Looking at the generated `*.csproj`s I see a define called `ENABLE_MICROPHONE`.
Unity seems to enable the microphone per default - or the define is being triggered by another setting.
Haven't found a way to get rid of it.

`ENABLE_MICROPHONE` isn't mentioned in the [`PlatformDependentCompilation` docs](https://docs.unity3d.

[2018-05-14 13:57] thecommonegret opened #771 "Custom vector visualizer not working"
Hi,
I am trying to utilize NYC's street tree dataset (Mapbox tileset uploaded [here](https://www.mapbox.com/studio/tilesets/bwellington.3r3ygr95/)) to visualize in a Manual Alignment AR scene, but can't seem to get them to appear. I'm currently just using the diameter of the tree (property: _tree_dbh_) as the extrusion value (which I know doesn't make much sense, but just trying to get something t

[2018-05-14 14:25] #753 closed

[2018-05-14 14:36] jordy-isaac commented on #740
Hi Matt. As mentioned this would require some custom code/math to adjust scale and angle to get the desired elevation effect. Implementation of this would be up to you.

[2018-05-14 14:36] #740 closed

[2018-05-14 14:37] #733 closed

[2018-05-14 14:40] jordy-isaac commented on #722
Closing this for now, but please re-open with additional info or a min test case if you're still having trouble.

[2018-05-14 14:40] #722 closed

[2018-05-14 14:56] DaBros316 commented on #731
Yes, it works, Thanks!!!

[2018-05-14 15:03] jordy-isaac commented on #751
@pytan-coder Thanks for the ticket. For the LocationBasedGame example you can change the location in the editor by changing using the `Search` function or specifying the `Latitude Longitude` inside of `EditorLocationProvider` script.

<img width="644" alt="screen shot 2018-05-14 at 7 58 57 am" src="https://user-images.githubusercontent.com/33474236/40005456-d0a05754-574c-11e8-9e0e-9931d748c0a8.png

[2018-05-15 10:10] willychang21 commented on #771
@jordy-isaac will 1.4.2 sdk update today??

[2018-05-15 12:28] jordy-isaac commented on #771
@willychang21 Yes, 1.4.2 did release and it has some great POI feature additions. You should check it out.

As for your ticket. When you run the game are the game objects from your visualizer appearing in your hierarchy and just not being rendered in the scene/game views?

The data type being a string could be the issue as the `height` under [`Extrusion Type`](https://www.mapbox.com/unity-sdk/over

[2018-05-15 13:00] a100447739 commented on #771
@jordy-isaac
I opened the file sdkproject in mapbox-unity-sdk-develop
but there's some error
![image](https://user-images.githubusercontent.com/37835383/40058147-da4ed5c8-5882-11e8-92d6-a3fa4d8a6fbb.png)
![image](https://user-images.githubusercontent.com/37835383/40058179-ee1f830e-5882-11e8-8f6a-016164bb1a35.png)
how to fix it??

[2018-05-15 13:37] thecommonegret commented on #771
@jordy-isaac
The game objects do appear to be showing up in the hierarchy when I run the game. See below:

![image](https://user-images.githubusercontent.com/39036160/40060012-8df048e2-5823-11e8-92e4-b0f675a14b79.png)

[2018-05-15 15:09] viciopoli01 opened #778 "UserLocation Problems"
I'm trying to get the user location using LocationEngine on Android devices , but when I star the app the usser's marker is located in (0.0, 0.0) and never update it's location.
How is it possible?

![screenshot_20180515-170336_li](https://user-images.githubusercontent.com/17991220/40065731-b64297d4-5862-11e8-8e55-7de14e1d3eee.jpg)

I try to replicate the example [https://www.mapbox.com/android-do

[2018-05-15 17:52] DavidAPC opened #779 "Unity SDK fails to render key features when using custom map style,"
We've been creating custom map styles in Mapbox Studio. The maps were displaying fine in Unity until recently. Basically, while the style renders fine in Mapbox HTML map viewer, the exact same style is missing features and simply not displaying correctly when used in Unity.

The exact same problem happens if I use a pristine example project from the SDK and simply change the map style in (for inst

[2018-05-16 00:29] willychang21 commented on #771
@jordy-isaac
Thanks,i figure it out!!

[2018-05-16 02:35] abhishektrip opened #783 "[Enhancement] Range around transform extent type for world position."
Range around transform extent type currently uses the local position of the transform. In some cases, user might want to use the global position of the transform. Example use case - camera is pointing an angle and the maps needs to spawn around the "lookAt" point. Currently the map is drawn at an offset since the local position is being used.

[2018-05-16 06:01] atripathi-mb commented on #771
@thecommonegret In the screenshot your tileset contains only points, but in unity you have selected `primitive type` as `line` . Line mesh generation needs minimum two vertices. Could you change primitive type to point and use a prefab modifier to place cylinders at feature locations and try?

[2018-05-16 06:03] atripathi-mb commented on #771
@a100447739 you are missing dependencies in your project. Please run the `update-mapbox-unity-sdk-core` (bat or sh depending on your platform) script to pull all the dependencies.

[2018-05-16 06:12] atripathi-mb commented on #759
@Naphier Let us know if you are still seeing the issue. closing this ticket

[2018-05-16 06:12] #759 closed

[2018-05-16 07:01] BergWerkGIS commented on #779
@DavidAPC have you changed your style recently?
The Unity SDK has ambient caching built in which might not have updated yet.
Try clearing the cache and let me know if you see the missing features afterwards.

![image](https://user-images.githubusercontent.com/4549888/40101450-becc1206-58e7-11e8-99d0-955019e8d2c5.png)

[2018-05-16 07:07] BergWerkGIS commented on #771
@a100447739

See ReadMe:
https://github.com/mapbox/mapbox-unity-sdk#from-this-repository-advanced-latest-development

[2018-05-16 08:06] DavidAPC commented on #779
Hey, I've cleared the cache, and even tried completely new maps, the issues persist. It seems that if a feature has their opacity set to go to zero at certain zoom levels, then the feature won't appear at all at any zoom level. That's the only pattern I've found between features that do appear (river, pitches) and features that don't (roads, parks)

[2018-05-16 14:47] willychang21 opened #784 "ScaleAR POI name management problem"
![image](https://user-images.githubusercontent.com/38349902/40124196-9708941a-595a-11e8-8cb3-178a8e06b671.png)

I used Poilabel modifier to show poi
but every object named by numbers(1,2,3...) ,it's not convenience to manage individual poi
how do I let the poi object named by their feature names like  poi label text ??

p.s
I used custom data source with my map id ,but in the mapbox studio only se

[2018-05-16 17:17] atripathi-mb opened #785 "[Bug] IndexOutOfRangeException when zooming in/out on terrain with elevation"
With v1.4.2, when zooming in/out on the `Zoomable Map` example, there are continuous errors with the following call stack

IndexOutOfRangeException: Array index is out of range.
Mapbox.Unity.MeshGeneration.Data.UnityTile.SetHeightData (System.Byte[] data, Single heightMultiplier, Boolean useRelative) (at Assets/Mapbox/Unity/MeshGeneration/Data/UnityTile.cs:185)
Mapbox.Unity.MeshGeneration.Factorie

[2018-05-16 20:39] #623 closed

[2018-05-16 20:39] #622 closed

[2018-05-16 20:56] tfine opened #786 ""Mapbox" Menu not appearing after importing package"
Unity 2018.1.02f
Mapbox SDK 1.4.2
macOS 10.13.4

Trying to install the Unity SDK on a Mac, but the menu does not appear after importing. The full asset folder is available.

[2018-05-16 22:07] brnkhy commented on #785
@atripathi-mb found the error. Turns out terrain data fetcher was calling "process" on failed web calls as well. Fixed that, changed same section in all data fetchers to be more readable.
pushed it here; https://github.com/mapbox/mapbox-unity-sdk/tree/dataFetcherErrorFix

I'm not sure if that's normal to have so many failure though. I think we're getting 404 on cancelled tiles but still might wort

[2018-05-17 07:29] ilmtee opened #787 "NauticalMiles unit is wrong in CheapRulerUnits.cs"
Mapbox sdk 1.4.2

Integer division causes wrong result:

				case CheapRulerUnits.NauticalMiles:
					factor = 1000 / 1852;

Could be fixed as:

				case CheapRulerUnits.NauticalMiles:
					factor = 1000 / 1852.0;

[2018-05-17 12:08] BergWerkGIS commented on #787
thanks @ilmtee - good catch.
already PRed: https://github.com/mapbox/mapbox-unity-sdk/pull/788

[2018-05-17 15:36] #751 closed

[2018-05-17 15:36] BergWerkGIS commented on #786
@tfine SDK should work with all current versions of Unity, I just tried with latest beta `2018.2.0b4`.

Do you see any error messages in the console?

[2018-05-17 16:01] tfine commented on #786
Yes, there are three errors on load (two yellow, one red)

YELLOW: Assets/GoogleARCore/SDK/Scripts/Editor/BuildHelper.cs(33,18): warning CS0618: `UnityEditor.Build.IPreprocessBuild' is obsolete: `Use IPreprocessBuildWithReport instead'

RED: Assets/GoogleARCore/SDK/Scripts/Editor/BuildHelper.cs(33,18): error CS0535: `GoogleARCoreInternal.BuildHelper' does not implement interface member `UnityEdito

[2018-05-17 16:29] BergWerkGIS commented on #786
That's why it's not working. A bug in `GoogleARCore` preventing Unity from compiling files.

Two options:

1. if you don't need AR support delete these folders:
  * GoogleARCore
  * MapboxAR
  * UnityARInterface
  * UnityARKitPlugin

2. if you need AR apply this fix to `sdkproject/Assets/GoogleARCore/SDK/Scripts/Editor/BuildHelper.cs`
  https://github.com/mapbox/mapbox-unity-sdk/compare/2018-fixes

[2018-05-17 22:47] atripathi-mb commented on #719
@emorling

Are these vector features coming from a mapbox tileset ? Or prefabs/gameobjects that you are spawning at certain lat longs?

We do object pooling to avoid lot of loading and unloading during zoom in/out but gameobjects are costly to spawn.

The map updates when the camera script triggers `UpdateMap`, which you can control based on your application needs.

[2018-05-18 01:01] dvaswani2717 opened #789 "Getting latitude and longitude from mapbox into unity"
_Note: If this is a bug or support ticket, please provide the following information:_
* Unity version:  2017,3,1p4
  * Scripting Runtime Version:
  * Scripting Backend:
  * Api Compatibility Level:
* Mapbox SDK version:  latest
* The platform you're building to:
* A description of what you're trying to do:  Trying to get latitude and longitude coordinates from mapbox into unity C# script so that I

[2018-05-18 07:06] MrMallIronmaker commented on #789
You might be looking for the Conversions class - but I don't know exactly what kind of data you're trying to convert. If you can be more specific, I can help more.

https://www.mapbox.com/mapbox-unity-sdk/api/unity/Mapbox.Unity.Utilities.Conversions.html

[2018-05-18 07:24] MrMallIronmaker opened #792 "Moving camera / stationary world design for zoom and pan"
I'm having a hard time digging through the information available here, so I feel the best way to ask is a Github issue.

I'm developing a location-based game, and I'm looking to add zooming and panning features to the LocationBasedGame example. I'm choosing a design of a stationary world with a camera moving over that world at different positions and heights. Panning is the XZ direction, and zoom

[2018-05-18 11:05] BergWerkGIS opened #793 "Account for changed long file name permissions in .NET4.6 in MBTiles Cache"
* Unity version: 2017+
  * Scripting Runtime Version: Experimental 4.6
* Mapbox SDK version: all current
* The platform you're building to: Windows
* A description of what you're trying to do:
We are using the `\\?\` syntax on Windows to work around the well known `MAX_PATH` issue.
Net 4.6.2 changed that it does not allow that anymore.
By default this is off and has to be enabled via `UseLegacyPat

[2018-05-18 11:51] DavidAPC commented on #779
Thank you: mapbox://styles/pablofinquez/cjh1r5uy20oe72rqm94yygf59

I'm not sure this style is exactly the same as the one used in the above images, but it has the exact same problem (roads and other features appear in HTML, but not in Unity). We had the above bug with multiple maps.

[2018-05-18 12:09] dvaswani2717 commented on #789
Thanks.  I am just looking for gps latitude and longitude degrees that c#
in unity can understand.

On Fri, May 18, 2018, 03:06 Mark Miller <notifications@github.com> wrote:

[2018-05-18 12:53] jordy-isaac commented on #789
Hi @dvaswani2717 Please check out the [SpawnOnMap](https://github.com/mapbox/mapbox-unity-sdk/blob/a450ad1a141bac5b54fbbde1eda4f9bf4cfffe03/sdkproject/Assets/Mapbox/Examples/2_ZoomableMap/Scripts/SpawnOnMap.cs) script. Here's some [documentation](https://www.mapbox.com/unity-sdk/overview/zoomable-map/#place-custom-markers) on it as well.

[2018-05-18 19:18] andyvh opened #794 "Spawned prefabs instantly collide with player?"
Hi!
I'm trying to spawn a sort of "checkpoint" on the map in WorldScaleAR using the SpawnOnMap script. I'd like the checkpoint to disappear when the player gets close enough/touches it, but when I try to run the scene in my editor, the player is shown to immediately collide with the checkpoint, despite them being nowhere near each other. Have I done something daft?

Thanks for your time!

Unity 20

[2018-05-18 20:51] #787 closed

[2018-05-18 23:02] #746 closed

[2018-05-18 23:43] #785 closed

[2018-05-20 16:04] tarakinsuide opened #798 "WorldScaleAR Bluetooth beacons location data"
Let's say I'm getting a latlong from the beacons and my third party location service provider, how can I use it in mapbox AR? Is there any script for it?
Like for worldscaleAr scene we had a location provider or we also used manual alignment, so in same way can I use those scripts with my location?

[2018-05-21 12:45] Naphier commented on #759
Yes turning off static batching prevents this issue, but we need to static batch this to improve performance on mobile. So apparently even though the tiles are all created, they're still not ready for static batching. At what point in the generation process is it safe to start static batching?

We were using OnMapVisualizerStateChanged listener at ModuleState.Finished then waiting 2 seconds before

[2018-05-21 14:36] AlanNess opened #800 "Object placement issues on real world AR"
I've been working on a project using unity and mapbox to place objects in real world locations, for some reason as I move around the camera the objects don't stay in place and move along the camera, does anyone have any idea how to make this more accurate?

Here is a link to the video
https://drive.google.com/open?id=1vSsUOsDmI5spYsw6DyDwB-5c8nFmc9lI

Thanks a lot

Alan

[2018-05-21 20:16] jordy-isaac commented on #792
Hi @MrMallIronmaker. Thanks for the ticket. The Maps SDK for Unity would be great for an app like this. I actually made a [demo game](https://twitter.com/Jordy_Webb/status/981913239746297856) using the same concept with a stationary map and a scrolling camera. You can do so by placing a script on the camera that moves it. Something like the code below will give you what is shown in the gif.

[code

[2018-05-22 03:08] heath3n opened #801 "Road meshes look bad at junctions"
Unity version: 2018.1.0f2
Mapbox SDK version: v1.4.2

This is near the Blue Hills Bank Pavilion in Boston, MA. The left image is in Unity and the right is in Mapbox Studio. This awful tapering happens regardless of the line width. I understand the difficulty of getting neighbouring line segments to match up nicely but is there any work being done on making roads look better (or anything I can chan

[2018-05-22 12:29] myong3 commented on #784
@willychang21
I had the same problem too.
@jordy-isaac
Do you have a better way to do this??

[2018-05-22 13:11] willychang21 opened #802 "Interactive Map In WorldScale AR"
![image](https://user-images.githubusercontent.com/38349902/40364132-14e6962c-5e04-11e8-8add-cd077de0ed60.png)
I wanted to make a Interactive map in WorldScale AR Map ,
For example ,I  want to click some of the places in the map.
but the map is rendered  by  abstract map image .

[2018-05-22 15:15] jordy-isaac commented on #794
@andyvh Does this also happen when running on a device? Can you send us some screenshots or a video of what's happening so that we can get a better idea?

[2018-05-22 15:29] #789 closed

[2018-05-22 15:38] jordy-isaac commented on #784
@willychang21 @myong3 [Custom tilesets](https://www.mapbox.com/help/studio-manual-tilesets/#tileset-information-page) can only have one layer. However, you can add multiple custom tilesets as data sources in Unity

[2018-05-22 15:38] #784 closed

[2018-05-22 15:38] #719 closed

[2018-05-22 15:49] jordy-isaac commented on #779
It looks like this style is one that has been migrated to [expressions](https://blog.mapbox.com/studio-expressions-design-81012e2dab55). Support for styles using expressions will be coming soon but for now you'll need to use your old style. When you migrate to expressions it creates a migrated copy but also saves your original. You'll want to use the original as your data source for now.

[2018-05-22 15:49] #779 closed

[2018-05-22 16:16] citizen12 commented on #800
I get similar behavior, FWIW.

On Tue, May 22, 2018 at 9:09 AM, JW <notifications@github.com> wrote:

--
James Osborne
citizen12 studio <http://www.citizen12.com>

[2018-05-22 16:17] jordy-isaac commented on #802
@willychang21 What sort of annotations are you wanting to set up? Have you tried placing POIs using the new [Points of Interest](https://www.mapbox.com/unity-sdk/overview/poi-placement/) feature

[2018-05-22 16:29] willychang21 commented on #802
@jordy-isaac
I had tried POI feature but only work in ar camera ,but  I want to do like this
![image](https://user-images.githubusercontent.com/38349902/40376099-14b9f146-5e20-11e8-9c05-265182057f25.png)
WorldScale AR scence map seems unable to do this

[2018-05-22 17:34] atripathi-mb commented on #802
@willychang21 You can use the same scripts in AR as well as non-AR use cases. You can use the scripts used in `InteractiveVectorMap` in your application in AR. You might have to tweak the interaction logic based on your applications use case.

For the object names, they are named using the type+FeatureID convention. Currently we don't have plans to change this naming convention since it will be ve

[2018-05-22 17:42] jordy-isaac commented on #798
Hi @tarakinsuide You'll need to write their own `LocationProvider` for beacons. The alternative would be to use the `DeviceLocationProvider` as a base and add logic on to how and when you want to use bluetooth beacon location to either augment or replace the location coming from GPS.

Hope this helps.

[2018-05-22 17:42] #798 closed

[2018-05-22 23:22] apavani commented on #800
Hi @AlanNess
The issue that you are seeing is being caused because of the drift introduced with ARKit. Try walking slowly and you'll notice that when ARKit gets a richer set of points to process with a slow moving camera. Thus, it can make better sense of how much your camera has moved in AR space when you move by some distance in real world space. I would recommend playing with the scale value on

[2018-05-23 03:45] dingfengboo opened #804 "terrain"
_Note: If this is a bug or support ticket, please provide the following information:_
* Unity version:
  * Scripting Runtime Version:
  * Scripting Backend:
  * Api Compatibility Level:
* Mapbox SDK version:
* The platform you're building to:
* A description of what you're trying to do:
* Steps to recreate the bug if appropriate:
* Links to your logs are also helpful:

[2018-05-23 03:45] #804 closed

[2018-05-23 07:59] tarakinsuide opened #805 "MapboxUnitTests_FileSource.cs(140,6): warning CS0162: Unreachable code detected"
Hi,

I'm getting this error:

Assets/Mapbox/Core/mapbox-sdk-cs/Tests/UnitTests/Editor/MapboxUnitTests_FileSource.cs(140,6): warning CS0162: Unreachable code detected

when I try to import latest mapbox Unity SDK

[2018-05-23 08:46] BergWerkGIS commented on #805
@tarakinsuide that's just a warning and can be safely ignored.
It only appears with build target set to Android or iOS and is a workaround for a problem I currently don't have a solution for.

Details in the comment above the line causing the warning:

https://github.com/mapbox/mapbox-unity-sdk/blob/d2a85eade7b55375c8476dba025ea4a019eabfe9/sdkproject/Assets/Mapbox/Core/mapbox-sdk-cs/Tests/UnitTest

[2018-05-23 08:46] #805 closed

[2018-05-23 09:42] wilhelmberg opened #806 "Refresh ambient cache when `Abstract Map -> Image -> Use Retina` is toggled"
refs #803

_Note: If this is a bug or support ticket, please provide the following information:_
* Unity version: all
* Mapbox SDK version: all
* The platform you're building to: all
* Steps to recreate the bug if appropriate:
  * `Mapbox -> Clear Caches -> All`
  * run with  `Use Retina` **un**checked => default/low resolution tiles are requested and put into the local ambient cache
  * check `Us

[2018-05-23 09:54] willychang21 commented on #802
[@atripathi-mb](url)

[2018-05-23 09:55] willychang21 commented on #802
mapbox-unity-sdk/sdkproject/Assets/Mapbox/Unity/MeshGeneration/Modifiers/GameObjectModifiers/PrefabModifier.cs

[2018-05-23 10:06] willychang21 commented on #802
@atripathi-mb
**I tried to modifying the code in PrefabModifier**
https://github.com/mapbox/mapbox-unity-sdk/blob/d2a85eade7b55375c8476dba025ea4a019eabfe9/sdkproject/Assets/Mapbox/Unity/MeshGeneration/Modifiers/GameObjectModifiers/PrefabModifier.cs#L50
https://github.com/mapbox/mapbox-unity-sdk/blob/d2a85eade7b55375c8476dba025ea4a019eabfe9/sdkproject/Assets/Mapbox/Unity/MeshGeneration/Modifiers/Ga

[2018-05-23 14:49] atripathi-mb commented on #802
@willychang21 the change you made should work. does your layer have a property called “name” ? This should match exactly with the property key.

You can enter multiple mapIDs separated by commas to fetch all of them.

[2018-05-23 15:30] willychang21 commented on #802
@atripathi-mb
thanks,I tried it and it work!!

[2018-05-23 16:09] campeezjesse opened #807 "Table Top Map Not staying on plane."
_Note: If this is a bug or support ticket, please provide the following information:_
* Unity version: 2017.3

* Mapbox SDK version: 1.4.2
* The platform you're building to: iOS

I am trying to build a tabletop map with elevation.

Hello. I brought up this bug with the last SDK version and was told it would be fixed. So i decided to give mapbox another try for our project. It is still not fixed. H

[2018-05-23 16:40] campeezjesse opened #808 "POI's vanish when tabletop map is scrolled or zoomed"
Unity version: 2017.3

Mapbox SDK version: 1.4.2

The platform you're building to: iOS

As soon as I scroll or zoom the tabletop map all the prefab POIs are removed from the scene

[2018-05-23 20:28] isiyu commented on #808
@campeezjesse can you include a video or screenshot of what you're seeing?

when you say prefab POIs are removed? do you mean new ones from map tiles being loaded aren't being populated, or the existing ones are not visible after panning the map

[2018-05-24 02:42] #786 closed

[2018-05-24 04:05] atripathi-mb commented on #807
@campeezjesse Apologies for not getting back to you earlier. We are working on a solution for this issue. Will keep you updated.

[2018-05-24 09:09] suraj1988 commented on #276
Has this issue been resolved? Im experiencing the same problem. Mapbox menu refuses to show up in Unity 2017.1.
Tried the solution suggested by Berg to delete the AR folders from the assets but the overall instructions are clear as mud. once the bat file is updated, what needs to actually be done to get the menu to show up in Unity?

[2018-05-24 14:15] atripathi-mb commented on #786
@suraj1988
If your application does not need AR - delete the folders mentioned above. No need to reimport the package

If you need AR - do not delete folders and apply the patch linked above.

[2018-05-24 15:25] jordy-isaac commented on #800
Closing this one out. Please feel free to re-open with any new information or if you need any more assistance.

[2018-05-24 22:04] andyvh commented on #794
I haven't checked if it happens on a device yet! I'll try it now!

[2018-05-25 03:38] andyvh commented on #794
Here's a screenshot of the scene the moment I start it in the editor, to start with:

![screen shot 2018-05-24 at 8 36 41 pm](https://user-images.githubusercontent.com/19498379/40524946-43f6af08-5f92-11e8-95f3-7122d68a59c2.png)

For now, I've left it so the script I've attached to the Checkpoint only prints that it's been collided with, and by what. I'm confused by the fact that you see that there

[2018-05-25 11:15] BergWerkGIS opened #812 "Add tests for angle smoothing strategies"
PR #811 introduced different angle smoothing strategies.
Tests for those are missing.

[2018-05-25 12:09] Naphier commented on #759
@atripathi-mb just tagging you as I'm not sure if you got a notification on my last message since the issue was closed. Awaiting your response.

[2018-05-25 12:25] BergWerkGIS opened #813 "Investigate overhauling internals of DeviceLocationProvider for better smoothing of values"
PR #811 introduced different angle smoothing strategies.

Angles that go into the calculations are cached at the `Update Time` interval set on the `DeviceLocationProvider`.

Investigate if we can improve and get even smoother results by running an internal loop that is tighter than the update time.

This especially applies to `UserOrientation` not so much to `UserHeading`.

[2018-05-25 12:30] BergWerkGIS opened #814 "Add smoothing/filtering for GPS positions"
PR #811 introduced different angle smoothing strategies.

Do the same for positions.

A different approach is needed as positions are not a single value but a pair of latitude and longitude.
Maybe Kalmann and friends.

Investigate if it makes sense to include other parameters as well to identify jumpy positions:
* altitude
* accuracy
* speed (depending if the currently used location provider suppo

[2018-05-25 13:32] willychang21 opened #815 "SQLiteException: Could not open database file"
I tried enter multiple mapIDs separated by commas to fetch all of them.
When I enter mapIDs like this
`willybigdick30.cjftv7qku03k632nuwq4a3d9h-97bdj,willybigdick30.cjfuiarqp0b012wnuhooom5am-05dcl,willybigdick30.cjfuiarqp0b012wnuhooom5am-8k53d`
It will success
but after adding one more mapIDs like this
`willybigdick30.cjftv7qku03k632nuwq4a3d9h-97bdj,willybigdick30.cjfuiarqp0b012wnuhooom5am-05dcl,w

[2018-05-25 13:37] BergWerkGIS commented on #815
@willychang21 please elaborate on

This is a known issue with certain combinations of the above.

[2018-05-25 13:47] willychang21 commented on #815
@BergWerkGIS
Unity version:2018.1.1
Scripting Runtime  Version:Experimental (.NET 4.6 Equivalent)
Scripting Backend: Mono
Api Compatibility Level: .NET 4.6

[2018-05-25 14:09] BergWerkGIS commented on #815
Try deleting this line
https://github.com/mapbox/mapbox-unity-sdk/blob/5d7f0e3a464f4e89272b523225d791364aeed5e3/sdkproject/Assets/Mapbox/Core/mapbox-sdk-cs/Platform/MbTiles/MbTiles.cs#L154
that should make it work.

[2018-05-25 14:54] willychang21 commented on #815
@BergWerkGIS
The error is still the same.
[code]

[2018-05-25 15:56] jordy-isaac commented on #801
Hi @heath3n, thanks for the ticket. Can you send in a screenshot of your AbstractMap settings including the lat/lon? It might work to try and apply filters, making each road type a layer.

[2018-05-25 16:08] jordy-isaac commented on #792
Closing this one for now. Please reopen if you need some more help.

[2018-05-25 16:08] #792 closed

[2018-05-25 16:42] jordy-isaac commented on #794
@andyvh Have you tried changing the `EditorLocationProvider` lat lon settings? How close are the checkpoints to the player in the editor? Did you have a chance to try it on a device?

[2018-05-25 19:13] andyvh commented on #794
I'm still playing with the position in `EditorLocationProvider`, because it's showing them colliding at the start on the device, too, but that's because the checkpoint spawns right on top of where I'm testing it...

[2018-05-25 19:17] andyvh commented on #794
`EditorLocationProvider`'s lat lon: 37.870654, -122.139449
SpawnOnMap spawns the Checkpoing here: 37.87075, -122.139571

[2018-05-25 22:16] atripathi-mb commented on #759
@Naphier We fixed some bugs with `Visualizer ModuleState`  in v1.4.0 and later releases. Since you are using v1.3.0 , I would suggest either updating to v1.4+ (we are in the process of releasing v1.4.3 in a few days.) or posting changes related to  ModuleState to your project.

Your use -case is something that we are working to better handle in subsequent releases. We plan to provide hooks for use

[2018-05-26 06:52] BergWerkGIS commented on #815
Argh, Unity seems to have changed its behavior (again ☹️).
I'm able to reproduce with `Unity@2018.2.0b4` but all workarounds I'm currently aware of don't work anymore.

Will look into it next week.

-----

Luckily there's a way to get you going in the meantime.

Change
[code]
to `0`.

[2018-05-26 07:04] MrMallIronmaker commented on #792
Got it - I wrote some simple methods that reset the scale to 1,1,1 after updating the zoom with `updateMap()`. Turns out that's all I needed. Thanks for the tips!

[2018-05-26 07:06] BergWerkGIS opened #817 "Change all ToString() instances on floating point values to use CultureInfo.InvariantCulture"
see #816

_Note: If this is a bug or support ticket, please provide the following information:_
* Unity version: +2018
* Steps to recreate the bug if appropriate:
`Unity@2018` seems to have changed in a way that it takes operating system locale into consideration when `ToString()`ing floating point numbers.
Obvious occurrence was #816 as that broke all map instances.
**TODO:** Check all `ToString(

[2018-05-26 09:41] itech4ever opened #818 "Zooming, panning with Direction Meshes is not supported"
* Unity version: Unity 2017 3.1.f1
  * Scripting Runtime Version: Stable (.Net 3.5 Equivalent)
  * Scripting Backend: IL2CPP
  * Api Compatibility Level: .Net 2.0 Subset
* Mapbox SDK version: 1.3.0
* The platform you're building to: iPhone

* A description of what you're trying to do:
I used the **DirectionsFactory.cs** to generate the line meshes of the route returned by Mapbox and the **QuadTree

[2018-05-26 10:17] willychang21 commented on #815
@BergWerkGIS
thanks ,It works!!

[2018-05-26 10:17] #815 closed

[2018-05-26 18:35] heath3n commented on #801
Lat/long: `42.347646, -71.036203`

![road](https://user-images.githubusercontent.com/8888204/40579269-9ea85fcc-60f1-11e8-9f38-01cbe2d77224.PNG)

I checked on Studio and both the pointy roads and the one they merge into are part of the same `road-secondary-tertiary` layer so I'm not sure filters would help.