[2018-05-26 20:10] andyvh commented on #794
OK, so it turns out the sphere I was seeing was the sphere for the player object, and I don't know that my checkpoint is spawning at all on the device at the moment. The debug log does say that it's colliding with the player sphere at initialization, though.

[2018-05-27 03:16] karsnen commented on #589
## Had the same issue

Xcode Version - Version 9.3.1 (9E501)
Unity Version - 2017.4.3f1
Mapbox Version - 1.4.2, as of May 14th, 2018

### Issue:
While trying to run the Xcode build on my phone, got the following message.
'MapboxMobileEvents/MapboxMobileEvents.h' file not found

### Solution:
1. Set minimum target iOS version in Player Settings (within Unity) to 8.0
then
2. Set proper paths `$(SRCR

[2018-05-27 03:16] karsnen commented on #589
Hope you guys fix it, so that we don't have to manually add this every time. Thanks.

[2018-05-27 13:22] deadpixelsinfo opened #819 "Choice of filters and modifiers for the streets"
Hello everyone.

I'm trying to simulate the way to see the streets of mapbox, exactly on unity. I'm not clear which modifiers and filters to add to have the visualization mapbox solution perfectly, on unity.

Currently, for example, I have street labels that do not scale or collide with each other. Very bad visual effects. How can I have a 1: 1 association between the map view on mapbox in unity?

[2018-05-28 00:06] JalalJaberi commented on #786
I had the same problem and simply (and temporary) changed the BuildHelper.cs code. Let it implements both versions `OnPreprocessBuild(BuildReport report)` and `OnPreprocessBuild(BuildTarget target, string path)`.

Everything is good now.

[2018-05-28 11:06] JorgenEngenNapstad opened #821 "Questions about custom terrain"
I'm trying to generate a terrain based on some custom DEM / raster terrain data, and I have some problems and questions related to solving this:

The custom data is only available in a specific area/extent. Is it possible to remove/hide the tiles that don't contain any custom terrain data?

We probably need to use two different map objects:
- The main map, using the Mapbox-terrain and a custom map

[2018-05-28 21:26] brnkhy opened #824 "Add SerializeField attribute to modifier options"
Modifier options are supplied by vector layer visualizer if you're using a basic primitive type such as polygon or line. But if you go custom and assign modifier yourself by hand, you will not be able to set options.

Changing these options fields to [SerializeField] should fix this problem as these option will be automatically rendered in the modifier inspector and developer will be able to set/c

[2018-05-29 09:10] JorgenEngenNapstad commented on #821
I found this link which is kind of answering one of the questions I have related to this: https://www.mapbox.com/help/troubleshoot-raster-transparency-issues/

Are there any way of achieving this in Unity, specifically then for the image layer of the custom terrain?

[2018-05-29 13:14] Naphier commented on #759
@atripathi-mb Thanks. It might take some time before we have the opportunity to update. I'll report back when we do.

[2018-05-29 15:02] willychang21 opened #827 "DirectionsFactory missing transform"
I'm tring to use `DirectionsFactory`  script according to Vector Tile Maps guide
 ,but I can't find `Start` & `End` transform in sdk 1.4.2
![image](https://user-images.githubusercontent.com/38349902/40667195-1d6ba7ca-6394-11e8-9771-ea21aff49785.png)

[2018-05-29 15:02] kusogaki77 opened #828 "Errors when importing most recent RC in Unity 2018.1.1f1"
Get [this](https://i.imgur.com/rJ0zJox.png) when trying to import custom package mapbox-unity-sdk_v1.4.2.unitypackage in Unity 2018.1.1f.1.

[2018-05-29 15:53] atripathi-mb commented on #828
@kusogaki77 Will be fixed in the next release. In the meantime you can use the fix in this PR https://github.com/mapbox/mapbox-unity-sdk/pull/791

[2018-05-29 16:15] willychang21 commented on #827
@atripathi-mb
thanks,I will try it!!

[2018-05-29 16:15] #827 closed

[2018-05-29 20:35] citizen12 opened #829 "Build failure for MapboxPathUtilities.cs"
_Note: If this is a bug or support ticket, please provide the following information:_
* Unity version: 2018.1
  * Scripting Runtime Version: .NET 4.x
  * Scripting Backend: Mono
  * Api Compatibility Level: 24
* Mapbox SDK version: github develop branch
* The platform you're building to: Android
* A description of what you're trying to do: Build for Android
* Steps to recreate the bug if appropria

[2018-05-29 23:21] deadpixelsinfo commented on #819
![immagine](https://user-images.githubusercontent.com/34308754/40689875-9501946a-63a4-11e8-8df0-982e51c8ff75.png)
Hi Jordy, thanks for your reply, I try to explain the problem better.

One of the biggest problems in using mapbox on unity is the refreshing of the map tiles which makes the experience not smooth when zooming in and zooming out. At each zoom level the map is rebuilt and this does not

[2018-05-30 01:13] kusokuso1 commented on #828
@atripathi-mb Thank you very much.  I apologize for failing to see this information before posting.

[2018-05-30 01:43] kusokuso1 commented on #828
Sorry.  I replaced the BuildHelper.cs with [this ](https://github.com/mapbox/mapbox-unity-sdk/blob/22859b74de69fef8f44dacaa0a98022f62650680/sdkproject/Assets/GoogleARCore/SDK/Scripts/Editor/BuildHelper.cs) one you linked. Now it's failing on DllNotFoundException: sqlite3.  Basically can't find sqlite3.dll it seems.  Here's a [screenshot ](https://i.imgur.com/rX54AiW.png) of all the related errors

[2018-05-30 16:02] jordy-isaac commented on #819
@deadpixelsinfo thanks for the info. Smoothing out the zoom is something that we'll work to improve in the future.

As for the filters in the advanced section, you can use this to create filters to control what layers are rendered. For more info on what is available to filter, please check out the tileset layer reference documentation: https://www.mapbox.com/vector-tiles/mapbox-streets-v6/#tunnel-

[2018-05-30 16:08] jordy-isaac commented on #794
@andyvh Those two coordinates are only about 10 meters apart from each other. Have you tried adjusting the lat/lon of either? It could be due to GPS accuracy as well.

[2018-05-30 16:41] DavidAPC opened #830 "A way to use multiple custom datasets within a single map instance in Unity"
My team is currently creating a sophisticated Unity Mapbox application that will have multiple custom features (a set of points of interest (points), a few areas (polygons) and some transport routes (lines)). Setting up different vector visualization layers make sure each set of features get rendered/portrayed on the map in their own way, as well as letting code be attached to such features

Obvio

[2018-05-30 16:48] atripathi-mb commented on #830
@DavidAPC Unity SDK allows you to use multiple tilesets together by specifying comma separated mapIDs. Currently using datasets directly is not supported.

[2018-05-30 17:01] DavidAPC commented on #830
Whoa, that works perfectly well and totally solves my problem. Thank you very much! Wish I'd known that a lot earlier.

[2018-05-30 17:04] #830 closed

[2018-05-31 11:32] NeilOrthrus opened #831 "Issue Merging Android Manifests"
* Unity version: 2018.1.1f1
  * Scripting Runtime Version: 4.x
  * Scripting Backend: Mono
  * Api Compatibility Level: .NET 4.x
* Mapbox SDK version: v1.4.2
* The platform you're building to: Android
* A description of what you're trying to do: Merge Android Manifests
* Steps to recreate the bug if appropriate:

Import Mapbox into Unity project.
Set player settings Minimum API Level to level 23 a

[2018-05-31 12:33] jordy-isaac commented on #831
Our native Android GPS Plugin has the min requirement is set to 24 as it uses methods that are not available on earlier versions.

However, there are a couple things you could try. Uncheck `Android` in the inspector for
```Assets/Mapbox/Unity/Location/Plugins/Android/com.mapbox.android.unity-debug```

Or delete the whole folder:
```Assets/Mapbox/Unity/Location/Plugins/Android/```

[2018-05-31 12:35] jordy-isaac commented on #808
Closing this one for now please feel free to re-open with the additional info.

[2018-05-31 12:35] #808 closed

[2018-05-31 14:23] NeilOrthrus commented on #831
Thanks for the reply, your first suggestion fixed the problem :)

I'm a little confused though, https://www.mapbox.com/mapbox-unity-sdk/docs/02-known-issues.html  said it was capable of working with as far back as API level 15. Yet this particular file restricts us to a minimum of level 24. Is this a mistake in documentation, or am I just misinterpreting what each of these numbers refers to?

[2018-05-31 19:39] genaray opened #832 "How to request exactly all tiles in Camera View ?"
Dear community,

im currently struggling with some iusses...
My game isnt a top down game, so i have a normal perspective camera.
The problem is that either the transform location provider, neither the camera bounds tile provider requests all tiles in the camera viewport.

Heres a example :

https://imgur.com/a/2nlUhEW

As you can see only some tiles around the camera are visible. The rest isnt ev

[2018-06-01 13:29] jordy-isaac commented on #832
Hi there, @genaray! Have you tried selecting `Range Around Transform` for the `Extent Options`? I would make the Camera a child of your player and then increase the `Visible Buffer` to load more tiles.

![screen shot 2018-06-01 at 6 26 14 am](https://user-images.githubusercontent.com/33474236/40843085-b5ec0702-6564-11e8-9d45-87c2b7e7bc18.png)

As for performance, you might want to try using `Group

[2018-06-01 16:36] NeilOrthrus opened #833 "Question about checking if random point is on water or not?"
_Note: If this is a bug or support ticket, please provide the following information:_
* Unity version: 2018.1.1f1
  * Scripting Runtime Version: 4.x
  * Scripting Backend: Mono
  * Api Compatibility Level: .NET 4.x
* Mapbox SDK version: v1.4.2
* The platform you're building to: Android, IOS
* A description of what you're trying to do: Check is random point is on water.

In my unity project, I've c

[2018-06-01 19:17] jordy-isaac commented on #818
@itech4ever Thanks for your patience. Happy to help here. This is because the line mesh is not updated after the zoom level has changed. Directions factory will need to be called again after your zoom level has changed to scale the line correctly. I hope that this helps!

[2018-06-01 19:17] #818 closed

[2018-06-01 20:12] jordy-isaac commented on #833
Hi @NeilOrthrus You could set up a VectorLayerVisualizer for water and than also create a TagModifier to add tag those game objects with a water tag. Then, you can then add that TagModifier under the Game Object Modifier section of the VectorLayerVisualizer. When those bodies of water are generated at runtime they will all have the tag that you specify.

<img width="1052" alt="screen shot 2018-06-

[2018-06-02 22:33] heath3n commented on #833
I think he was asking: Given an arbitrary lat/lon, does a convenience method exist to determine if said coordinate falls within the bounds of a body of water?

[2018-06-03 06:39] BergWerkGIS opened #834 "Verify fallback is working when disabling native Android location plugin"
* Unity version: all
* Mapbox SDK version: +1.4
* The platform you're building to: Android
* A description of what you're trying to do:

refs #831

The native Android location plugin has min API level requirement of `24` aka `Nougat` aka `Android 7` which is the same as ARCore.

To build to lower API levels the plugin can be disabled either via
1. unchecking `Android` in the inspector properties o

[2018-06-03 08:55] shedar opened #835 "QuadTreeCameraMovement misses InverseTransformPoint"
QuadTreeCameraMovement uses [x and z](https://github.com/mapbox/mapbox-unity-sdk/blob/develop/sdkproject/Assets/Mapbox/Examples/Scripts/QuadTreeCameraMovement.cs#L254) coordinates of world points. It wouldn't work if the map is rotated. E.g. I rotated map X -90 and can't drag it vertically. I guess InverseTransformPoint should be applied after ScreenToWorldPoint call.

_Note: If this is a bug or s

[2018-06-03 18:27] JorgenEngenNapstad commented on #821
@jordy-isaac It's not the terrain data in it self that is the problem, it's that it only covers a small area of the world. Is there any way of smoothly "masking" out all of the places where custom terrain isn't available?

[2018-06-04 07:48] vahidreza commented on #531
hey,
I have downloaded the latest mapbox unity sdk and I could not find a GameObject named ExampleDirectionsQuery in InteractiveStyledVectorMap.unity scene.
I think I have checked almost all scenes but maybe I missed something.

I want to simply draw path on the map based on given coordinates and I do not know how.

thanks

[2018-06-04 15:41] NeilOrthrus commented on #833
Sorry for the late reply and thank you for the feedback.

Yeah I was pretty much asking what heath3n put in better words. Would there not be a way I could perhaps raycast down from an object I placed using GetGeoPosition() and find the maps layer at that point?

I did try what was suggested though and created a TagModifier called "Water" and applied it to the VectorLayerVisualizer, setting "water"

[2018-06-04 15:53] hopyou opened #837 "Smooth player movement and tolerance to small deviations"
Hi,
I am currently working on a game based on the "located based game' demo, the player's movement is bit jittery and very sensitive to change in geo coordinates as it's position is updated immediately with the location provider. I know I can use interpolation to smooth out the movement but I also want the player to be less sensitive to slight change in geo coordinates, e.g. how the arrow icon mov

[2018-06-04 16:21] BergWerkGIS commented on #837
@hopyou currently the SDK doesn't have location smoothing built in so you'd have to implement that yourself.

However as a first step the upcoming `v1.4.3` (due in the coming days) will have `Device Orientation Smoothing` (aka compass) and `User Heading Smoothing` (the direction the user is walking) builtin.

Location smoothing is planed for one of the following releases afterwards.

![image](http

[2018-06-04 16:42] atripathi-mb commented on #833
@NeilOrthrus Could you post a screenshot of your VectorLayerVisualizer settings?
I am guessing you are using the [water](https://www.mapbox.com/vector-tiles/mapbox-streets-v7/#water) layer for polygons?

You have access to the texture in the Unity TIle, you will have to write your own algorithm to check pixels, the SDK doesn't provide methods to do pixel filtering.

[2018-06-04 16:55] NeilOrthrus commented on #833
Yeah I am, would that explain the magenta polygons then?

![vlv](https://user-images.githubusercontent.com/39797635/40930512-cb7d04aa-681f-11e8-9ecb-ef0e22228909.png)
![tagmodifier](https://user-images.githubusercontent.com/39797635/40930514-cb9972e8-681f-11e8-989e-5f0a7ba14291.png)

~~
Thats fair enough, but is there no way to acknowledge the system applying the style and locate the data for a la

[2018-06-04 17:11] atripathi-mb commented on #833
@NeilOrthrus Your magenta polygons are because you haven't assigned materials to the layer.
![image](https://user-images.githubusercontent.com/32286016/40931282-58f21b68-67df-11e8-840e-6014ec30adb2.png)

I am not sure I understand this fully, could you elaborate?

[2018-06-04 17:58] NeilOrthrus commented on #833
Ah right, well I applied a cyan material to both those and I now get cyan polygons clipping through my maps whilst still having the Tag undefined error.
![screenshot_20180604-183521](https://user-images.githubusercontent.com/39797635/40932591-bfee79aa-6826-11e8-8135-159b2cad9da8.png)

~~
I was wondering if there was a way to access the Layer properties in the geoJson file you create and export alo

[2018-06-04 21:07] jordy-isaac commented on #833
@NeilOrthrus Shot in the dark about the null tag but have you added the `water` inside of the tag inspector of Unity?

[2018-06-05 01:07] Emixam23 commented on #786
Hey !

I do need AR (MapboxAR) so what should I do? :/

Max

[2018-06-05 14:08] hopyou commented on #837
@BergWerkGIS thanks for info. I will have a play with the upcoming new version to see if they meet my needs .

[2018-06-05 14:08] #837 closed

[2018-06-05 15:51] BergWerkGIS commented on #815
@willychang21 I refactored file caching and it should work now with your setup.
Would be great if you could test it.
Branch [`refactor-file-caching`](https://github.com/mapbox/mapbox-unity-sdk/tree/refactor-file-caching)

[code]

`File Cache Size` should be set to 2,500 automatically.
If it's not please make sure you set it to a value `>0`.

![image](https://user-images.githubusercontent.com/45498

[2018-06-05 21:54] YouAlwaysLoose commented on #734
Hey there, are you guys were able to setup project with Hololens and MapBox?

[2018-06-05 22:14] jordy-isaac commented on #832
Closing this one out. Please reopen if you need some more help.

[2018-06-05 22:14] #832 closed

[2018-06-05 22:15] jordy-isaac commented on #819
Closing this one but feel free to open if you need some more help.

[2018-06-05 22:15] #819 closed

[2018-06-05 22:15] jordy-isaac commented on #794
Closing this one out and please let us know if you need any more help.

[2018-06-05 22:15] #794 closed

[2018-06-06 04:56] willychang21 opened #838 "InteractiveSelectionCanvas in wrong transform"
Unity version: 4.0.2
Scripting Runtime Version:  .NET 3.5
Scripting Backend:  Mono
Api Compatibility Level:  .NET 2.0 subset
Mapbox SDK version: 1.4.2

I try to develop WorldScaleAR's map like InteractiveStyledVectorMap scene ,but there's some error
when I demo,I select the building , the InteractiveSelectionCanvas will render wrong transform like this,
I added laymodifier to map layer,unfortunate

[2018-06-06 09:06] foscocorazza opened #839 "Some tiles are blank"
Some tiles are blank: the position of these tiles is seemingly random, and it applies both on Android phone and on Unity Simulator.
Sometimes is just some of the tiles, sometimes is most of them (as in picture)

<img width="533" alt="screen shot 2018-06-06 at 10 45 31" src="https://user-images.githubusercontent.com/16489575/41027473-6f44faea-6977-11e8-802a-208577081c86.png">

I have a custom `Tile

[2018-06-06 10:37] BergWerkGIS opened #840 "Make 'PlayMode' tests work again with Unity@2018"
* Unity version: +2018
  * Scripting Runtime Version: 4.x
  * Scripting Backend: Mono
  * Api Compatibility Level: 4.x
* Mapbox SDK version: 1.4.3
* The platform you're building to: Editor, device
* A description of what you're trying to do:
`Unity@2018` seems to have changed they way it handles `PlayMode` tests.
At least current implementation doesn't work anymore.

**TODO:**
* [ ] investigate wh

[2018-06-06 11:39] nosmirck commented on #734
@YouAlwaysLoose no, I finished the rest of my PoC using a mocked map that I saved in editor runtime using this handy tool https://github.com/pharan/Unity-MeshSaver/blob/master/MeshSaver/Editor/MeshSaverEditor.cs

For the purpose of my PoC I believe I have enough, I'd like to have MapBox really load the current location and render the map properly so I can zoom in/out, change locations, etc. I'm st

[2018-06-06 14:44] BergWerkGIS commented on #839
@foscocorazza I'm pretty sure tiles don't appear because you are requesting too many of them at once and they get aborted by our servers as you get rate limited.

Scroll down to `Restrictions and limits` here:
https://www.mapbox.com/api-documentation/#retrieve-a-static-map-from-a-style

You could verify by attaching the `TileErrorHandler` script to your `Map` game object which should give you erro

[2018-06-06 14:44] DavidAPC opened #841 "Using too many Tilesets at once causes a crash that prevents Tilesets/Vector Data from loading"
As you know, you can use multiple Tilesets together by specifying comma separated mapIDs in the Unity inteface.This allowed a Unity map to draw features from several different datasets.

However, when I got up to 4 datasets, this stopped working. The application would run, but no Vector features would get draw. I'd also get this error multiple times:

``
SQLiteException: Could not open database fi

[2018-06-06 15:00] BergWerkGIS commented on #734
Working on it, but no ETA yet.
The change in Unity's behavior touches a lot more places than I had anticipated.
Especially `Mapbox.Json` (forked from `Newtonsoft.Json`) is a beast to tackle.

[2018-06-06 15:11] BergWerkGIS opened #842 "Android: investigate Unity@2018 requesting phone permissions"
* Unity version: 2018
* Mapbox SDK version: 1.4.3
* The platform you're building to: Android
* A description of what you're trying to do:
With 2018 Unity started requesting `Phone Permission` on Android (which 2017 didn't) and which we don't need in our SDK:
![image](https://user-images.githubusercontent.com/4549888/41047049-f82d29f2-69ab-11e8-8f5c-ea548cfb03ab.png)

**TODO:**
- [ ] investigate wh

[2018-06-06 15:11] Storm-Develop commented on #734
@nosmirck Thank you for the quick reply.
@BergWerkGIS Awesome I am going to wait for it too.  Meanwhile will try to build & run the simple project.
If need something to test on Hololens please let me know.

[2018-06-06 15:21] BergWerkGIS commented on #734
@Storm-Develop thanks, your help is very much appreciated 😄

[2018-06-06 15:31] BergWerkGIS commented on #841
@DavidAPC Are you on the .Net 4.x runtime?

From .Net  4.6.2 on access to long paths is disabled per default:
https://blogs.msdn.microsoft.com/jeremykuhne/2016/07/30/net-4-6-2-and-long-paths-on-windows-10/

A fix has already been merged https://github.com/mapbox/mapbox-unity-sdk/pull/825 and will be in the soon to be released v1.4.3.

[2018-06-06 16:08] DavidAPC commented on #841
.NET 4.7.2. Yep, that's the problem alright, thanks for letting me know it'll be fixed.

[2018-06-06 20:17] Storm-Develop commented on #734
@BergWerkGIS =) Sorry I am not that familiar with MapBox structure yet to help more. I am just trying first to make it work with the simplest solution possible.
I was able to Build the project by following your  #485 steps. And it works great in the Unity.
However, in Hololens, I see nothing=( Seems like the map wasn't generated.

If I downgrade Unity to version 2017.1 is that going to help?

@nos

[2018-06-06 23:18] DalinarKh opened #844 "How can I find a 3D POI Marker's longitude and latitude?"
I know I can use the _props dictionary from the PoiMarkerHelper class to find the values of properties, but these don't include the point's longitude and latitude. Any help would be really appreciated!

[2018-06-07 07:37] foscocorazza commented on #839
The problem is without doubts the one you pointed out.

The reason why the number of tiles is so big is that I have a third-person perspective, and the player is able to see very far in the horizon. Bigger tiles (as far as I understood) lower the resolution of them, so I did many, small tiles. I will quirk around with the numbers until I have a compromise.

Thank you!

[2018-06-07 09:26] specsdhdeveloper opened #847 "Can't rotate terrain"
Hi,
We're using a static terrain on top of mapbox tiles that are used for georeference. We'd like to augment the mapbox tiles with terrain elements. However, when localization and heading is updated, the tiles move and rotate, which make it impossible to have terrain elements match the georeferenced game objects that move with the tiles.

What we're doing at the moment is exporting the terrain to

[2018-06-07 12:54] #831 closed

[2018-06-07 12:55] #833 closed

[2018-06-07 12:55] #839 closed

[2018-06-07 13:01] jordy-isaac commented on #835
@shedar Can you let us know about your use case. Why do you need to rotate the Map -90 on X rotation?

[2018-06-07 13:26] SebastianPietraszek opened #848 "Changing extentOptions.extentType doesn't update map behaviour"
* Unity version: 2018.1.2f1
  * Scripting Runtime Version: .NET 3.5
  * Scripting Backend: Mono
  * Api Compatibility Level: .NET 2.0 Subset
* Mapbox SDK version: 1.4.2
* The platform you're building to: Android, iOS
* A description of what I'm trying to do:
Switch extentType in runtime.
* Steps to recreate the bug:
Switch extentType in runtime.

I'm changing `extentType` from `cameraBounds` to `R

[2018-06-07 14:05] BergWerkGIS commented on #734
@Storm-Develop

However, in Hololens, I see nothing=( Seems like the map wasn't generated.

The problem is that Unity and HoloLens (UWP - Universal Windows Platform) are running on different .Net framework versions which offer a **different set of APIs**.
Thus if something runs in Unity it is not for granted that the same thing will run on another platform, HoloLens in this case.

Because of the d

[2018-06-07 14:07] #841 closed

[2018-06-07 15:23] qinzitan opened #849 "Find TrueNorthHeading based on Abstract Map?"
I'm trying to determine Unity camera's compass/true north heading based on Abstract Map. Is it possible? Couldn't find it in the API doc. Or if there's any other class can help me get the value? Thanks

[2018-06-07 16:38] Storm-Develop commented on #734
I see thank you for the detailed answer.
Maybe these can be useful.
https://forum.unity.com/threads/net-scripting-backend-and-visual-studio-2017-3-incompatibility.487833/#post-3191224
https://docs.microsoft.com/en-us/windows/uwp/gaming/missing-dot-net-apis-in-unity-and-uwp

So I guess the real question would be **how much time** it would take to fix the dependencies?

[2018-06-07 18:06] specsdhdeveloper opened #850 "Reset AR camera position and orientation with manual synchronization points"
I'm having difficulties resetting the AR camera position when doing manual calibration.
The question is more related to ARKit than to mapbox, but I thought i'd just ask a question in case someone is facing the same issue.

I implemented some real-world synchronization points that are represented with marker images in the real world. upon recognizing the image, I use a transform location provider t

[2018-06-07 18:16] jordy-isaac commented on #848
Hi @SebastianPietraszek Can you include some screenshots, video or steps to reproduce what you're seeing?

[2018-06-07 21:33] shedar commented on #835
@jordy-isaac I'm playing with an idea of a map as an in-game object (tablet, table, walls, whatever), so it can have any rotation. I decided to take examples as a starting point. It took me quite some time to figure out why dragging is not working. I can fix it in my project, but to my mind, it's an unclear assumption that map is always in a certain orientation. It would be nice to either remove t

[2018-06-07 22:54] Storm-Develop commented on #831
I deleted the Assets/Mapbox/Unity/Location/Plugins/Android/ folder but still get the error unnable to merge AndroidManifest. Did the same steps from the tutorial. Am I missing something? Thank You
![Uploading Screenshot_17.png…]()

stderr[
Error: [Temp\StagingArea\AndroidManifest-main.xml, C:\Users\projectname\Temp\StagingArea\android-libraries\google_ar_required\AndroidManifest.xml:3] Trying to m

[2018-06-08 04:37] jordy-isaac commented on #821
@JorgenEngenNapstad At this time we don't support that type of masking. However, thanks for bringing it up as a possible use case for use to consider.

[2018-06-08 04:37] #821 closed

[2018-06-08 04:40] jordy-isaac commented on #835
@shedar Sounds like a cool project. Unfortunately, due to what you've mentioned rotating the map in that way isn't supported. If you'd like to contribute to the SDK and work on this issue, we gladly accept and review pull requests.

[2018-06-08 04:40] #835 closed

[2018-06-08 04:51] jordy-isaac commented on #844
Hi @DalinarKh thanks for the ticket! Can you tell us a bit more about your use case and what you're going to do with the lat/lon response? We might have some ideas to accomplish your goals.

[2018-06-08 05:01] jordy-isaac commented on #849
@qinzitan I would suggest taking a look at the [LocationProvider](https://www.mapbox.com/unity-sdk/overview/location-based-game/#understand-the-locationprovider-script) in the LocationBasedGame example.

[2018-06-08 05:01] #849 closed

[2018-06-08 05:19] jordy-isaac commented on #850
It could be that ARKit does not allow you to manipulate the camera and transform. It might be worth trying to manipulate the ARroot

[2018-06-08 05:53] jordy-isaac commented on #847
You might try using GeoToWorldPosition whenever you get a location update. This will take the current transform of the map into consideration to keep it in place.

[2018-06-08 08:21] BergWerkGIS commented on #831
If you don't need AR delete all AR related folders then you should be able to build to a lower version:
![image](https://user-images.githubusercontent.com/4549888/41146918-394a9d7a-6b05-11e8-9f45-3c0ec6d8b5f5.png)

However if you want to want to use AR (as I suppose you do judging from the screenshot) you can't go below 24 as this is the minimum requirement for `ARCore`:
https://developers.google.

[2018-06-08 09:08] SebastianPietraszek commented on #848
Sure,

In inspector of `AbstractMap` I set extent options:
![image](https://user-images.githubusercontent.com/40030209/41148487-664916f4-6b09-11e8-98e6-fd32983d4ccc.png)
and
![image](https://user-images.githubusercontent.com/40030209/41148683-e0ed8796-6b09-11e8-8b60-d384306905fc.png)

I set it to be `Camera Bounds`.

I run the application in the editor and I  see, that map is responding to camera

[2018-06-08 09:25] SebastianPietraszek opened #857 "Loading Texture in AbstractMap is not respected"
Unity version: 2018.1.2f1
Scripting Runtime Version: .NET 3.5
Scripting Backend: Mono
Api Compatibility Level: .NET 2.0 Subset
Mapbox SDK version: 1.4.2
The platform you're building to: Android, iOS
A description of what I'm trying to do:
Trying to use Loading Texture in AbstractMap.
Steps to recreate the bug:
1) Set the field `Loading Texture` in inspector of AbstractMap.
![image](https://user-im

[2018-06-08 09:34] specsdhdeveloper commented on #850
Moving the AR Root is what I've been doing all along.  For the life of me I can't figure out how to move it to cancel out both rotation and translation. If I add a positional offset, the rotation is applied on top of that offset and messes up with the position.

If I add an offset directly to the camera transform, then the position and rotation are correctly set, but when I move the camera include

[2018-06-08 09:45] DalinarKh commented on #844
Thanks for the response! I'd like to use this information to calculate the real world distance between the user and any given marker using the haversine formula.

[2018-06-08 09:59] BergWerkGIS commented on #734
@Storm-Develop I really can't tell as I'm hitting a `Catch 22`-like situation with a very simple problem already.

**Open to suggestions how to get past that.**

----

.NET framework version used by `UWP` doesn't have `DescriptionAttribute` so we define it ourselves and wrap it within `#if UNITY_WSA`:

[code]

That produces the following `ambiguous reference` error in Editor
[code]

as the API of

[2018-06-08 11:11] specsdhdeveloper commented on #850
I found the solution. The best way to do this is to use SetWorldOrigin to reset the position and orientation. I don't know if this is available through ARInterface, I'm using the original arkit unity plugin and got the idea from this post :

 https://blogs.unity3d.com/2018/02/16/developing-for-arkit-1-5-update-using-unity-arkit-plugin/

[2018-06-08 11:11] #850 closed

[2018-06-08 13:32] Storm-Develop commented on #734
@BergWerkGIS I see what if we just comment the description text for now?
Also maybe with #UNITY_WSA_10_0 it will work.
OR WITH #if UNITY_WSA && **ENABLE_DOTNET** && !UNITY_EDITOR
![screenshot_19](https://user-images.githubusercontent.com/11896104/41160582-cba24bb0-6af5-11e8-9ed3-9fb5eb81ae9d.png)
![screenshot_20](https://user-images.githubusercontent.com/11896104/41160859-7fc9a444-6af6-11e8-9787-2

[2018-06-08 13:43] yash2410 opened #858 "How do I make a real live mini map for flight simulation UI"
* Mapbox SDK version: v1.4.3
* Platform: Unity 2018

I'm trying to make a flight UI with a mini map to show exactly where the users is and the flight path the user should be following.
Trying to make it like the highlighted part in the picture but for real world maps.
![minnimap](https://user-images.githubusercontent.com/28266446/41161307-05105cac-6b50-11e8-9bd5-f10adb151549.jpg)

[2018-06-08 13:51] BergWerkGIS commented on #734
@Storm-Develop

OR WITH #if UNITY_WSA && ENABLE_DOTNET && !UNITY_EDITOR

Thanks for the ideas but I've already tried those and others (`UNITY_WINRT`, `NETFX_CORE`, `ENABLE_WINMD_SUPPORT`, `!UNITY_EDITOR`) and all possible permutations thereof.

Always the same problem: during different stages of the export Unity seems seems to use the Mono compiler and then for some other C# files the Microsoft co

[2018-06-08 15:55] Storm-Develop commented on #831
@BergWerkGIS  Thank You.  https://developers.google.com/ar/develop/unity/quickstart-android#requirements helped a lot.
I found that the step for building the package on the map box website is poorly explained.
I had to update the Google ARCORE and I missed the following settings:
Player Settings > Other Settings > Multithreaded Rendering -> **DISABLE**
Player Settings > XR Settings > ARCore Suppor

[2018-06-09 02:01] Gzbx opened #859 "Roads rendered using the Line Vector Layer Visulaiser appear disjointed and under the terrain"
**Unity version:**
2017.3.1f1

 **Mapbox SDK version:**
1.4.3

 **The platform you're building to:**
PC

 **A description of what you're trying to do:**
Create a racing track based on road data that is aligned to the terrain.  I thought the Line Vector Layer Visualiser would do this.

 **Steps to recreate the bug if appropriate:**
The Standard Replace Features example tries to do what I am after,

[2018-06-09 09:35] #858 closed

[2018-06-11 08:15] willychang21 commented on #838
I had solved this problem , just  changed the tag to maincamera

[2018-06-11 08:15] #838 closed

[2018-06-11 10:39] BergWerkGIS commented on #831
@jordy-isaac ^^ do have resources to add `ARCore` specific information to the docs?

[2018-06-11 13:12] BergWerkGIS commented on #734
@Storm-Develop @nosmirck

I think I got an initial version working and it would be great if you could give it a spin and let me know if it works for you too.
Please see below for the settings I used and how to get that branch.

![hololens-quest-01](https://user-images.githubusercontent.com/4549888/41230394-e8c66bcc-6d7f-11e8-9d4c-a2068ac6abe9.gif)

-------

### My Settings

- **Unity@2018.1.3.f1**

[2018-06-11 14:18] Storm-Develop commented on #734
@BergWerkGIS Millions of Thanks! It does work!
I tried the **Replace Features** Example

![replacefeautures](https://user-images.githubusercontent.com/11896104/41237132-6a60202e-6d58-11e8-8c9b-0cd632aa7924.gif)

Just a small comment I didn't have SQLite for UWP so downloaded from the market store [https://marketplace.visualstudio.com/items?itemName=SQLiteDevelopmentTeam.SQLiteforUniversalWindowsPl

[2018-06-11 14:51] BergWerkGIS commented on #734
@Storm-Develop Great! 🎉 🎆
Now you got something to work with.

Thanks for testing  🙏

Be aware thought that this is still work in progress and might need a few more weeks till it gets into `develop` branch and hopefully into the next release (still a lot of cleanup necessary).

Oh yeah, thanks for the reminder. I forgot to mention that.

[2018-06-11 18:00] tetreum commented on #500
I don't see where i can set the custom source in MapBox SDK to point it to any of OpenMapTiles services (GL, TileJSON, WMS, WMTS, Raster, Vector, etc..):
![Imgur](https://i.imgur.com/w0bxM0M.png)

Everything in this sdk points to a "mapbox://" protocol and fails to load anything else :S

[2018-06-12 10:46] brnkhy opened #860 "Layer Visualizer setting `buildingsWithUniqueIds` isn't available in Custom Visualizer inspector"
buildingsWithUniqueIds is a setting we use for 3d-building tileset.
For Point, Line and Polygon visualizers, we have this setting as a checkbox under advanced settings but it's not there for custom visualizers. This means 3d-buildings tileset isn't usable with a custom building visualizer.

cc @atripathi-mb

[2018-06-12 14:19] willychang21 opened #861 "FeatureUiMarker.cs problem"
I want to create a `UI marker` on my map like this   ↓
![marker-15](https://user-images.githubusercontent.com/38349902/41295137-58d9d446-6e8c-11e8-81c9-3570aa79ebde.png)
Hence,I try to modify the  `FeatureUiMarker.cs`
I create the `landmark` to show the UI marker
[code]
![image](https://user-images.githubusercontent.com/38349902/41294384-8674aa2c-6e8a-11e8-9e72-10f6dc031ce8.png)
![image](https://u

[2018-06-12 14:21] #861 closed

[2018-06-12 15:53] willychang21 commented on #861
haha I find the `selector` object

[2018-06-13 12:21] richardzzzarnold commented on #531
TouqeerAhmad any chance you could share your code for this? It seems like this is exactly what a lot people are wanting..

[2018-06-13 20:58] tab1887 opened #862 "Editor GUI broken with custom map class"
Hi,

I hope it's appropriate to post my issue here. If not, please just delete it.

I'm trying to implement a custom map class, derived from AbstractMap, but I can't get it working in the Unity Editor. Whenever it would open the properties pane for my newly created map component, it throws many exceptions like this:

[code]

In the most simple test case my class does not even contain any custom co

[2018-06-13 21:38] atripathi-mb commented on #531
@richardzzzarnold @vahidreza
You can use the files linked below. We no longer have directions in our `Interactive Vector Map` example since we are in the process of creating a new example dedicated to directions. Apologies for the confusion.

https://github.com/mapbox/mapbox-unity-sdk/blob/develop/sdkproject/Assets/Mapbox/Examples/Prefabs/ExampleDirectionsQuery.prefab
https://github.com/mapbox/map

[2018-06-13 21:49] MiroMuse commented on #695
@atripathi-mb is this done?

[2018-06-13 23:58] MiroMuse commented on #817
@BergWerkGIS what's the status on this one?

[2018-06-14 05:05] atripathi-mb commented on #862
@tab1887 You will also need to create a custom editor class deriving from `MapManagerEditor` https://github.com/mapbox/mapbox-unity-sdk/blob/develop/sdkproject/Assets/Mapbox/Unity/Editor/MapManagerEditor.cs

[code]

Unity custom UI doesn't work very well with inherited classes, so you need to specify the `type` of the class explicitly.

[2018-06-14 06:30] BergWerkGIS commented on #817
@MiroMuse not started yet.

[2018-06-14 09:55] richardzzzarnold commented on #531
Hi Abhishek,

Thanks for the swift response.

I managed to get an example going yesterday, the same way you described here,

which works fin on startup,

however, I am experiencing some difficulty in updating the mesh.
If for example the end point moves, how can I remake the path?

best regards

Richard Arnold

[2018-06-14 15:04] atripathi-mb commented on #531
@richardzzzarnold You need to trigger the [Query] (https://github.com/mapbox/mapbox-unity-sdk/blob/f1113fcb89357146209b87880707f79049deafec/sdkproject/Assets/Mapbox/Unity/MeshGeneration/Factories/DirectionsFactory.cs#L52) method when your end points move. Our example is setup to update the direction when map's location/zoom is changed. You will need to write logic to trigger the query when end poi

[2018-06-14 20:09] #847 closed

[2018-06-14 20:17] jordy-isaac commented on #857
@SebastianPietraszek It doesn't look like you have a texture specified in the first screenshot.

[2018-06-14 20:30] jordy-isaac commented on #829
Please re-open this ticket if you're still having trouble building to android in 1.4.3

[2018-06-14 20:30] #829 closed

[2018-06-15 07:16] SebastianPietraszek commented on #857
@jordy-isaac Sure, by this screenshot I am pointing to a field that I am setting. The screenshot doesn't show it but in the description it's clear that I do set this field.

[2018-06-15 07:31] DennyLindberg opened #867 "GeoToWorldPosition applies heightmap offset in wrong space (with fix)"
**Note:** I have not included the bug report template because this is a transforms issue. Solution at the bottom.

I have been using AbstractMap.GeoToWorldPosition() to find the world position of latlon coordinates. After some testing I noticed that the height offset is applied on the Y+ axis in world space instead of along the normal of the map surface in local space. Not only is the height offse

[2018-06-15 10:08] richardzzzarnold commented on #531
Hi Abhishek,

Thanks for your response, I have it working now.
However, for some reason it works fine in the editor but when I build it to the device it is failing to make the path and I am getting this exception:

NullReferenceException: A null value was found where an object instance was required.
  at Mapbox.Unity.MeshGeneration.Modifiers.HeightModifier.QueryHeight (Mapbox.Unity.MeshGeneration.

[2018-06-15 10:56] richardzzzarnold commented on #531
Would I be correct in thinking that in unity the scripting backend setting in the Player Settings would need to be selected as Mono instead of IL2CPP?

best regards

Richard Arnold

[2018-06-15 12:49] jordy-isaac commented on #859
@Gzbx Snapping roads on terrain is difficult and there isn't an easy fix for that. We normally suggest for a use case like this to use flat maps.

As for getting the roads to match better, you might want to try to increase the sample rate in the terrain settings. We also have a `SmooteLineModifier` which may help. These won't have drastic changes, but they can help with this a little.

[2018-06-15 12:51] jordy-isaac commented on #848
Hi @SebastianPietraszek. As of now we don't support runtime update of map properties.

[2018-06-15 12:51] #848 closed

[2018-06-15 12:53] SebastianPietraszek commented on #848
Ok, thanks for info. Any idea on how to overcome this problem?
Having two instances of map in the scene seems to me to be not a good idea...

[2018-06-15 13:03] jordy-isaac commented on #844
Hi @DalinarKh For this I would suggest using raycast and then using GeoToWorldPosition.

https://www.mapbox.com/mapbox-unity-sdk/api/unity/Mapbox.Unity.Utilities.Conversions.html

I hope this helps!

[2018-06-15 13:03] #844 closed

[2018-06-15 18:32] jrmistry opened #868 "Mapbox > Setup Menu not openning"
DllNotFoundException: sqlite3
SQLite4Unity3d.SQLiteConnection..ctor (System.String databasePath, SQLiteOpenFlags openFlags, Boolean storeDateTimeAsTicks) (at Assets/Mapbox/Core/mapbox-sdk-cs/Platform/SQLite/SQLite.cs:200)
Mapbox.Platform.Cache.SQLiteCache.openOrCreateDb (System.String dbName) (at Assets/Mapbox/Core/mapbox-sdk-cs/Platform/Cache/SQLiteCache/SQLiteCache.cs:176)
Mapbox.Platform.Cache.

[2018-06-17 09:35] tetreum opened #870 "Increase building rendering range"
* Unity version:  2017.4.f01
* Mapbox SDK version: 1.4.3
* The platform you're building to: Web

Building rendering range looks to be really short, as buildings disappear while they are still on camera:
![https://i.imgur.com/JvHbN4w.png](https://i.imgur.com/JvHbN4w.png)
![https://i.imgur.com/tfcWDZU.png](https://i.imgur.com/tfcWDZU.png)

Notice the left bottom building how some parts have disappea

[2018-06-17 17:39] UlisesPereida commented on #857
I'm having a similar issue right now, when using the default loading texture, it works, but when I switch the loading texture to a custom one, the map shows no loading tile, and just shows the map once it loads it.

I'm using the same mapbox sdk version and unity 2017.3.1

[2018-06-17 18:12] BergWerkGIS commented on #531
Yes @richardzzzarnold there currently seem to be some hiccups whenever `JSON` parsing (the directions response from the API) and `IL2CPP` are involved.

Please try again with `Mono`/`.NET` scripting backend.

[2018-06-17 18:17] BergWerkGIS commented on #868
@jrmistry
Could you please check if you have .Net Framework 3.5 installed?

[2018-06-17 20:59] richardzzzarnold commented on #531
Hi
This is unfortunate as i think you have to have the il2cpp backend to release on ios.
So does this mean i cant use it on ios ?
-richard

Sent from my iPhone

[2018-06-18 14:02] jordy-isaac commented on #870
Have you tried changing the `Extent Options` on the `AbstractMap` script?

[2018-06-18 15:04] Gzbx commented on #859
Thanks @jordy-isaac . Happy to close this call. I am looking at alternative approaches.

[2018-06-18 15:04] #859 closed

[2018-06-18 16:12] tetreum commented on #870
Yes, switching from camera bound to transform has a result like... better have a view:
![https://i.imgur.com/575gPNO.png](https://i.imgur.com/575gPNO.png)

[2018-06-19 09:50] BergWerkGIS commented on #531
@richardzzzarnold you are right about IL2CPP and iOS, doesn't work any other way - I mixed that up with UWP/HoloLens where we have troubles with JSON and IL2CPP.

We just did a quick test and directions on iOS worked fined for us.

Could you share your query (start- and endpoint) so that we can check the API response.
Maybe some property is not populated and we are missing a null check.

[2018-06-19 10:01] richardzzzarnold commented on #531
Hi Wilhelm,

I just isolated the problem,

in the MeshModifiers array on the DirectionsFactory,I had a LineModifier and a HeightModifier , which I had seen in an example or prefab or somewhere as the way to do it.
I removed the height modifier and it worked.
Not sure if the problem was in the height modifier itself or just that it was in the array without being used.

This is the error message I w

[2018-06-19 10:55] SebastianPietraszek opened #871 "AddToCollectionModifier doesn't use proper position"
Unity version: 2018.1.2f1
Scripting Runtime Version: .NET 3.5
Scripting Backend: Mono
Api Compatibility Level: .NET 2.0 Subset
Mapbox SDK version: 1.4.2
The platform you're building to: Android, iOS
A description of what I'm trying to do:
Use AddToCollectionModifier with KdTreeCollection.

In `Run` method of `AddToCollectionModifier` class, position passed to collection comes from `VectorEntity`.

[2018-06-19 12:33] richardzzzarnold commented on #531
Hi Wilhelm,

Two other queries I have are:

1) The zooming function as demonstrated in  the ZoomableMap scene does not seem to affect a direction waypoint entity.
	Presumably I would need to have to remake the DWE on touch.finished, which isn’t ideal….is it possible to have the DWE scale with the map?

2) I am having a bit of bother updating the device location as I walk around .Does this happen a

[2018-06-19 15:12] qinzitan commented on #849
@jordy-isaac Thanks for your answer! Does it have to work with a device's compass or a "mock" location provider in the editor that I manually setup?
Basically, I'm pulling up a 3D map using Abstract Map and am trying to define the direction of true north based on the map so I can use it as a reference. Is it possible? Thanks

[2018-06-19 20:52] iiidefektiii opened #873 "Unity + Mapbox IFeaturePropertySettable on Generated Mesh from Polygon?"
Not sure if this is a bug but more of a question. I've asked other places with no response.

I have been using the following example code with points and seems to work great but doesn't seem to work with polygons. I created a polygon building in mapbox studio gave it a property of prop_name and in Unity added a "AddMonobehaviourModifier" to it. The script gets added but the Set function is never r

[2018-06-19 22:44] genaray opened #874 "Latitude/Longitude - Distance & Travel duration - calculation"
Well hey there dear dev team !

My iusse is a bit complex and not very common... so please be patient :)
Futhermore it would be great if anyone could help me **as fast as possible** with this iusse !!

----------------------------------------------------------------------------------------------------------

-Background information-

[Server side stuff]
- I calculate server side one new random lat

[2018-06-20 16:54] iiidefektiii commented on #873
Figured it out. Totally different setup for mesh which took a little bit to figure out and break apart.

[2018-06-20 16:54] #873 closed

[2018-06-20 20:20] jordy-isaac commented on #874
@genaray What formula is he using for conversion from lat/long and back. Vector3 is float, and it might be loosing a lot of precision when converting. Every digit in lat long is a big distance in real world.

[2018-06-21 08:32] BergWerkGIS commented on #531
Maybe @atripathi-mb can chime in on `1.`

@ `2.`

No, that should get polled automatically - unless it breaks out of that loop, eg in case Unity couldn't connect to the device's location service.
Check your device logs if you see any errors related to that.

You might want to take a look at the `LocationProvider` example in the `Playground` folder and check if that scene works on your device.

We'

[2018-06-21 09:50] timgoeij opened #875 "Cannot make an UWP build through attribute errors"
_Note: If this is a bug or support ticket, please provide the following information:_
* Unity version: 2017.3.1p4
  * Scripting Runtime Version: stable .NET 3.5 equivalant
  * Scripting Backend: .NET
  * Api Compatibility Level: .NET 4.6
* Mapbox SDK version: 1.4.3
* The platform you're building to: UWP Hololens
* A description of what you're trying to do: Building a C# unity project for visual st

[2018-06-21 09:52] richardzzzarnold commented on #531
Hi Wilhelm,, it does seem to work better now that I have followed your instructions, though it is far from perfect.
I think

was the crucial missing bit.

But now I get a new error when zooming in and out from the map .
Also as mentioned before in 1) the directional waypoint entity does not flow with the zoom and pan.

The error I am getting is this:

NullReferenceException: Object reference not s

[2018-06-21 09:58] richardzzzarnold commented on #531
Hi Wilhelm,

Also, I should add , that if the app needs to go through these steps

in order to function properly, it may not be suitable for this app.
I don’t think I will be able to persuade my customers to do this every time they leave their house.

Perhaps I will need to redevelop my app natively at some time in the future.
 I imagine Mapbox probably prefers Native development.

-best regards
R

[2018-06-21 13:20] ibesora opened #876 "AR Examples don't work in Android 7 on a Galaxy S7"
Hi,
I'm using your amazing SDK to implement something in AR but I can't get it to work. After thinking it might be something with my code, I tried to load all your AR examples and none of them work, just get a black screen after the Unity logo. All the other examples work great.

Some data about my rig:
Unity version: 2018.1.5f1
Mapbox SDK version: 1.4.3
Building to Android 7.0 (API level 24) on a

[2018-06-21 14:04] BergWerkGIS commented on #531
Sorry, I cannot help with that but I already pinged a colleague above.
He's at a conference this week so will probably get back to you next week.

I don’t think I will be able to persuade my customers to do this every time they leave their house.

Of course not, we don't want to do that either.
I just shared some information we found out the hard way ourselves to save you some trouble and to easil

[2018-06-21 14:45] BergWerkGIS commented on #875
@timgoeij I'm actively working on a fix for that problem.

Till that gets into a new release please try the workaround described in this comment and let me know if it works for you:
https://github.com/mapbox/mapbox-unity-sdk/issues/734#issuecomment-396238192

[2018-06-21 15:34] BergWerkGIS commented on #876
Hm, that's weird. Don't think I've seen that before.

Cannot offer a solution but maybe check these:

* your app's permissions on the device in case you accidentally denied the camera permission
* in Unity if `ARCore Supported` is checked (`Player Settings -> XR Settings`)
* maybe reinstall ARCore although I suppose you have it already because you tried the React SDK.
  * either from the PlayStore

[2018-06-21 16:32] SebastianPietraszek commented on #871
I've found an option which fixes above problem:
![image](https://user-images.githubusercontent.com/40030209/41732479-66ef8386-7581-11e8-8645-8c621f2d9280.png)

[2018-06-21 16:32] #871 closed

[2018-06-21 18:00] Xerios opened #878 "Chamfer mesh modifier doesn't work"
As discussed during Unite 2018 conference, this part has never worked for me on any city ( mapbox's data tiles ) or custom data tileset ( imported through mapbox studio ).

This bug was reproduced on the demo PCs and on my laptop.

Sorry for this lazy description but at the current state, this is the best description I can give.
I'll provide more info if necessary, although I've already discussed

[2018-06-21 18:45] jordy-isaac commented on #875
Closing this one out as there is activity in other tickets.

[2018-06-21 18:45] #875 closed

[2018-06-21 18:49] jordy-isaac commented on #878
@Xerios Can you please include some screenshots and steps to reproduce it when you're able to do so?

[2018-06-21 18:51] #862 closed

[2018-06-21 18:53] jordy-isaac commented on #868
Closing this for now. Please re-open if you're still having issues once you've confirmed you have 3.5 of .Net installed.

[2018-06-21 18:53] #868 closed

[2018-06-21 18:55] jordy-isaac commented on #870
Can you let us know a bit more about your use case and what you're trying to achieve in the end.

[2018-06-21 21:19] Xerios commented on #878
This feature has never worked for me or anyone I know, so reproducing it is as simple as these following  steps:

**Step 1:** Open up any of the existing samples ( preferably with building meshes ),
 _or alternatively create a new abstract map and get to a point where you can vizualize buildings in any way._

**Step 2:** Add mesh modifier named "ChamferHeightModifier",
 _or alternatively, create y

[2018-06-21 21:40] brnkhy commented on #878
Hey @Xerios !
I'll look into this as soon as possible, thanks for the ticket! I'll ping you again when I have a fix!

[2018-06-21 23:46] jordy-isaac commented on #878
@Xerios Thanks for posting this and my apologies for the hassle. It helps to have this documented in a public ticket if the original convo happened offline at the conf. The context might help others users and devs. I appreciate it :)

[2018-06-22 04:57] donedgardo commented on #101
After following @Magniel instructions i been able to finally get the build working.

[2018-06-22 06:18] tetreum commented on #870
Oh yes!
Like this, but with building collisions and "GPS path":
https://framesynthesis.com/drivingsimulator/maps/

[2018-06-22 09:13] ibesora commented on #876
ARCore Supported was not checked. Sorry about that.
You should add that to the Getting Started instructions on the Mapbox Unity SDK so people like me, who had never used ARCore before know that.
Is that documentation on github? I can do a PR request adding that.
Thanks for your help!

[2018-06-22 09:13] #876 closed

[2018-06-23 22:29] brnkhy commented on #878
@Xerios I just realized we actually pushed a new version of this (with small changes and probably the fix you needed) 1-2 weeks ago. I just tried it and worked for me;
![aspowerbar_2018-06-24_01-24-38](https://user-images.githubusercontent.com/1465390/41814143-d28d2300-774d-11e8-954f-e6634e724938.png)

latest on dev branch is here;
https://github.com/mapbox/mapbox-unity-sdk/blob/develop/sdkproject

[2018-06-23 23:09] brnkhy commented on #867
Hey @DennyLindberg,
I haven't tested it yet but even from the explanation and code, it makes perfect sense. Thanks for the detailed explanation and solution. I'll test it out asap. 🙏

[2018-06-23 23:16] brnkhy commented on #870
@tetreum I think it might be a known issue regarding the zoom level & camera bound tile provider.
Can you try decreasing zoom level down to 16 and try it again (with everything else same)?
I'm afraid I won't have any quick fix suggestions on top of my head if that fixes it.

Wait, actually I might have one; the only difference between z16 and z18 is the imagery and I guess you went z18 because you

[2018-06-24 08:57] tetreum commented on #870
It's strange, the first meters was going pretty well, every building was fully rendered, but then:
![https://i.imgur.com/szTMI8D.png](https://i.imgur.com/szTMI8D.png)

I will keep going, maybe this zone is as it looks

[2018-06-24 11:17] Xerios commented on #878
Did a quick test using your settings with my maps, and it looks like it works!
![image](https://user-images.githubusercontent.com/181384/41818472-1975cd78-77b0-11e8-85b3-a50a8203029d.png)

Although, it's a bit unfortunate that it doesn't work when going through the simple Polygon Extrusion, because now I have to modify `ChamferHeightModifier` to make it use a custom height property.
I hope those t

[2018-06-24 20:00] brnkhy commented on #878
@Xerios to explain how it works in the background; all options (other than custom) under extrusion type is just a predefined set of modifiers. i.e. "polygon" is just `polygon mesh mod + uv mesh mod + textured height mod` etc etc.
So when you select polygon and then add a chamfer height mod, it applies it after the textured mesh mod . maybe we can make it to override in the future but I'm not sure

[2018-06-24 20:02] wzy221 opened #879 "how to acquire the geojason data from the query api and store it in the update function?"
Hi,  I have read thesolution in the query for routing using directions api. However, i am no clear on how to get the geojason data respond after the query. I tried the code to query the points, but the result were excuted after the updation function. THus, such data can not be processed and stored in the updating process. Is there anyway in Unity to directly acquire the respose of query informatio

[2018-06-24 23:14] timgoeij commented on #734
@BergWerkGIS

I have tried the same settings as you mentioned above in my own project and in an empty project and got the same atttribute errors in Unity 2018.1.6. Is there a possibillity for my to clone the Hololens-fixes? Last time I tried to clone the branch with above command, but  that it wasn't working before I wrote issue #875

[2018-06-25 02:58] Storm-Develop commented on #734
@timgoej Based on your error image you didn't get the hololens-fixes branch.  Just download the branch hololens-fixes manually as zip file.

[2018-06-25 07:10] BergWerkGIS commented on #734
@timgoeij I agree with @Storm-Develop: looks like you didn't get the `hololens-fixes` branch.

Either use this `git command`
[code]

or download https://github.com/mapbox/mapbox-unity-sdk/archive/hololens-fixes.zip

For both options make sure you are using a new target directory and **not** save/clone into an existing (SDK) one, which might also lead to those errors.

[2018-06-25 10:05] Xerios opened #880 "Image tiles don't always load"
_Note: If this is a bug or support ticket, please provide the following information:_
* Unity version: 2018.2
  * Scripting Runtime Version: 4.6
  * Scripting Backend: Mono
  * Api Compatibility Level: 4.6
* Mapbox SDK version: Latest public and develop ( 1.4.3 and + )
* The platform you're building to: Windows
* A description of what you're trying to do: Trying to navigate map and have the tiles

[2018-06-25 11:00] brnkhy commented on #880
@xerios we tracked down this issue and it's a racing condition probably happening because of some new-ish changes. We'll implement a proper fix but until then, you can fix it by adding something like;

UnityTile.cs line 195
[code]

[2018-06-25 11:40] brnkhy commented on #880
@Xerios if I remember correct it should be at the end of the `SetHeightData`. Idea is checking cached image in case image is loaded before terrain .

[2018-06-25 13:53] ophilbinbriscoe commented on #741
Am I missing something? That thread seems to end with the conclusion that 4.6 is out of the question for the time being.

[2018-06-25 19:15] Tonykidv2 commented on #238
@david-rhodes How do you go about offsetting the result position. I have the globe continuously spinning.

[2018-06-25 19:52] Tonykidv2 commented on #238
[code]

Well here is my code. In my application earth is rotating and every so often a new GPS coordinate will be enter and this is called but this function doesn't take into account how much the globe has rotated.

this
`var rotatedPosition = _globeTransform.rotation * position;`

doesn't seem to work.

[2018-06-26 09:06] BergWerkGIS commented on #741
@ophilbinbriscoe can you elaborate on the problem you are facing (in a new issues please)?
Latest release has the problem of the OP fixed.

[2018-06-26 11:17] brnkhy commented on #878
@Xerios I'll close this ticket for now as it looks like it's working but just hard to use (the setup etc). Feel free to open it up again if you ahve any follow up questions though.

[2018-06-26 11:17] #878 closed

[2018-06-26 11:49] brnkhy commented on #870
@tetreum I checked the location and look like that part of the city is missing data in general. But I think there's also an issue with the new building tileset so your first shot even missing a few buildings that should be there. This is what I get when I switched to streets tileset;
![unity_2018-06-26_14-44-49](https://user-images.githubusercontent.com/1465390/41909356-7f054830-794f-11e8-8921-9e1

[2018-06-26 12:28] tetreum commented on #870
I need the buildings to have 3d collisions :)
And no problem! Your product has the most updated info. I've tested others like WRLD and they lack most parts of the world + their existing data is outdated.

I also tried to point to an OpenMapTiles server for data source, but looks like sdk is not ready to point to non `mapbox://` urls

[2018-06-26 12:56] atripathi-mb commented on #870
@tetreum Could you also share with us a screenshot of all the settings you have for the building visualizer layer?

[2018-06-26 13:38] brnkhy commented on #860
@atripathi-mb I think this is merged into dev branch right? good to close?

[2018-06-26 13:50] atripathi-mb commented on #860
Yup addressed with this commit https://github.com/mapbox/mapbox-unity-sdk/commit/88394a75fc263a6be60c0ec5bf07479c5efbcf9b

[2018-06-26 13:50] #860 closed

[2018-06-26 18:18] phgold opened #884 "Reload Map on Zoom - Globe Example"
Hello.
I'm relatively new to the Unity universe, and I just learned about mapbox today.
I have been fidling with it for some hours.
I'm trying to build a Globe map that updates as you zoom in, just as google maps or earth, for an Android Device.
I can't wrap my head around as how to make it work, since the ZoomableMap example is a 2D map.

Any Ideas on how to implement this feature in the Globe ex

[2018-06-26 18:40] tetreum commented on #870
There it goes:
![https://i.imgur.com/esK8YN4.png](https://i.imgur.com/esK8YN4.png)

[2018-06-27 02:35] willychang21 opened #885 "Direction will ignore footprint"
Mapbox SDK version: latest version
I'm trying to do a walking nevigation app ,but It seems that `directionfactory`only support the road for car.
`direction waypoint  entity` will ignore the footprint and choose the longer path to reach the destination
![image](https://user-images.githubusercontent.com/38349902/41949645-e8b4f7c6-79f4-11e8-9bc0-75ded5357fb0.png)

[2018-06-27 07:34] timgoeij commented on #734
@Storm-Develop and @BergWerkGIS

Thanks both of you I wasn't sure if I downloaded the zip, mapbox should work properly.

[2018-06-27 10:43] atripathi-mb commented on #531
@richardzzzarnold

Map and the directions are different entities. Directions response is a set of locations, our example uses the line renderer to draw them for demonstration purpose. You will have to re-draw the direction lines when the map updates, I would suggest using the `OnMapUpdated` event to trigger your direction line redraw.

[2018-06-27 10:57] atripathi-mb commented on #885
@willychang21 Since this is an example, directions factory is setup to show driving directions.
you can change it to `walking` or `cycling` by choosing the routing profile here https://github.com/mapbox/mapbox-unity-sdk/blob/a49e19dc5e24c90989fe14e8262cb23d9c309450/sdkproject/Assets/Mapbox/Unity/MeshGeneration/Factories/DirectionsFactory.cs#L82

[2018-06-27 13:17] willychang21 commented on #885
Thx,Iwill try it

[2018-06-27 13:18] #885 closed

[2018-06-27 13:18] willychang21 commented on #885
Thank you!! I will try it.

[2018-06-28 02:35] #879 closed

[2018-06-28 02:42] wzy221 opened #888 "cannot build webgl solution in unity 2018.1.5f1"
Hi,  i have used the sdk in unity and build it sucessfully in the exe versoin. However, when i try to build it in webgl version, it always stuck and tell me the following bugs:

Assets/GoogleARCore/SDK/InstantPreview/Scripts/InstantPreviewManager.cs(32,23): error CS0234: The type or namespace name `SpatialTracking' does not exist in the namespace `UnityEngine'. Are you missing an assembly referenc

[2018-06-28 03:40] JeffreyCKM opened #889 "MapboxCitySimulator wont initialized on UWP Unity Build"
Unity Version: 2018.1.4f1
Scripting Runtime Version: .Net 4.x or Equivalent
Scripting Backend: .Net
Api Compatibility Level: .Net 4.x
 Mapbox SDK version: 1.4.3
The platform you're building to: UWP

A description of what you're trying to do:
I am currently trying to build out CitySimulator for UWP. It is showing the data on the editor but it wont spawn a single tile on UWP build. I would love to b

[2018-06-28 06:19] BergWerkGIS commented on #889
Are you seeing any errors that might help pinpoint the problem?
Either in the UWP app when exporting from Unity with `Development Build` checked or when debugging from Visual Studio?

We are aware about problems with HoloLens (also UWP).
You could try the workaround outlined here: https://github.com/mapbox/mapbox-unity-sdk/issues/734#issuecomment-396238192

[2018-06-28 06:23] BergWerkGIS commented on #888
@wzy221 please delete the folders related to AR:

![image](https://user-images.githubusercontent.com/4549888/41151617-8fa2f0b2-6b11-11e8-9417-b0305e5cd4d0.png)

[2018-06-28 10:39] SixGodZhang commented on #617
The Token is sometimes valid and sometimes unvalid. In China .

[2018-06-28 11:10] DennyLindberg commented on #867
@brnkhy, @jordy-isaac Before you test it out, here's an update on my part.

It appears that the UnityTiles get additional scaling behaviors on them which cause some scenarios to break with the suggestion above. I made a revision in **v1.4.3** that looks like this. Instead of applying the height to worldPos.y as before, I now add it inside the local space of the unity tile. This code is identical t

[2018-06-28 15:11] iiidefektiii opened #891 "Panning Unity Android is Jump/Clunky"
_Note: If this is a bug or support ticket, please provide the following information:_
* Unity version: 2017.4.3 f1
  * Scripting Runtime Version: .net 3.5
  * Scripting Backend: mono
  * Api Compatibility Level: .net 2.0 subset
* Mapbox SDK version: 1.4.3
* The platform you're building to: Android/Editor
* A description of what you're trying to do: Panning map is super clunky. Is there anything th

[2018-06-28 18:12] #888 closed

[2018-06-28 18:19] wzy221 commented on #888
thanks it works now for my webgl build~

[2018-06-28 19:12] phgold opened #892 "Trying to Zoom In - Globe Example"
I have been tryin to create a zoom in in the Globe Example that updates the tiles.
I have found out that changing the Zoom value does update the tiles, but only once it's initialized.
I am trying to make the float zoom update as the camera moves closer (or the fov decreases, whichever works best) and then trying to update the tiles, while in play mode.
Haven't had any luck with it yet.

I have tri

[2018-06-29 00:39] JeffreyCKM commented on #889
Unfortunately, there are no errors mentioned by Unity but there is a worrying notification through the process.

This is what it says:
MSPDBCMF : fatal error CMF1002: internal error (PDB error code = 0) [C:\Users\JeffreyChua\Downloads\mapbox-unity-sdk-hololens-fixes\sdkproject\UWP\VirtualBallarat\VirtualBallarat.csproj]
0x00000001414EAFA9 (Unity) StackWalker::GetCurrentCallstack
0x00000001414F15B6

[2018-06-29 06:51] BergWerkGIS commented on #889
@JeffreyCKM have you set the `Internet (Client)` permission?

[2018-06-29 14:17] DutchRose-Jochem opened #894 "Restrict map panning with zoomable map"
Not sure if this is the right place to ask this.
But is it possible to do this https://www.mapbox.com/ios-sdk/examples/constraining-gestures/ inside the ZoomableMap example?

I want to show only a specific area in my app for Android and iOS, in which the user can zoom and pan.

[2018-06-29 18:59] jarrettblumRT opened #895 "Trouble merging ARCore package with Mapbox package."
* 2018.1.3f1:
  Scripting Runtime Version: 4.x
  Scripting Backend: Visual Studio
Api Compatibility Level: .NET 4.x
Mapbox SDK version: v1.4.3
The platform you're building to: Android

A description of what you're trying to do: Integrate an existing AR application into the mapbox project.

So I have previously built an AR application using ARCore and Unity. This works fine on it's own and if I sav

[2018-06-29 21:48] BergWerkGIS commented on #895
Have you checked ARCore support under XR settings?

[2018-06-29 23:23] jarrettblumRT commented on #895
Yes this was one of the first things I checked.

The current version of ARCore in mapbox does not have the augmented images functionality which I am using in my other project.

[2018-07-02 16:56] jordy-isaac commented on #891
Smoother zooming/panning is something that we'll be working on in the future. There aren't immediate plans for this to improve right away, but we're aware. Thanks for your input.

[2018-07-02 16:56] #891 closed

[2018-07-02 17:01] jordy-isaac commented on #894
Hi @DutchRose-Jochem. You're in the right spot. There are ways to accomplish this, but it might depend on your use case. The easiest way is to constrain to the main camera from moving and have the extent options on the Map to be set to be camera bounds.

[2018-07-02 17:01] #894 closed

[2018-07-02 17:02] jordy-isaac commented on #884
Closing this one as it's a duplicate of: https://github.com/mapbox/mapbox-unity-sdk/issues/892

[2018-07-02 17:02] #884 closed

[2018-07-02 17:42] jordy-isaac commented on #895
Was the previous project using ARCore 1.2 @jarrettblumRT ?

[2018-07-02 17:53] jarrettblumRT commented on #895
Yes I was using 1.2

I have gotten to the point where it is almost working but I'm getting the following error that I think has to do with the TextureSideWallModifier.cs file

NullReferenceException: Object reference not set to an instance of an object
Mapbox.Unity.MeshGeneration.Modifiers.TextureSideWallModifier.Initialize () (at Assets/Mapbox/Unity/MeshGeneration/Modifiers/TextureSideWallModifie

[2018-07-02 19:23] jarrettblumRT commented on #895
Ok, I got both scenes running in the same project. But now the mapbox scene no longer uses my phones camera and instead the background is just blue and the camera isn't moving when I move the phone.

[2018-07-02 23:15] JeffreyCKM commented on #889
Yes I did. @BergWerkGIS

[2018-07-03 07:24] DennyLindberg opened #896 "AbstractMapVisualizer state is spammed when loading cached tiles"
_Note: If this is a bug or support ticket, please provide the following information:_
* **Unity version:** 2017.4.4f1
  * **Scripting Runtime Version:** Stable (.NET 3.5 Equivalent)
  * **Scripting Backend:** Mono
  * **Api Compatibility Level:** .NET 2.0 Subset
* **Mapbox SDK version:** 1.4.3
* **The platform you're building to:** Android
* **A description of what you're trying to do:**

In Abstr

[2018-07-03 07:33] DennyLindberg opened #897 "Request: Add total tile count or module state to AbstractTileProvider"
In relation to issue #896 I would like to request either functionality in AbstractTileProvider:

**Add current and total tile count**
This tile count should be the number of tiles currently produced by the tile provider. This would allow us to keep track of the current progress of the tile provider.

**Add module state to the tile provider**
As show in #896 we get some unintended behaviour in the

[2018-07-03 09:30] DutchRose-Jochem commented on #894
Hi @jordy-isaac. Thanks for your reply!
I still want to zoom in and out and be able to pan.
I've added the QuadTreeCameraMovement script to the map for the zooming and panning. I already managed to constrain the zoom levels. Preferably I want to constrain the panning by defining 2 coordinates as the borders.

The app I'm creating is location based and users should only see the part of the map wher

[2018-07-03 10:14] BergWerkGIS commented on #896
@DennyLindberg thanks for the detailed analysis 🙏 (I wish all tickets were like yours).

We are aware of this issue and already started overhauling tile fetching/caching/tile events/tile counts/...

Unfortunately it might take till end of summer until these changes will make it into a release as we are preparing the switch to NetStandard2.0 backend at the same time.

Nevertheless we'll discuss int

[2018-07-03 10:18] BergWerkGIS commented on #897
As mentioned in https://github.com/mapbox/mapbox-unity-sdk/issues/896#issuecomment-402093003 this is in the works (will need some time till it arrives in a release though).

One thing to be aware of and we are trying to integrate as smoothly as possible: there's a chance that the total tile count and state might be continuously changing eg if the user continuously pans around.

[2018-07-03 11:15] BergWerkGIS commented on #889
@JeffreyCKM  I'm out of ideas as I cannot see any helpful information in your stacktrace.
Strange that it mentions `ThreadPool` which we don't use.

Some things to check/try though:

* If you followed https://github.com/mapbox/mapbox-unity-sdk/issues/734#issuecomment-396238192 you shouldn't have these folders of other AR implementations:
![image](https://user-images.githubusercontent.com/4549888/4

[2018-07-03 12:58] DennyLindberg commented on #896
@BergWerkGIS Sounds good! There is no rush on my end as I have already circumvented the issue for our project. The SDK is already quite solid considering its early state, I expect the next major update to be quite an improvement.

[2018-07-03 13:05] DennyLindberg commented on #897
Which I think is perfectly fine.

We wanted to minimize the amount of full-map updates we are doing on our end in regards to some custom paths that we implemented from an external data source. Even if the tiles are continuously loading from the tile provider we found it to be an improvement to wait for the whole group of tiles in the current frame to load rather than re-generate on each separate a

[2018-07-03 16:02] jarrettblumRT commented on #895
I added a position tracker and a AR background renderer to the camera. Everything is almost working now, this can be closed out.

[2018-07-03 16:06] jarrettblumRT opened #898 "Support: Trouble with Abstract map."
2018.1.3f1:
Scripting Runtime Version: 4.x
Scripting Backend: Visual Studio
Api Compatibility Level: .NET 4.x
Mapbox SDK version: v1.4.3
The platform you're building to: Android

So, I am trying to spawn a prefab and have it follow a nav mesh at a specific location only.

Currently It will spawn the prefab and that will follow the navmesh, but this seems to happen where ever the player is even if

[2018-07-03 16:35] brnkhy commented on #896
@DennyLindberg admittedly I thought we fixed that spam issue (even though the map state events are still not that good).
At the moment I'm working on something that'll hopefully fix all these problems. What I'm trying is to change factories so they'll save tiles (requests) instead of executing them right away. And then an update function checks for saved tile requests and executes them whenever it

[2018-07-03 16:43] DennyLindberg commented on #896
@brnkhy That sounds like a much better approach. Looking forward to it.

[2018-07-04 13:09] SebastianPietraszek opened #899 "ReplaceFeatureModifier "ArgumentOutOfRangeException: Cannot be negative." error"
* Unity version: 2018.1.6f1
  * Scripting Runtime Version: .NET 3.5 Equivalent
  * Scripting Backend: Mono
  * Api Compatibility Level: .NET 2.0 Subset
* Mapbox SDK version: 1.4.3
* The platform you're building to: Android, iOS
* A description of what you're trying to do:
Use ReplaceFeatureModifier on [Leaning Tower of Pisa](https://www.openstreetmap.org/way/35667218#map=19/43.72301/10.39663).
* S

[2018-07-04 13:36] weacw opened #900 "The token sometimes invalid and sometimes uninvalid . In China"
_Note: If this is a bug or support ticket, please provide the following information:_
* Unity version: 2018.1.3f1
  * Scripting Runtime Version: 4.6
  * Scripting Backend: IL2CPP
  * Api Compatibility Level: .Net2 subset
* Mapbox SDK version: 1.43
* The platform you're building to:iOS

The token sometimes invalid and sometimes uninvalid . In China!

[2018-07-04 15:36] OhioAdam commented on #531
I have a problem that seems fitting for this thread: In the WorldScale AR scene I am able to get the directions route "direction waypoint  entity" to show up in Play mode, but when I build it into an SDK it doesn't show up. Any suggestions?

[2018-07-04 16:45] tomh4 commented on #113
Any news on this ?

[2018-07-05 03:02] JeffreyCKM commented on #889
Due to time restraint, our team decided to switch to HTC Vive which works perfectly fine. It has been confusing and I do not have any of the folders on the previous build. Thanks for assisting me with the issue

[2018-07-05 11:53] Spirit30 opened #902 "Making Mac OS App build from Unity Editor (Mac OS) which works fine."
Hi Team

Thanks for your job on MapBox.
I want to run MapBox example in Mac OS app builded with Unity.

It works fine in Unity Editor on Mac OS. But when deploy as an app build on same platform there is no location loading and I have message in /Users/maximbotvinev/Library/Logs/Unity/Player.log:
Location service updates are not enabled. Check LocationService.status before querying last location.

[2018-07-06 06:45] ruoxin opened #903 "Compare two Vector2d"
In implementation of Vector2d, it has:

		public static bool operator ==(Vector2d lhs, Vector2d rhs)
		{
			return Vector2d.SqrMagnitude(lhs - rhs) < 0.0 / 1.0;
		}

		public static bool operator !=(Vector2d lhs, Vector2d rhs)
		{
			return (double)Vector2d.SqrMagnitude(lhs - rhs) >= 0.0 / 1.0;
		}
I think it should be:

		public static bool operator ==(Vector2d lhs, Vector2d rhs)
		{
			return Ve

[2018-07-06 08:36] #889 closed

[2018-07-06 09:01] Spirit30 commented on #902
We've implemented ad hoc Mac OS support for Map Box SDK in our project.
For development services of doing that for you contact us at: biz@giganeo.com

www.giganeo.com
Regards

[2018-07-06 17:20] jordy-isaac commented on #900
Does this happen on and off with the same token? Do you have a reliable way to reproduce this? If so please let us know.

[2018-07-08 19:18] vahidreza opened #904 "map labels problem with Persian and Arabic Texts"
hi
Im using the most recent mapbox unity sdk (1.4.3)
when I locate areas in Arabic countries or Iran all the persian or Arabic labels are problematic.
There is an article for fixing JS library [here](https://blog.mapbox.com/improving-arabic-and-hebrew-text-in-map-labels-fd184cf5ebd1) stating the very same problem.
How I can fix these labels in unity?

[2018-07-09 11:20] mayank-technical commented on #734
@BergWerkGIS  You are amazing. Thanks for great help . I am able to run all the samples of mapbox. Thanks a ton.! Just need to know how you people record hololens screen?

[2018-07-09 12:01] BergWerkGIS commented on #734
Thanks @mayank-technical 🙏

By hitting `Record` in the `Device Portal` 😄:
https://docs.microsoft.com/en-us/windows/mixed-reality/using-the-windows-device-portal#mixed-reality-capture

[2018-07-10 03:05] wzy221 opened #905 "can mapbox direction api make query of route at a given historical time period?"
Hi, I just use the mapbox direction api to make a query of the route. However,i am not clear whether it is possible to make query of a route at a given historical period. For example, will the result differ in the morning or in the midnight?

I searched the mapbox api direction documentaion. however, i can not find detailed explanation of driving-traffic. is it possible to set up the historical ti

[2018-07-10 03:06] mayank-technical commented on #734
Thanks a lot William.!! :)

On Mon 9 Jul, 2018, 5:31 PM Wilhelm Berg, <notifications@github.com> wrote:

[2018-07-10 20:42] #905 closed

[2018-07-11 11:29] satheesh1000 opened #908 "Geo Trigger ( GeoFencing )"
How to Geo Trigger in a location range ( GeoFence ) using MapBox ?

[2018-07-11 16:25] bonvalletRomain opened #909 "Factories Menu problem"
Hello,
I want to create a vector tile factory but in Factories menu i have just "Image Factory" item.
![capture d ecran 2018-07-11 a 18 21 54](https://user-images.githubusercontent.com/1614643/42586004-51334832-8537-11e8-91c6-708c3d49a86d.png)

_______
Unity version: 2018.1.6f1 Personal
Mapbox SDK version: v 1.4.3
on Mac 10.13.6

[2018-07-11 19:07] jordy-isaac commented on #898
@jarrettblumRT Runtime navmesh with the SDK is a bit tricky from my understanding. @brnkhy might have some good ideas of how you can implement this.

[2018-07-11 19:15] jordy-isaac commented on #902
@Spirit30 Can you send in screenshots of your build and player settings?

[2018-07-11 19:17] jordy-isaac commented on #900
Thanks for the additional info. @jim-martin might have some ideas for you.

[2018-07-12 04:41] Gzbx opened #910 "Loading visualisers in sequence or having one visualiser dependent on another."
**Unity version:**
2017.3.1f1

**Mapbox SDK version:**
1.4.3

**The platform you're building to:**
PC

**A description of what you're trying to do:**
At a high level, I am trying to add prefabs on the roadside, like street lights and other objects.
I am using the road line data with an offset to determine the position I need and I can successfully place the objects. I also have some logic which ch

[2018-07-12 07:18] thomue00 commented on #909
Same for me :/

Unity: 2017.4.5f1
SDK: v1.4.3
Windows 10

[2018-07-12 15:30] zxcvb7653 opened #911 "The "Location Status" Script reverts the Latitude and Longitude"
As the title suggest

This is the coordinates I set it to.
<img width="467" alt="screen shot 2018-07-12 at 4 24 35 pm" src="https://user-images.githubusercontent.com/39035665/42643048-1f21189c-85f0-11e8-9530-6ae5a1dd2234.png">

And this is the cordinates it shows from the "Location Status" Script
<img width="446" alt="screen shot 2018-07-12 at 4 24 39 pm" src="https://user-images.githubusercontent

[2018-07-12 20:49] jordy-isaac commented on #911
@zxcvb7653 I believe that this is returned in a string from by the `LocationStatus` script. Check the `Canvas` of the `LocationBasedGame` example and you'll see the `Status Text` field serialized where the coords are fed in as a string.

[2018-07-12 20:53] jordy-isaac commented on #908
One way might be to specify a game object and then place an [OnTriggerEnter()](https://docs.unity3d.com/ScriptReference/Collider.OnTriggerEnter.html) around the area you want to geofence.

[2018-07-12 23:30] zxcvb7653 commented on #911
Thank you for replying!
Yes, it does feed in as a string, but the problem with the "location status" script is that it will come out as **"Longitude, Latitude"** instead of **"Latitude, Longitude"** which is inconsistent with the rest of the SDK.
Or am I just using it wrong?

[2018-07-13 15:30] jordy-isaac commented on #909
@bonvalletRomain, @thomue00  Were you following the tutorial here: https://www.mapbox.com/help/unity-mesh-pt-2/ or were you needing to create a vector tile factory for another reason.

If you're following the tutorial, I would suggest using this one: https://www.mapbox.com/help/create-a-map-in-unity/ as we've made it a lot easier to visualize vector layers.

We've made changes since the first tuto

[2018-07-13 15:30] #909 closed

[2018-07-13 15:31] #908 closed

[2018-07-13 15:41] jordy-isaac commented on #904
We don't have out of the box support for this, but If you're bringing custom data into unity, you can workaround this make your own custom layer for labeling. This custom layer would need to be prepared by you and then uploaded to a Mapbox account.

The main task before creating a custom layer would be to find label data in your desired languages and geographies and organize everything into a sing

[2018-07-13 15:41] #904 closed

[2018-07-13 15:42] #764 closed

[2018-07-13 15:43] #895 closed

[2018-07-13 15:43] #880 closed

[2018-07-13 15:45] #902 closed

[2018-07-13 15:48] #892 closed

[2018-07-13 16:09] jordy-isaac commented on #899
I was able to reproduce this as well. I tried to use `Explicitly blocked feature IDs` to filter out the tower of pisa, but I still could not get it to work. @apavani do you have an idea of how to get this to work?

[2018-07-13 19:31] vahidreza commented on #904
tnx @jordy-isaac but I guess this does not really related with the labels data itself but it is related to how the component renders text on the client side.

As I mentioned the same has happened in JS library and in unity there are some libraries which takes an Arabic text and render them correctly in unity because if you just simply try to type a text in arabic in a text field you will be presen

[2018-07-14 19:23] wzy221 opened #912 "unloaded unity tiles in manhantann area"
Hello, i am using mapbox unity sdk and it works in other places when all unity tiles can show up. however, when i try to change the postion to manhantann, there is about 9 places which desnot show the unity tile. and it keeps saying loading the data.
 ![capture](https://user-images.githubusercontent.com/32991708/42727675-58246402-8779-11e8-843f-86564fbd1fe3.JPG)
when i change to other place, the m

[2018-07-14 22:37] #912 closed

[2018-07-16 07:21] BergWerkGIS commented on #912
@wzy221 there's an error loading those tiles:

![image](https://user-images.githubusercontent.com/4549888/42746697-6a8d421a-88d9-11e8-9298-dcf20e372d05.png)

Do you see any errors in the console?
If yes, please post them here.

If not, attach `TileErrorHandler.cs` script to the map, run again and post errors here.

[2018-07-16 15:34] JorgenEngenNapstad opened #913 "no 'ETag' header present in response"
* Unity version: 2017.3.1f1
  * Scripting Runtime Version: Experimental .Net 4.6
  * Scripting Backend: IL2CPP
  * Api Compatibility Level: .NET 4.6
* Mapbox SDK version: 1.4.3
* The platform you're building to: iOS

Getting an error which is crashing the iOS build. Excerpt of the log from xcode below. The "no 'ETag' header present" message is repeated 50+ times before it crashes. Anything I'm mis

[2018-07-17 11:58] Gzbx commented on #910
If I may also ask a follow up question, my Game Object Modifier above adds a roadside prefab as a child of the tile/visualiser. I am using the range around transform option of the abstract map and I have noticed that after the tiles get recycled when panning the scene, my roadside prefabs for the recycled tiles do not get set to inactive or/and do not get destroyed - hence they appear incorrectly

[2018-07-17 12:35] BergWerkGIS commented on #913
Hm, not sure if `no 'ETag' header present in response` is the reason for the crash as this is just a warning and not an error and shouldn't do any harm.

I suspect another (iOS/Unity) problem surfaces via the `ETag` warning.
Because when I check one of the above error URLs in the browser, eg `https://api.mapbox.com:443/v4/mapbox.terrain-rgb/12/2073/1190.pngraw?events=true&access_token=pk.####`, th

[2018-07-17 14:31] JorgenEngenNapstad commented on #913
1. Yes, we get tiles. Some times it crashes fast (eg. almost immediately after opening the app) and some times we can pan and zoom around loading several tiles before it crashes.

2.1 We can try using a newer version of Unity. What do you mean with different version of iOS? We are getting the error on several devices running different iOS versions (all of them above 10).

2.2 Will try this first a

[2018-07-17 21:48] thecommonegret opened #915 "Persistent Problems with custom Mapbox style"
Hi,
I'm using Mapbox's AR Tabletop template in Unity with a custom map style from Mapbox Studio (mapbox://styles/bwellington/cjgzo5lhh000i2rpgp4xdhbn1) but am experiencing persistent inconsistencies:

- The most troublesome of which is the inability to update the map image when re-published in Studio. Clearing the cache in the Mapbox menu doesn't seem to help.
- Some layers don't want to appear at

[2018-07-17 22:07] brnkhy commented on #910
@Gzbx I think you're running into this because of the coroutines in the layer visualizers. It only process a fixed amount of features every frame, not to block the whole system, but I think there's nothing stopping system to start next layer visualizer while previous is still running.
Of course this is not a bad thing, technically you can remove coroutines inside the visualizers easily but that wo

[2018-07-18 06:22] BergWerkGIS commented on #913
hm, maybe the crashes are not web request related then.
The problems we saw were always from first request on.

You could try to attach [`TileErrorHandler.cs`](https://github.com/mapbox/mapbox-unity-sdk/blob/develop/sdkproject/Assets/Mapbox/Unity/Map/TileErrorHandler.cs) to your map object and check if you get more information related to tile loading.

Unfortunately I don't remember the exact vers

[2018-07-18 14:12] FFilippidis commented on #531
@atripathi-mb

Any update on this by any chance?
Thanks

[2018-07-18 17:11] jordy-isaac commented on #915
@thecommonegret I see you have a duplicate ticket open with mapbox support so I'll close this issue.

[2018-07-18 17:11] #915 closed

[2018-07-18 18:53] JorgenEngenNapstad commented on #913
Changing the build settings from `Always use latest 2017.3` to `Always use latest 2017.x` in Unity Cloud Build seems to have solved it actually. Haven't had time to debug it any more. Would be interesting to figure out what happened though.

[2018-07-18 20:43] atripathi-mb commented on #531
@FFilippidis Directions example is available in the latest release v1.4.4

[2018-07-19 08:44] FFilippidis commented on #531
Hi @atripathi-mb

Thanks for the fast reply and help.
Is there an example that shows how to visualise the response of the directions API?

[2018-07-19 09:51] Gzbx commented on #910
thanks @brnkhy , I will give your suggestions a try.

[2018-07-19 11:40] Gzbx commented on #910
For those who read this later, the SpawnInsideModifier.cs class has an example of how to pool items as per @brnkhy 's suggestion.

[2018-07-19 17:34] #913 closed

[2018-07-19 17:36] #910 closed

[2018-07-19 17:37] OhioAdam commented on #531
@atripathi-mb I tried the new version. The new traffic rendering looks really cool, but the same problems exist in getting the Directions API to show up in WorldScale AR mode on the phone. All of the other map layers I choose to show will show up, just not the Directions route. Do you know who could help with this?

[2018-07-19 17:47] atripathi-mb commented on #531
@OhioAdam Could you give me steps to recreate the issue or point me to a sample project/code to help you out. I can't think of any reason why directions will not show up when built on device.

[2018-07-19 17:48] atripathi-mb commented on #531
@FFilippidis The traffic and Directions example is visualizing the Directions API response. Are you looking for something else?

[2018-07-19 19:04] OhioAdam commented on #531
I'm looking to get the Directions response to show up in AR. I open up the WorldScaleAR Scene, toggle on the Directions GameObject under ArAlignedMap, and get it to the point of showing a directions route from the player's perspective during "Play" mode (it shows up as a GameObject called "directions waypoint  entity"). When I build that scene into an APK and load it on a phone, the building geome

[2018-07-20 15:24] FFilippidis commented on #531
@atripathi-mb  Yes it is visualising the responce but i was wondering if there was an example file similar to the earlier one in the InteractiveStyledVectorMap.unity

[2018-07-21 19:30] DSuppo opened #916 "Error closing application - Assertion failed: Transform has SetIsDispatchInterested present when destroying the hierarchy. Systems must deregister themselves in Deactivate."
Hello,
I'm using Unity 2018.1.1f1, with Mapbox SDK 1.44, with the very basic sample scene "WorldScaleAR" provided with the SDK.

Each time I stop the apllication from Unity Editor I get the error message
"Assertion failed: Transform has SetIsDispatchInterested present when destroying the hierarchy. Systems must deregister themselves in Deactivate.".

At the same time each time I close the app from

[2018-07-23 04:33] devrajn-hexaware opened #917 "Orientation & Stabilization Issue"
Unity version: 2017.3.1.f1
Mapbox SDK version: 1.4.1
The platform : Android

When i open the app the object placed in a particular lat long seem to have orientation issue but once when i move physically it seems to be fixed. Is there any way to fix this.

Also the object drifts away and moves to different location. Is there any way to fix this as well.

Note: If this is a bug or support ticket, pl

[2018-07-23 06:32] devrajn-hexaware commented on #710
Hello @xeppex  Any updates on the issue?? I have the same issue. Did you manage to fix this?? Or is it still open for you??

[2018-07-23 13:56] jordy-isaac commented on #916
I was able to reproduce this. The console error occurs when exiting play mode on the example scene. @atripathi-mb would you mind taking a look into this?

[2018-07-23 13:58] jordy-isaac commented on #911
Thanks for pointing that out, @zxcvb7653 if you'd like to submit a PR we'd welcome and review it.

[2018-07-23 13:58] #911 closed

[2018-07-23 14:05] DSuppo commented on #916
Thank-you for your reply,
I'd do it with pleasure

Daniele Suppo
m: +48.795.927.972 | skype: d.suppo.issimissimo

issimissimo | ul. Nowogrodzka 31 Warsaw
www.issimissimo.com [http://www.issimissimo.com/]
Il 23/07/2018 16:57:01, JW <notifications@github.com> ha scritto:
I was able to reproduce this. The console error occurs when exiting play mode on the example scene. @atripathi-mb [https://github.

[2018-07-23 16:11] retinize commented on #301
Was there ever a fix for this? I have ensured Symlink Unity Libraries is unchecked as above. Also moved the full MapBox directory to a child folder and back to original directory as advised but neither worked for me.

[2018-07-23 16:57] DSuppo commented on #916
But... I would need to know what to look

Daniele Suppo
m: +48.795.927.972 | skype: d.suppo.issimissimo

issimissimo | ul. Nowogrodzka 31 Warsaw
www.issimissimo.com [http://www.issimissimo.com/]
Il 23/07/2018 16:57:01, JW <notifications@github.com> ha scritto:
I was able to reproduce this. The console error occurs when exiting play mode on the example scene. @atripathi-mb [https://github.com/atrip

[2018-07-24 11:49] #903 closed

[2018-07-24 16:23] brnkhy opened #919 "TileProvider leaks memory"
TileProviders are leaking memory because of some Linq queries and unnecessary ToList() calls in the update method. This becomes especially noticable as the tile count increases.

Solution is to refactor update method and change costly calls with light weight alternatives like hashsets, basic for loops etc. I tested the changes on three tile provider and pushed them here; https://github.com/mapbox/

[2018-07-24 19:39] brnkhy commented on #898
@jarrettblumRT I'm afraid I don't understand the issue.
You generate the map and player prefab. But nav mesh isn't on top of the city but under the player? Isn't the player in the city environment? You should be able to change nav mesh boundaries in nav mesh settings so that shouldn't be a problem I guess? Sorry but I need more info on that.

[2018-07-24 21:42] volnam opened #920 "[Beginner MapBox User] Difficulty Rendering Map made From Custom Dataset. Vector Panel No Longer Seems Supported."
Sorry for my ignorance, but I am having difficulty accessing the points of interest in a custom dataset, and many tutorials appear outdated (perhaps due to a recent change?). I am trying a basic setup with a Map prefab in a default scene. I have tried a number of solutions, including connecting the Map ID from my dataset to the Map Layers Panel:

Data Source: Custom
Map ID: username.lotsOfNumbers

[2018-07-24 22:34] atripathi-mb commented on #920
@volnam The `PointsOfInterest` section currently only supports POI's from the ` mapbox.mapbox-streets-v7` tileset. For custom tilesets, use the `Features` section and choose a `primitive type = points`
![image](https://user-images.githubusercontent.com/32286016/43169694-e869827e-8f56-11e8-9cb1-da2148085e5f.png)

Use the `DataExplorer` example and `Pois` layer or `PoiLabels` layer for reference

[2018-07-24 22:55] atripathi-mb commented on #916
@DSuppo @jordy-isaac Looks like a Unity issue.
Disabling the `AR Point Cloud Visualizer` on the `AR Root` GameObject removes the error.

![image](https://user-images.githubusercontent.com/32286016/43170446-f6e62818-8f59-11e8-9d53-f79d4c9092d2.png)

[2018-07-25 13:41] Roaringman commented on #734
Hi!
Thank you for this fix. I got it working a few weeks ago on a worldscale AR application I'm working on. Now It suddenly stopped working again. Does anyone have an idea, what could be causing these errors? I´ve attached a screenshot of my console.

![grafik](https://user-images.githubusercontent.com/9324317/43203413-7265df50-901e-11e8-8a83-693d063656d6.png)

[2018-07-25 14:21] raggnic opened #921 "Display a graticule over the map"
Hi mapbox community!

I'd like to display a graticule over the map tiles, and currently I'm considering different alternatives :
* having a tiled raster dataset to display in an overlay layer
* having a vector dataset to display in an overlay layer
* generate and display graticule on the fly

Which way do you think is more appropriate/feasible?

Regards
Nicolas

[2018-07-25 14:21] PauloDeMello opened #922 "Extrusion for Primitive Point Type using vector layer data"
* Unity version: 2017.4.6f1
* Mapbox SDK version: 1.4.4
* The platform you're building to: Windows
* A description of what you're trying to do:
Hi, so I have some data that I wanted to visualize in unity.
So far I have added my vector layer in (shapefile of roads with traffic data on certain roads) and added a point primitive type visualizer with a prefab modifier that shows a cylinder. I was wond

[2018-07-25 19:48] jordy-isaac commented on #921
@raggnic Those would all be feasible except that maps are generated at runtime so doing this on the fly might be difficult. What are you building? The best way to approach it might largely depend on your use case.

[2018-07-25 19:49] #920 closed

[2018-07-25 20:06] jim-martin commented on #900
Hi @weacw, can you share any other information about when this issue occurs? Are there differences in your network setup between the two screenshots you shared?

[2018-07-26 01:18] atripathi-mb commented on #857
@SebastianPietraszek @UlisesPereida Can you check if under the `TERRAIN` section you have a `Terrain Material` assigned? Magenta usually means missing material.

[2018-07-26 10:19] zxcvb7653 opened #929 "[Support/Bug]The results from different distance measuring methods comes out with very inconsistent results, please come take a look?"
I have been using the` CheapRuler.cs` and `Vector2d.Distance` to experiment with measuring distance in MapBox.

<img width="1119" alt="screen shot 2018-07-26 at 11 09 13 am" src="https://user-images.githubusercontent.com/39035665/43256365-62d9820c-90c4-11e8-95f0-dcace6ab004c.png">

This is the code I used to come up with the results.
And here are the results measured from Elephant Castle in London

[2018-07-26 10:41] zxcvb7653 opened #930 "[Support/Bug] Customised points of interest appears and disappear inconstantly at different zoom level, please come take a quick look?"
* Unity version:  2017.4.0f1
* Mapbox SDK version: v1.4.3
* The platform you're building to: IOS

I am trying to create customised points of interest using the built-in version `AbstractMap` script. But the prefab appears and disappearing inconstantly at different zoom levels

<img width="451" alt="screen shot 2018-07-26 at 11 25 03 am" src="https://user-images.githubusercontent.com/39035665/43257

[2018-07-26 12:48] willychang21 opened #931 "Arrow road in AR problem"
Mapbox SDK version: 1.4.4
I'm trying to use arrow road to navigate user to the destination.
![image](https://user-images.githubusercontent.com/38349902/43263006-9ae87cc0-9114-11e8-95be-7097d2399153.png)
![image](https://user-images.githubusercontent.com/38349902/43263046-ba21aa94-9114-11e8-8040-1b5e9580f119.png)
![image](https://user-images.githubusercontent.com/38349902/43263211-3128aa8e-9115-11e

[2018-07-26 15:54] weacw commented on #900
Hi @jim-martin ,
Thank you for your reply.

Unitypackage downloaded from the maobox website, enter the key, can be used for the first time, but can not be used after a few minutes.

There is no difference in the network.

**I am in China,
Sometimes it can't be used after a while.**

[2018-07-26 16:23] raggnic commented on #921
It's an application in augmented reality that displays a map with POI and zones over it. The end-users are used to graticule (i.e. MGRS), so they are asking for it.
The tiles come from a WMTS server.

[2018-07-26 18:38] atripathi-mb commented on #929
@zxcvb7653
Vector2d.Distance is the vector distance for two vectors. It should be used only to calculate linear distances in 3D spaces.

CheapRuler available in our SDK is a C# port of the original library.
This test class is a great reference for how to use cheap ruler https://github.com/mapbox/mapbox-unity-sdk/blob/5d0dbf1e861377eb384b187a666141b7981878c7/sdkproject/Assets/Mapbox/Core/cheap-rule

[2018-07-27 00:17] jordy-isaac commented on #870
@tetreum Please try again without unique ID checked. Also, if you're data is missing you can add it to OSM.

Mapbox maps rely on data from OpenStreetMap, a global volunteer project that everyone can contribute to. If you are familiar with this area, I encourage you to go to openstreetmap.org, create an account, and make improvements directly. You'll have the option to go through an interactive tut

[2018-07-27 00:17] #870 closed

[2018-07-27 00:19] jordy-isaac commented on #930
Have you checked the zoom extent of the tileset data to see if it's available at the zoom level for your map in Unity?

[2018-07-27 00:22] jordy-isaac commented on #922
It is possible to style based on vector data. We're doing something very similar in the traffic and directions example in the latest version of the SDK. It does look like you're on 1.4.4 so please check out that example and see how the congestion layers are set up.

[2018-07-27 09:04] BergWerkGIS commented on #929
Some more information about `CheapRuler` to know what it can be used (and not used) for:

* as @atripathi-mb pointed out it's a minimal port of the JavaScript version: https://github.com/mapbox/cheap-ruler
* it's intended to be fast, no complex math or fancy features
* it's intended to be "good enough" (no complex math)
* it's intended for local scale only and not for measurements around the globe

[2018-07-27 09:12] BergWerkGIS commented on #929
Approximate precision you can expect to get from `CheapRuler` depending on the distance you intend to measure:

https://github.com/mapbox/cheap-ruler#precision

![image](https://user-images.githubusercontent.com/4549888/43312520-dd330f4a-918d-11e8-8c1a-bf03b55f2f67.png)

[2018-07-27 09:51] mukhitabdinazarov commented on #702
Hi,I have a route and I want to load the map in a small radius from the route so that the data is not large. I used open source MapBox but there loads the whole visible area into the cache. If I have a route from Paris to Moscow, downloading the entire map will take a lot of memory. Is it possible to download only the route and with small radius. Sorry my English

[2018-07-27 18:33] DSuppo opened #932 "I really can't understand..."
Sorry but I really can't understand
1) why in your WorldScaleAR demo scene there isn't any alignment with the Compass (maybe wrong but it could be a good start) ?
2) why don't  you place the AR camera in the same position of the GPS for start (again it could be a good start) ?
3) why there's any documentation about this elusive "automatic alignment with some steps", that I've read in many threads

[2018-07-28 13:49] zxcvb7653 commented on #929
Thank you so much for everyone's help I really appreciate it! I will go give it a shot! <3

[2018-07-28 22:32] GarryGuanDoubleG opened #933 "Placing markers / meshes on custom feature points only?"
Hello,
Using the DataExplorer scene as a demo, I plugged in a custom tileset (username.tilesetKey) into Map Layers->Data Source, but the none of the feature points are showing up. How can I place a mesh / marker for each feature point in the tileset?

![image](https://user-images.githubusercontent.com/7054506/43361105-8cf0a4cc-9294-11e8-84dc-605ff71baaa0.png)

_Note: If this is a bug or support ti

[2018-07-29 17:14] genaray opened #934 "How to reduce drawcalls even futher ?"
Hey there !

Im currently loading 9x9 tiles around a certain point, which looks like this :

![unbenannt](https://user-images.githubusercontent.com/20269164/43368807-2e7672f8-9363-11e8-8a35-dd8688e5a7e8.PNG)

Because im developing a mobile game, i recently noticed that the draw calls are pretty high. In the current scenario there about 42 draw calls.

![unbenannt](https://user-images.githubusercon

[2018-07-30 15:00] brnkhy commented on #919
this is fixed and merged to dev branch with ad8e468a5e3c854f71f9cfa917b5f9ae3a300197.
All tile providers should have zero allocation per frame now.

[2018-07-30 15:00] #919 closed

[2018-07-30 15:08] jordy-isaac commented on #932
Hi @DSuppo locating in world scale AR is a very difficult problem to solve. While we're working on making incremental improvements to localization, you might want to look at the manual alignment example in the meantime to see if that will work for your use case. You can find the documentation for it here:  https://www.mapbox.com/unity-sdk/maps/examples/world-scale-manual-align-ar/

[2018-07-30 15:11] jordy-isaac commented on #933
Hi @GarryGuanDoubleG. I'd need to take a look at your tileset to troubleshoot. If you'd rather not share the ID of it publicly, please email email help@mapbox.com so that we can assist you there.

[2018-07-30 15:11] #933 closed

[2018-07-30 15:15] #930 closed

[2018-07-30 15:33] atripathi-mb commented on #933
@GarryGuanDoubleG From the screenshot it looks like you are using `poi_label` as the layer name. What is the name of the layer in your custom tileset? You need to use the actual layer name in order to display the points

[2018-07-30 17:36] Naphier opened #935 "Big issue with property drawers - just me?"
_Note: If this is a bug or support ticket, please provide the following information:_
* Unity version: 2018.1.6f1
  * Scripting Runtime Version:  .NET 4.x
  * Scripting Backend:  Mono
  * Api Compatibility Level:  .NET 4.x
* Mapbox SDK version:  1.4.3 (1.4.4 doesn't seem to be available as UnityPackage yet?)
* The platform you're building to: n/a Unity Editor issue
* A description of what you're t

[2018-07-30 18:06] Naphier commented on #935
Update:
It's not just me. My other teammates have this issue.
I found a game object that's just got AbstractMap on it in the CitySimulator scene and everything's fine. So apparently it's just an issue when you have a class inheriting from AbstractMap. So I'm guessing this is a Unity issue. But you guys should be aware. Now I have to figure out how to implement the new SDK without using a class inh

[2018-07-30 18:25] atripathi-mb commented on #935
@Naphier Unity UI doesn't work very well with inheritance. If you create a class inherited from `AbstractMap` then you will also need to create a class inheriting from `MapMangerEditor` and add an attribute to explicitly define which class is it customEditor for.

We answered the same question in this ticket #862

[2018-07-30 18:29] Naphier commented on #935
k, thanks

[2018-07-30 18:29] #935 closed

[2018-07-30 19:38] Naphier commented on #759
Well, I moved up to 1.4.3 today and this still seems problematic. On one run I got the visualizer state change messages repeated twice. Next run they repeated about 300 times. So there's still no way to really tell when the mapbox processes have all finished.
I'm simply subscribing to AbstractMap.MapVisualizer.OnMapVisualizerChanged

[code]

Zoom at 17, ranges all at 5
Lat/lng = 43.19, -109.1

So.

[2018-07-31 13:11] Naphier commented on #759
@atripathi-mb
OK, so I'm going to have to revert for now. The main reason we updated was to get more reliable callbacks when the map was completed. It looks like this is still not possible and I need to manually iterate over the created UnityTiles and check their individual states to see if the map is ready. Bummer because we would like to use the new building styling. However, the map's X,Y, and

[2018-07-31 16:56] #932 closed

[2018-07-31 18:45] jordy-isaac commented on #759
@Naphier Thanks for following up. Regarding the map position we noticed a few things about your settings. In v 1.4 the default setting for `Placement Options` is `At Location Center` where as in 1.3 it was `At Tile Center`. You might want to adjust your settings to what it was in 1.3.

<img width="497" alt="screen shot 2018-07-31 at 11 35 34 am" src="https://user-images.githubusercontent.com/33474

[2018-07-31 21:31] jordy-isaac commented on #931
Hi @willychang21  The way the loft modifier works is as follows:

You provide a slice and it adds volume

![guid-a7002ee4-309b-4ad6-b4ad-fd2be02bacfa](https://user-images.githubusercontent.com/33474236/43488315-23ce666e-94ce-11e8-84ed-ce6aee905966.png)

One possibility, although admittedly not easy would be to change the loft object to just two points so it'll create a flat road, then add those ar

[2018-07-31 21:46] atripathi-mb commented on #934
@genaray I would suggest using a higher zoom level Or use extent type camera bounds to reduce the number of tiles being rendered.

[2018-07-31 22:12] atripathi-mb commented on #759
@Naphier
1. For to get notified about MapVisualizer finished state, here is an example of how we use it in the SDK
https://github.com/mapbox/mapbox-unity-sdk/blob/d7d944ce64c9494cb76d68b889d9a6d2b5aeb8d5/sdkproject/Assets/Mapbox/Examples/Scripts/LoadingPanelController.cs#L29

We are in the process of creating simpler and more robust events that you can subscribe to for use-cases such as yours.

2.

[2018-07-31 22:33] Naphier commented on #759
@atripathi-mb that's the same thing I'm doing in the code sample above. It reports "finished" 300+ times.
While position of features haven't changed, as jordy pointed out (thank you @jordy-isaac ) the placement option may be the issue. I'll need to check again.

At any rate,  visualizer.OnMapVisualizerStateChanged fires way too much to be useful to know when the entire map is done. When I get a ch

[2018-08-01 03:12] willychang21 commented on #931
@jordy-isaac  thanks for your reply , l  will try it.

[2018-08-01 06:03] genaray commented on #934
@atripathi-mb Well I can't use a higher zoom level... or I could, but I won't because my game is based on this zoom level. Unity already ignores objects that aren't in camera bound, so thats not the iusse.

Isn't there a way to use 3 x 3 tiles on the same zoom level instead of 9x9 ? So just merging a few tiles to a bigger one ? Or is it possible for unity to Mapbox to use sprites instead of materi

[2018-08-01 07:12] BergWerkGIS commented on #702
@mukhitabdinazarov the SDK does not provide such functionality out of the box, you would have to write code to do that by yourself.

Also be aware that according to our terms of service you are not allowed to bundle and redistribute pre-downloaded tiles with an app.

[2018-08-01 10:13] ls29322 opened #938 "SDK without AR -> Errors"
Unity 2017.1.2f1 , C#
Android, API 16+
Mapbox SDK 1.4.4

When I import the package without AR folders (MapboxAR, UnityARInterface, GoogleARCore, UnityARKitPlugin) Unity is giving me those errors:
![image](https://user-images.githubusercontent.com/15261880/43515929-28ee059e-9584-11e8-8a44-08eb01630d5e.png)

Which assemble I am missing? from which folder?

Thanks

[2018-08-01 19:58] atripathi-mb commented on #934
@genaray

Unity will only ignore them from rendering, they still will get created ( mesh generation, tile fetching etc) which is processing time you are losing.

We don't support merging tiles as an option in the SDK.

Not supported out of the box, but you can customize the standard factories to work in the way you want.

[2018-08-01 20:44] emorling commented on #477
@basaratracy can you give some clues to what setup you ended with?
Did you use QuadTreeCameraMovement and set the Reference Camera to Vuforias ARCamera?

[2018-08-02 06:40] genaray commented on #934
@atripathi-mb So you guys are telling me the only way to reduce the draw calls are to use different tile sizes or zoom levels ? :/

[2018-08-02 12:30] Mowalle opened #940 "Missing features when trying to render indoor map"
Greetings,

Unity 2018.1.1f1, C#
Mapbox 1.4.4

I am trying to display an indoor map by extruding the walls of a custom dataset, similar to the examples [here](https://www.mapbox.com/mapbox-gl-js/example/3d-extrusion-floorplan/) and [here](http://www-personal.umich.edu/~yonghah/rooms3d/). However, I am using the Mapbox Unity SDK instead. My problem is that the walls are not visualized correctly and

[2018-08-02 14:56] jordy-isaac commented on #938
@ls29322 Does this also happen with Unity 2018?

[2018-08-02 20:48] Spirit30 commented on #425
[Accura GPS for Unity](https://www.assetstore.unity3d.com/#!/content/122437) is designed to Resolve this problem.

[2018-08-02 22:28] #931 closed

[2018-08-02 22:28] #922 closed

[2018-08-03 10:34] ls29322 commented on #938
@jordy-isaac  yes, it works, at least on 2018.2, there's a patch or something to work on 2017.1? Thanks

[2018-08-03 11:27] genaray opened #941 "How to detect if a point/coordinate is on water ?"
Well the title says all...

Only found this for android, but it doesn't help me at all : https://stackoverflow.com/questions/42708403/mapbox-ability-to-detect-if-coordinates-is-on-a-body-of-water

Is there anyway to query a specific tile for the point being on water ?
I would be glad for a fast reply :)

[2018-08-05 23:47] Emixam23 opened #942 "Question - Render map as infinite"
Hi,

I would like to know how can I manage to render the map "as infinite"?

Thanks :)

[2018-08-06 15:53] jordy-isaac commented on #942
Hi @Emixam23 Can you provide a little more context and info about what you're trying to create?

[2018-08-06 15:58] jordy-isaac commented on #941
@genaray Do you have a similar use case to the user in that stack over flow thread?

You can access the `water` layer in `Map Layers > Features` and then you can use filters and game object modifiers to do what you would like depending on your use case.

[2018-08-06 16:38] Emixam23 commented on #942
Hi,

Yeah of course, my apologies..

I am looking to have a map with extruded building :) I would like to add Transforms onto the map, such as pin, but in 3D. I was first trying to make it through Mapbox-gl-android, but they don't support 3D models. I then began with Unity3D-mapbox but, unlike in Mobile, the map is only a "square scene". -> The view of the map isn't infinite

[2018-08-06 16:58] genaray commented on #941
@jordy-isaac Thanks ! Well are there any code samples ? I have no idea how to do that... and what about older versions ? Im havent updated since months...

[2018-08-06 17:47] atripathi-mb commented on #942
@Emixam23 what do you mean by

The extent of the map is controlled by the `Extent Type` setting under General section of the map.

Note - loading a large number of tiles might lead to lower rendering performance on mobile devices

[2018-08-06 17:52] jordy-isaac commented on #940
Hi @Mowalle

This is likely happening because of the zoom level. When you zoom to a level like 15 three are alot of meters of data packed into a pixel and the precision is lost. I would suggest creating the footprint at a lower zoom level.

[2018-08-07 01:34] Emixam23 commented on #942
Oh ok :)

So I think I just don't get it... If you say that extend the map make the rendering of it slower, then it means that you don't render it at the maximum. So how do you manage if the user moves or look at somewhere where the map isn't extended?

Thanks !

[2018-08-07 04:30] msnmkh commented on #423
@david-rhodes
 Hi David,
I want to develop a location base  vr  app that  have a centimeters accuracy gps  but when I use https://docs.unity3d.com/ScriptReference/LocationService.html or mapbox  the accuracy more than 10 meters.
Is there any way to increase accuracy of GPS??

[2018-08-07 07:25] BergWerkGIS commented on #423
@msnmkh only way to get **centimeter** GPS precision is to use a professional grade GPS device (these cost several thousands of $$$).

Take a look at the specs of your device (I suppose a mobile phone) and you'll see that you won't get better precision than 3 to 10 meters - under perfect conditions.

Perfect conditions are eg on a mountain top and not in a city with sky scrapers distorting the GPS

[2018-08-07 08:07] anent2005 opened #943 "AR MapBox - dynamic creation of POI's (after Map Initialization), not working (SpawnPrefabAtGeoLocation))"
Hello,
I am developing an Android Unity app, using Mapbox SDK.
It is required to create POI's after map initialization, calling an Endpoint that provides POI's based on location.
I am using MapBox SDK  & Unity 1018.1.6f1.
During short time intervals I must "Insert" into AR Map custom POI's using this method.
**map.SpawnPrefabAtGeoLocation**.
The method is called, the pois are inserted into mapbox

[2018-08-07 10:15] Mowalle commented on #940
Hi,
thanks for taking the time to help!

I don't quite understand what you mean by that. Maybe I'm just misunderstanding you, but I already tried different zoom levels as seen above. And QGIS, which I used for *creating* the floorplan, does not have a setting for zoom level as far as I know.

[2018-08-07 12:57] Emixam23 commented on #942
I would like to achieve something like this -> http://demo.f4map.com/#lat=48.0079408&lon=0.1958507&zoom=18&camera.theta=70.546&camera.phi=-90.345

As you can see (even if the extrusion depends on where you're looking at), if you're moving around, you'll feel that the map never ends, and I am trying to achieve something like that :)

I am trying to create something as exploration, if an user hit th

[2018-08-07 14:47] emartinDesignInteractive commented on #943
I tried this, the only way to get the points to respawn is to call map.Initialize() which is a horribly inefficient way to do this

[2018-08-08 06:07] genaray commented on #941
@jordy-isaac Hello ?

[2018-08-08 10:25] anent2005 commented on #943
Thanks for the info! I will try this.
I agree with you, this is totally inefficient.

[2018-08-08 10:28] emartinDesignInteractive commented on #943
@anent2005 I would recommend not going with this approach. I would manually place the prefabs using the AbstractMap GeoToWorldPosition (also found in the Conversions package). This method does not account for any rotation that may have occurred to the map so you would also need to rotate the object appropriately.

[2018-08-08 10:55] ohoodsabr opened #944 "indoor localization"
Hi,

I am working on indoor localization project. I have used the trilateration algorithm to find the location of the user. So now I have point(x,y,z) for the location of the user, I want to represent this point on a floor map. is there any suggestion regarding that.

[2018-08-08 14:01] jordy-isaac commented on #942
The more tiles you load the bigger the hit to performance as well. I would give that effect to your scene by manipulating the camera and skybox. You can try setting the` Extent Options` to `Range Around Transform` and `Dispose Buffers` to an appropriate value your scene

[2018-08-08 15:33] #944 closed

[2018-08-08 15:33] #942 closed

[2018-08-08 15:35] jordy-isaac commented on #938
@ls29322 There isn't a patch for it so we'd suggest using 2018. Hope this helps!

[2018-08-08 15:35] #938 closed

[2018-08-08 15:40] jordy-isaac commented on #917
Have you taken a look at the [manual alignment example](https://www.mapbox.com/unity-sdk/maps/examples/world-scale-manual-align-ar/) scene for a way to orientate your scene?

[2018-08-08 15:54] jordy-isaac commented on #921
I would consider making a vector tileset and bringing it into Mapbox studio to be consumed in Unity. Here's the documentation on [custom data](https://www.mapbox.com/unity-sdk/maps/examples/data-explorer/#custom-data)

[2018-08-08 15:54] #921 closed

[2018-08-08 19:54] atripathi-mb commented on #943
@anent2005 Have you tried the script `SpawnOnMap` script ? It spawns prefabs on the map after it has initialized.

@emartinDesignInteractive Could you elaborate on this, please?

This is an event triggered once the map is ready, if I understand the question correctly - this is what is required. right?

`GeoToWorldPosition` method on AbstractMap takes the map's transform and provides the world posi

[2018-08-08 20:34] anent2005 commented on #943
**@atripathi-mb**
I have tried the script you mentioned (SpawnOnMap).
The script works perfect in 2d maps, but in AR map the models are rendered as static images and have a strange behaviour (follow the camera on rotation).
This is the code in the update event:
 _for (int i = 0; i < _spawnedObjects.Count; i++)
        {
            var spawnedObject = _spawnedObjects[i];
            var location =

[2018-08-08 21:45] atripathi-mb commented on #943
@anent2005

Can you send us a video/ screenshot of this issue? SpawnOnMap will spawn the prefab as-is. Has nothing to do with (rendering static images or rotation with camera might be due to scripts/behaviors on the prefab)

Can you elaborate, please?

Check this script, this is placing the player ( prefab) using the live location from the device.
https://github.com/mapbox/mapbox-unity-sdk/blob/de

[2018-08-09 00:30] valkjsaaa opened #947 "Mapbox Conversions.LatLongToMeters giving me longer distance than it should be"
_Note: If this is a bug or support ticket, please provide the following information:_
* Unity version: 2018.2
  * Scripting Runtime Version: 4.6
  * Scripting Backend: Mono
  * Api Compatibility Level: .NET 4.x
* Mapbox SDK version: 1.4.3
* The platform you're building to: Windows
* A description of what you're trying to do: Convert lat long data to meters

I found that if I use `Conversions.LatLo

[2018-08-09 09:03] BergWerkGIS commented on #947
@valkjsaaa `Conversions.LatLongToMeters` returns "meters" in the [Web Mercator projection](https://en.wikipedia.org/wiki/Web_Mercator) which has significant distortion depending on the latitude and is not suitable for measuring distances appropriately:

![image](https://user-images.githubusercontent.com/4549888/43888876-012679ca-9bc3-11e8-8b91-2012c2f3a9ab.png)

For calculating distances you might

[2018-08-09 09:09] valkjsaaa commented on #947
@BergWerkGIS Thanks a lot for the prompt reply. I’m actually trying to draw a path that I get from Mapbox Direction in VR with 1:1 scale. So I not only need distance, but also need a coordinate system. What do you recommend to convert lat lon data to a coordinate system that use meter as its unit?

[2018-08-09 09:26] SebastianPietraszek opened #948 "mapbox-streets-v7 - getting all the features from poi_label layer that meet maki=attraction and are inside boundary area"
Is there any possibility to get all the features that are distributed over a large area like a city or even country from _poi_label_ layer using [mapbox-streets-v7](https://www.mapbox.com/vector-tiles/mapbox-streets-v7/) data?
I've been thinking about using [overpass turbo](http://overpass-turbo.eu/) for this purpose but I don't have any certainty that the data that I will receive will be 1 to 1 w

[2018-08-09 10:51] BergWerkGIS commented on #940
@Mowalle the missing features your are _not_ 😏 seeing are due to automatic simplification that takes place during upload of your GeoJSON and conversion to a tileset.
The lower the zoom level the higher the simplification - and sometimes even removal of features.
That's why the data looks better at z20 than at z15.

Two ideas:

### lines instead of polygons
You could try digitizing the walls as lin

[2018-08-09 11:15] genaray commented on #941
@jordy-isaac Could I get some more help please ?

[2018-08-09 11:15] genaray commented on #934
@atripathi-mb This is still unsolved... could need some more professional help.

[2018-08-09 16:43] Rusnomad commented on #603
Hello Everyone! I have the same problem.

- I am using Macbook Air, IOS Lion
-I use Unity 2018.2.2f1
-MapboxSDK v1.4.4
-Device that I try run on is Iphone 6s ios 11.4.1

Please help? Thanks.

[2018-08-09 18:11] atripathi-mb commented on #948
@SebastianPietraszek Could you describe a little more about what are you trying to do, so we can help you better?

Yes, you can query poi_label for a large area ( at different zoom levels).

Here is a ticket that can give you some insight into how we use tags https://github.com/mapbox/mapbox-streets-source/issues/651

Can you give us more details on what you are trying to do? Are you trying to fet

[2018-08-09 19:35] DSuppo opened #952 "Wrong map tiles and distorted map"
Hi,
updating map to a new location I get overlapping tiles and a confused map (only in the center it's right).
The problem is in Editor, as well obviously on mobile.
You can see in the attached picture what I mean
Many thanks for your help!

![wrongmap](https://user-images.githubusercontent.com/41523122/43921432-6a0eef56-9c24-11e8-9be1-d4ff3df696da.jpg)

_Note: If this is a bug or support ticket,

[2018-08-10 00:14] jordy-isaac commented on #941
@genaray There are multiple ways you can do this, but one way might be to set up a vector layer visualizer with the `water` or `waterway` layer from the [streets tileset](https://www.mapbox.com/vector-tiles/mapbox-streets-v7/#waterway). You could use filters for the `class` or `type` on the tileset to show as many or as little as you want. You can also use something like use a `TagModifier` or `La

[2018-08-10 00:15] jordy-isaac commented on #952
Hi @DSuppo how are you updating the map?

[2018-08-10 00:15] #941 closed

[2018-08-10 00:15] #940 closed

[2018-08-10 00:57] #917 closed

[2018-08-10 02:36] dingfengboo opened #954 "Is there a way to make visibility analysis"
I want to know the intervisibility between two points.

[2018-08-10 04:10] jordy-isaac commented on #954
@dingfengboo My first thought would be to raycast between the points. You'll want to make sure that you have colliders on the terrain or other features that might be between the points.

[2018-08-10 06:56] dingfengboo commented on #954
@jordy-isaac Good idea, thank you!

[2018-08-10 09:00] DSuppo commented on #952
Hi Jordy
I udpate the map with

Mapbox.Unity.Map.AbstarctMap.UpdateMap(Vector2d latitudeLongitude, int zoomFactor);

Daniele Suppo
m: +48.795.927.972 | skype: d.suppo.issimissimo

issimissimo | ul. Nowogrodzka 31 Warsaw
www.issimissimo.com [http://www.issimissimo.com/]
Il 10/08/2018 03:15:58, Jordy W. <notifications@github.com> ha scritto:
Hi @DSuppo [https://github.com/DSuppo] how are you updatin

[2018-08-10 09:54] SebastianPietraszek commented on #948
Thanks for your reply.
We want to store a list of all the `maki:attraction` features on a DB where we will add more information such as a description. We will be displaying this features on Unity as the user moves around, and we want to download the extra data from our DB using the displayed feature's id. So to feed our DB, we are trying to get a list of all the attractions from Mapbox.

[2018-08-10 10:03] Programmer9936 commented on #617
The problem is still there...trying from last 2 days, deleted my account and made a new one, but no luck...on unity SDK

[2018-08-10 11:15] avinash018 commented on #220
Hey guys, Can anyone help me how to start the process. I am very new to SDK and i want to achieve the same.. @cjloh @david-rhodes @brnkhy
I would be a great help for me.
Thanks in advance.

[2018-08-10 18:09] jordy-isaac commented on #948
@SebastianPietraszek thanks for clarification. In that case the best way to approach it would be to get features tagged `tourism=attraction` from OSM using overpass turbo and then create a custom tileset. We have a [guide](https://www.mapbox.com/help/overpass-turbo/) that can show you this process. Once it's in a tileset, you can consume it inside of Unity. You can find the guide on using custom d

[2018-08-12 11:51] CH196308 opened #957 "POI and game object distribution"
Hi all,

So just a bit of advice needed please as I can't quite work out how to achieve what I want here.

I have six tasks/gameobjects on my map that I want users to interact with and I have assigned them to POI's and given them a category each so that they are dispersed around the map.

Now, I'm finding that because many areas are sports and recreation heavy that whatever game object I have atta

[2018-08-13 16:27] zxcvb7653 opened #958 "[Support] Is there a way to reduce new tile set to load when changing the zoom level."
When zooming in and out the tiles turn blank and lag out the whole machine to retrieve new set vector tiles.

Is there a way to increase the zoom extent of the tiles used at different zoom levels? I hope this would reduce the amount of data use and smooth out the user experience. My game does not require too much detail so the detailed information on the tiles is not as significant.

Expanding the

[2018-08-14 03:16] jordy-isaac commented on #958
@zxcvb7653 We have some performances improvements coming with the next release that will address zoom performance. It should be coming out shortly and you can also keep an eye on the `develop` branch if you'd like to see if the improvements are helping your issue.

[2018-08-14 03:16] #958 closed

[2018-08-14 21:28] #954 closed

[2018-08-14 21:30] #948 closed

[2018-08-14 21:31] #943 closed

[2018-08-14 21:32] #929 closed

[2018-08-14 21:34] #898 closed

[2018-08-14 21:34] #857 closed

[2018-08-14 21:35] #900 closed

[2018-08-14 21:35] #916 closed

[2018-08-14 21:47] jordy-isaac commented on #899
I would suggest removing the building from the scene by feature ID.

If you run your scene, in the scene window find and click the building you want to replace. Once you select the game object, you can get the feature ID:

<img width="689" alt="screen shot 2018-08-14 at 2 39 38 pm" src="https://user-images.githubusercontent.com/33474236/44120344-edca9b56-9fd0-11e8-9c8d-d96dbccf14f3.png">

Copy thi

[2018-08-14 21:48] #899 closed

[2018-08-14 21:49] #957 closed

[2018-08-15 04:29] pplcf opened #961 "[support] Spawn prefab & persist"
Hello.
What is a best approach to dynamically spawn prefabs(preferably avoiding building layer) and persist its position for the next map reload?

Should I make my own modifier(based on SpawnInsideModifier) with persist/load logic? Or should I just keep SpawnOnMap example approach and basically do everything on top of mapbox? Is there is a more cleaner & right way to do it?

Thank you.

[2018-08-15 05:33] anent2005 commented on #943
Hello,
Why this issue is closed?
I don't see any kind of fix.
Please, explain!

[2018-08-15 06:01] atripathi-mb commented on #943
@anent2005 Issue was closed because we did not hear back from you after the last comment. Please provide more details on the issue and feel free to re-open the ticket.

[2018-08-15 09:53] PauloDeMello opened #962 "Switch Vector Data Set Visualizer in Run Time"
Hi,
I am trying to display a vector data set that changes periodically in run time.

Right now I have a data set (set 1) visualized as cylinders with different colours (Green = Low Congestion Red = High Congestion), as well as this I also have another set of data (set 2) for a different time in the same ShapeFile's DBF
The most apparent solution to this would be to have the other set of data on a

[2018-08-15 18:18] Mowalle commented on #899
I'm having the same problem@SebastianPietraszek 's city and in another city in Germany. I'm assuming your AbstractMap has "Buildings with Unique IDs" under FEATURES > Advanced unchecked? Because that will produce buildings with a short ID for me (0, 1, 2, ...), which in turn leads to the exception described in the OP (since it seems to substract 3 digits from the ID and will subsequently ask for a

[2018-08-16 09:40] genaray commented on #934
@atripathi-mb Anyone here ? Still need an answer

[2018-08-16 15:57] atripathi-mb commented on #934
@genaray

Yes, this is the option available to you right out of the box. The SDK is flexible, that if you want to implement tile merging on your end, you should be able to do so.

There are some general things you can do to better performance for your use case:

1. Adjust the map zoom level to reduce the number of objects displayed in one area.
2. Adjust the Camera Bounds settings in the Extent Op

[2018-08-17 10:05] tarakinsuide opened #966 "Update location in WorldScale AR example"
Hi,
I'm using the WorldScale AR to build an indoor navigation AR app.
I'm getting LatLong and Heading from my service provider. I want to use this continuous string of Latlongs to constantly update my location on the map. How to do it? In which script will I have to call my data?
I'm planning to use spawnonmap.cs to put some objects at a location on the map.
So, the only issue is how to update the

[2018-08-17 12:32] genaray commented on #934
@atripathi-mb Thanks ! :) May I ask what you would advise me if I want to use Mapbox with mobile phones ?

[2018-08-17 13:29] brnkhy commented on #962
Hello @PauloDeMello!
Your idea is correct but there might be a better/easier solution.
If you're able to create and render both visuals at the moment, you can add generated visuals to unity layers and enable/disable them using those it.
We have LayerModifiers for this. i.e. if you add LayerModifier to the set 1 visualizer and add them to layer "Set1", you'll be able to tell camera just not to rend

[2018-08-18 16:31] copenhaverjf commented on #518
@playtradev I finally found someone who has experienced the same thing I'm doing! Out of curiosity, did you solve this problem by projecting on the 2d canvas or creating a 3d collider? I'm having some issues getting raycasting to work properly (when I call ScreenToWorldPoint and use that point to draw a ray, the ray is not located over my mouse click as I would expect) which is likely my problem..

[2018-08-18 19:41] alagrad94 commented on #518
Hey guys, try out this course on Udemy, it’s actually free and I’ve been going through it.  It shows you a lot of good stuff about Mapbox and it’s based on the new release as well

https://www.udemy.com/mapbox-unity-3d-essentials/learn/v4/

[2018-08-20 07:00] DennyLindberg commented on #966
The WorldScale AR example should already have the user position update based on the device hardware. (see the LocationProvider prefab placed under WorldAlignmentKit object in that scene)

If you need to download your LatLong and Heading from a server, then I recommend using coroutines in a separate script component that you add to your AbstractMap object in the scene. Here is some pseudo-code that

[2018-08-20 07:08] tarakinsuide commented on #966
Hi Denny,

I'm using Unity as a library for my android project. I'm getting latlong on android app.
I need to send the android device data to the unity where my mailbox scene is set. My question is where should I send the data to? To which script? And how?

[2018-08-20 12:16] PauloDeMello commented on #962
Hi! @brnkhy ,

I tried your idea and it worked for another visualizer, but not for the visualizers I am working with.
This is due to the fact that I am using a prefab modifier on each visualizer layer (which I should have said before, sorry!).
Is there a way to use the culling mask method with prefab modifiers?

Regards,
Paulo

[2018-08-20 21:04] sonalranjit commented on #347
Is this under active development?

[2018-08-21 07:01] DennyLindberg commented on #961
While it might not be *the best approach™*, we have implemented our own approach on top of Mapbox and it has worked fine. (apart from #867, #896 and #897) I believe one advantage for doing so is that you become less dependent on how the SDK is designed and can focus on your own implementation. Spend some time on building a good interface to the SDK and you are good to go. (with interface I mean th

[2018-08-21 10:45] Rusnomad opened #971 "How to change a Height that objects put on the map in SpawnOnMap"

[2018-08-21 10:50] Rusnomad commented on #971
![screen shot 2018-08-21 at 6 49 55 pm](https://user-images.githubusercontent.com/23379862/44397466-047e2c80-a573-11e8-9f6a-a9d93e924b61.png)

[2018-08-21 10:51] Rusnomad commented on #971
The screenshots in opposite order starts from down to up.

Best regards

[2018-08-21 11:55] pplcf commented on #961
Thank you for your suggestion. I think I will stick with your approach.

[2018-08-21 11:55] #961 closed

[2018-08-22 14:15] JustinFincher opened #976 "Any plan to support Android ARM64 in the sqlite plugin?"
* Unity version: 2018.2.4f1
  * Scripting Runtime Version: 4.x
  * Scripting Backend: il2cpp
  * Api Compatibility Level: 4.x
* Mapbox SDK version: 1.4.3
* The platform you're building to: android
* A description of what you're trying to do: As unity 2018.2 now can build in arm64 with il2cpp, the [sqlite plugin](https://github.com/mapbox/mapbox-unity-sdk/tree/develop/sdkproject/Assets/Mapbox/Core/

[2018-08-22 19:50] tarakinsuide opened #977 "Importing Unity as library in Android Studio: Camera not rendering & passing data to Unity from Android"
Hi,

I'm planning to integrate our existing Mapbox location app to have a Mapbox AR scene and so I've imported the Mapbox Project. The app opens and I can move the location with touch, but the camera is not rendering. It simply shows black

![screenshot_20180822-225131](https://user-images.githubusercontent.com/34171415/44486712-00850400-a672-11e8-8d4a-14812e3b3cb4.png)

However I also wish to get

[2018-08-22 20:53] greglemonmapbox opened #978 "BUG - Assertion failed: Geometry jobs should not be launched for empty tasks"
**Context:**

Unity error.

**Problem:**

When building a map, Unity occasionally throws an error -

"Assertion failed: Geometry jobs should not be launched for empty tasks."

No additional information is available after the error message; initial research suggest this may have to do with empty UI text containers or attempting mesh rendering jobs where mesh.vertices.Length = 0.

https://answers.un

[2018-08-23 07:08] #971 closed

[2018-08-23 09:15] tarakinsuide commented on #977
This is the logcat when I open the Unity as Library project in android studio
`(Filename: C Line: 0)
08-23 14:42:48.575 15689-15721/? E/Unity: DllNotFoundException: arcore_unity_api
        at (wrapper managed-to-native) GoogleARCoreInternal.LifecycleManager/ExternApi:ArCoreUnity_setArPrestoInitialized (GoogleARCoreInternal.LifecycleManager/EarlyUpdateCallback)
      at GoogleARCoreInternal.Lifecy

[2018-08-23 09:15] tarakinsuide commented on #977
This is the logcat I received when I used the Unity as Library in Android Studio...

[code]

[2018-08-23 14:32] sonalranjit commented on #347
@atripathi-mb i was noticing some delay when panning and I couldn't figure it out. By delay i mean the map doesn't follow the touch position that is panning. As mentioned above, it is really noticeable when it is further from the center of the screen. This is really evident on Android devices and Higher Zoom Levels ( > 16). For iOS its bearable, but it is more pronounced on Higher Zoom levels, I c

[2018-08-23 14:39] BergWerkGIS commented on #976
@JustinFincher SQLite support is based on https://github.com/codecoding/SQLite4Unity3d
And that package does not include an `arm64` library.
Unfortunately we currently don't have the resources to build an arm64 library ourselves.

However a quick Google search revealed this:
https://github.com/ericsink/SQLitePCL.raw/tree/master/android/sqlite3/libs/arm64-v8a

I think it would be worth a shot to dr

[2018-08-23 22:31] brnkhy commented on #896
these events should be fixed in v1.4.5, closing it for now. thanks again @DennyLindberg !

[2018-08-23 22:31] #896 closed

[2018-08-24 06:50] BergWerkGIS commented on #976
SQLite is used for ambient caching of tiles (raster and vector).
So, if you can pan/zoom around the map without errors it works 😄

[2018-08-24 07:04] genaray commented on #934
@atripathi-mb Any advise regarding the performance of Mapbox using unity on android or iPhone ? :)

[2018-08-24 07:20] tarakinsuide opened #981 "Camera not rendering when Unity is imported as a library in Android"
Hi,

My mailbox unity app is working fine but I want to integrate it to my existing camera app.
The app in unity loads however the camera is not rendering. It shows extrusions and maps but no camera feed. Why so?

[2018-08-24 09:55] ufktvfk opened #982 "Cannot get build for Android versions smaller than 24."
Hi,   I cannot build apk for Android versions smaller than 24. In known issues page, it is said that minimum Android version supported is 15.

* Unity version:  2018.1.5f1
* Mapbox SDK version: 1.4.4
* The platform you're building to: Android
* Steps to recreate the bug if appropriate: Try to get build with Android version smaller than 24.
* Link:  https://www.mapbox.com/mapbox-unity-sdk/docs/02-k

[2018-08-24 16:03] jordy-isaac commented on #977
@tarakinsuide Is this an [ARCore supported device](https://developers.google.com/ar/discover/supported-devices)?

[2018-08-24 16:04] jordy-isaac commented on #981
Closing as a dupe of https://github.com/mapbox/mapbox-unity-sdk/issues/977

[2018-08-24 16:04] #981 closed

[2018-08-24 16:04] #966 closed

[2018-08-24 16:04] tarakinsuide commented on #977
Yes. I'm running it on pixel xl

[2018-08-24 16:14] jordy-isaac commented on #982
That's our custom native Android GPS Plugin. Its min requirement is set to 24 as it uses methods that are not available on earlier versions.

However, if you do want to downgrade you can download the Zip files without the command line: https://github.com/mapbox/mapbox-unity-sdk/releases

Some other things to try:

1. Uncheck `Android` in the inspector for
```Assets/Mapbox/Unity/Location/Plugins/An

[2018-08-24 16:14] #982 closed

[2018-08-27 07:24] 16273849 opened #983 "Question: How to Add 3D objects in real time"
I would like to add some object in the Mapbox Unity build platform at "real time", "longitude latutide" specified location.
Such as some display 3d object from a shop.
or some special attractions just comes up few sec ago.
Also would like to show in AR mode and 3d map mode. Any Ideas please suggest,  thank you.

_Note: If this is a bug or support ticket, please provide the following information:_

[2018-08-27 08:45] tarakinsuide commented on #983
I think the spawnonmap.cs script should work. I'll put your object at a LatLong.

[2018-08-27 16:06] DSuppo commented on #952
Hi Jordy, can you help me on my issue?

[2018-08-27 16:13] DSuppo commented on #952
I think that it's a bug using "world scale" for map. Can you help me to solve it?

[2018-08-27 16:14] brnkhy commented on #978
I'm not sure about this error, it occasionally pops in some version of Unity Editor. Sometimes just dissappear after an editor reset. So might not be an error on our side but I think `mesh rendering jobs where mesh.vertices.Length = 0` is a reasonable suspicion. I would just expect to get it more consistently if that was the case.

[2018-08-27 17:48] DSuppo opened #984 "BUG - overlapping tiles on map - different size of tiles on map"
Hello, I've already posted this bug but I had no help on it.
But now I have one information more: this BUG seem to happen only with "world scale" option (that I need to use). I'm in Italy and it happen on each map I update through:

Mapbox.Unity.Map.AbstarctMap.UpdateMap(Vector2d latitudeLongitude, int zoomFactor);

You can see the problem quite well in the attached picture

Please if is not possi

[2018-08-28 07:42] tarakinsuide opened #985 "Using Mapbox AR as a library on Android"
Hi,

Can I use Mapbox AR unity project as a library in Android? How?
Any tutorials to do that would be appreciated as I'm stuck with this since last two weeks and can't find a solution.
Right now I'm following this tutorial: https://medium.com/@angelhiadefiesta/integrate-a-unity-module-to-a-native-android-app-87644fe899e0

The app opens but camera feed is black. Also, I read this error in the logc

[2018-08-28 14:31] genaray commented on #934
@atripathi-mb how long till i get somekind of answer ? :P

[2018-08-28 15:29] jordy-isaac commented on #985
@tarakinsuide If you're developing in Android and don't want to use Unity I would suggest our [React Native SDK for AR](https://github.com/mapbox/react-native-mapbox-ar). Depending on your project, our [Maps SDK for Android](https://www.mapbox.com/help/define-android-sdk/) might work for your location data and you could check out [ARCore](https://developers.google.com/ar/develop/java/quickstart).

[2018-08-28 15:29] #985 closed

[2018-08-28 15:32] tarakinsuide commented on #985
I've built my app on unity, but I need to integrate it with my current android app which is like the parent app of the unity app.
The game is already built on Unity but I can't play it in my native android app :c

[2018-08-28 16:10] atripathi-mb commented on #934
@generay Maps SDK is built to run on variety of devices ranging from desktops to mobile devices. The performance best practices guidelines I sent you above are common for all devices.

Since changing the zoom level or reducing the number of tiles is not an option for you, we will need specific cases in which you’re seeing performance issues. Details on how to reproduce them to help at this point

[2018-08-28 18:51] jordy-isaac commented on #983
Have a look at the [SpawnOnMap](https://www.mapbox.com/unity-sdk/maps/overview/add-markers/) script. Another thing to check out might be the [POI example](https://www.mapbox.com/unity-sdk/maps/examples/poi-placement/).

[2018-08-28 18:51] #983 closed

[2018-08-28 19:52] jordy-isaac commented on #977
Can you let us know a bit more how you're building to the device? Do you have a screenshot of your build/player settings?

[2018-08-29 14:56] brnkhy commented on #801
@heath3n Sorry I only now had chance to look into this. Unfortunately this looks like an unexpected (bad?) data case. Interestingly, those two short road segments creating a big V are defined as one road segment. Road segments like V are hard because of that sharp turn and current line mesh modifier cannot handle that properly. In most cases, such intersections (V) are defined as two short road se

[2018-08-29 14:58] raggnic opened #987 "Problem with AbstractMap derived classes in inspector"
Hi

In our project we've extended AbstractMap. I've tried to update the mapbox sdk to the latest version (1.4.5 at this time), but I have issues with the inspector custom panel for the AbstractMap based class.
The panel is corrupted and I have a lot of error messages
![unityerror](https://user-images.githubusercontent.com/28299760/44796090-86420b80-abac-11e8-8845-e6784eb6516e.png)

I can use this

[2018-08-29 16:48] atripathi-mb commented on #987
@raggnic  Please refer to this ticket. Unity doesn't support inherited classes with custom inspectors. You need to create a derived class for the custom editor as well.
https://github.com/mapbox/mapbox-unity-sdk/issues/862#issuecomment-397171698

[2018-08-29 18:29] raggnic commented on #987
Thank you Abhishek, I will try this!

Until now it was not required for the inspector to work with our derived class, but i guess it is Murphy's Law

[2018-08-30 08:53] mmsbba4 opened #988 "Title: Problem with AR world scale mapbox"
I tried to use scene World Scale AR in the mapbox. However, when I used, the direction of AR map is incorrect in the real world.
Can I ask you about mapbox that does any API support this direction's synchronization?, please!
thank you a lot!

_Note: If this is a bug or support ticket, please provide the following information:_
* Unity version: 2018.2.1f1
  * Scripting Runtime Version:
  * Scriptin

[2018-08-30 18:54] jordy-isaac commented on #988
@mmsbba,

Localization is a difficult problem to solve. I would check out the [manual alignment example](https://www.mapbox.com/unity-sdk/maps/examples/world-scale-manual-align-ar/). We've also had a fair amount of success using [Sturfee](https://sturfee.com/sdk.html).

[2018-08-30 18:54] #988 closed

[2018-08-30 19:20] #987 closed

[2018-08-30 19:25] jordy-isaac commented on #934
@genaray If you have any further questions please email help@mapbox.com

[2018-08-30 22:00] atripathi-mb commented on #984
@DSuppo Can you share screenshots of your map settings + steps to reproduce the issue.
At our end we are not able to reproduce the issue. Any details would be helpful to resolve the issue.

[2018-08-30 22:04] jordy-isaac commented on #952
Closing in favor of https://github.com/mapbox/mapbox-unity-sdk/issues/984

[2018-08-30 22:04] #952 closed

[2018-08-30 23:00] adrianjmejias commented on #617
hey is there any solution for this problem yet??? I live in Venezuela and I have the same issue.
another thing that I did was migrating from old mapbox to new mapbox but I don't think it's related

[2018-08-31 01:56] brnkhy commented on #801
@heath3n I have some time today to give this a shot; first results looks pretty good I think;
![unity_2018-08-31_04-54-55](https://user-images.githubusercontent.com/1465390/44888478-1762d080-acda-11e8-82d2-d6cb8bcfd64c.png)
there's still some work to do but after that I'll put the new line mesh script here (or somewhere).

[2018-08-31 04:02] ShyamBarange commented on #514
@tgaldi  Hi,
were you able to get latitude/longitude from mapbox map on mouse click?
I am looking for the same solution.
Thanks.

[2018-08-31 17:45] atripathi-mb commented on #514
@ShyamBarange Did the code snippet mentioned in https://github.com/mapbox/mapbox-unity-sdk/issues/514#issuecomment-359894190 not work for you?
Can you give us more details on what you're trying to achieve?

[2018-08-31 18:29] m3rt32 opened #989 "Differeny collider types in TileProvider according to Terrain Elevation"
* Unity version: 2018.1.8f
* Mapbox SDK version: 1.4.5
* The platform you're building to: Android&Ios
* A description of what you're trying to do:
We've been using v1.3 with **FlatTerrainFactory**, now because of they've depricated and colliders are added from **TileProvider** script (instead of seperate factories), we only have **Mesh collider** option. Before, we could choose **FlatTerrainFactor

[2018-08-31 19:49] atripathi-mb commented on #989
@m3rt32 Thanks for the ticket, this issue is on our list to be fixed for next release. In the meantime, you can modify this line of code to add a different type of Collider for terrain meshes.

https://github.com/mapbox/mapbox-unity-sdk/blob/488cf9330880a7930467bab46a9b2ce255561b96/sdkproject/Assets/Mapbox/Unity/MeshGeneration/Data/UnityTile.cs#L247

[2018-09-04 01:49] SixGodZhang commented on #617
@adrianjmejias In our place,it's maybe Great Wall,don‘t know if there is wall in Venezuela .But we use the offline map

[2018-09-04 03:58] BrentKingma commented on #734
@BergWerkGIS hey, thanks for the work that you have been doing but do you know how long it will be for the mapbox to work with unity's il2cpp compiler?

[2018-09-04 14:57] SebastianPietraszek opened #990 "No height data below 13 zoom level in Italy [40.612, 14.382]"
Unity version: 2018.1.6f1
Scripting Runtime Version: .NET 3.5 Equivalent
Scripting Backend: Mono
Api Compatibility Level: .NET 2.0 Subset
Mapbox SDK version: 1.4.3
The platform you're building to: Android, iOS
Steps to recreate the bug if appropriate:
MapBox settings:
![image](https://user-images.githubusercontent.com/40030209/45038593-d06e3580-b061-11e8-855c-03eb9e63c034.png)
![image](https://use

[2018-09-05 17:49] abhishektrip opened #991 "[Enhancement] Filter operator for strings should allow for exact matches"
Filter operators for string only allow for string.contains.
Allow for other operator types
- Exact match
- Substring
- other string matching cases

[2018-09-05 19:50] brnkhy commented on #801
@heath3n You can find and test the fix on this PR; https://github.com/mapbox/mapbox-unity-sdk/pull/992
It's pretty much a single file change so you can simply copy&paste that into your existing project as well. I just PR'ed it so haven't tested thoroughly though.

[2018-09-06 10:59] raggnic commented on #921
I'm not sure it will be possible, users are offline
I'm thinking of doing a custom factory that generates a custom texture for each tile where i would draw the graticule

[2018-09-06 20:34] #977 closed

[2018-09-06 21:07] neogithub opened #996 "Gps update ignored due to bad accuracy: 65.0>45.0"
Deploying the world scale example scene. Sometimes doesn't ask about camera, sometimes does. Never works with gps. Same error just lists to infinity. Map does not update either.

2017.3 & 2018.2
iOS (mix of 11.4.1 and 12.0 betas)
Building locally.
Tried on 2 phones, 4 iPads. Same error and lack of updating. The only change from the prefab or example scene is I update the editor latlong to my area.

[2018-09-06 23:30] BrentKingma opened #997 "Is support for the IL2CPP scripting backend being looked at?"
Have read the following posts:
https://github.com/mapbox/mapbox-unity-sdk/pull/485
https://github.com/mapbox/mapbox-unity-sdk/issues/734
https://github.com/mapbox/mapbox-unity-sdk/pull/945

Just want to know if support for the IL2CPP scripting backend is being looked at?

Thanks

[2018-09-07 00:04] atripathi-mb commented on #997
@BrentKingma IL2CPP is an limitation only for UWP builds. Are you looking to build for UWP using the IL2CPP?

[2018-09-07 00:10] BrentKingma commented on #997
@atripathi-mb Yes, I am currently busy on a project for the Hololens and I am using IL2CPP for the networking part of my project as it is pretty efficient at it.

[2018-09-07 00:33] atripathi-mb commented on #997
@BrentKingma The support for IL2CPP for UWP builds is on the list of enhancements but not a priority currently.Unfortunately, we don't have a fixed timeline for this fix to be available.

[2018-09-07 00:44] BrentKingma commented on #997
Ok, thanks
Thats all I needed to know.
Thanks for the help.

[2018-09-07 00:45] #997 closed

[2018-09-07 10:09] BergWerkGIS commented on #734
Closing - PR [#945 UWP fixes (and more)](https://github.com/mapbox/mapbox-unity-sdk/pull/945) was merged.

**NOTE:**
UWP (Desktop, HoloLens, Windows Phone, ...) builds with *`Scripting Backend: IL2CPP`* still don't work - **only .NET backend does**.
Blocker here is https://github.com/mapbox/Mapbox.Json-unity (a fork of [Newtonsoft.Json](https://github.com/JamesNK/Newtonsoft.Json)) which emits dyna

[2018-09-07 10:09] #734 closed

[2018-09-07 12:11] ufktvfk commented on #982
Which GPS methods you use in your native Android GPS Plugin since our app heaviliy uses GPS for world calibration so we may really need advanced GPS methods. Meantime, tusing min 24 means that we may lose lot of device models..

[2018-09-07 15:05] ufktvfk commented on #982
I found a workaround to this issue but not sure it is correct or suggested way. I basically edited AndroidManifest file for mapbox unity sdk.

![mapbox package](https://user-images.githubusercontent.com/23186662/45226728-5be90000-b2c8-11e8-8b07-928e79e4388f.JPG)

After I did this, I successfully got build for API level 19 which is below 24. It worked fine in the phone.

Is this method can be trust

[2018-09-08 14:53] #989 closed

[2018-09-09 19:16] igaln commented on #807
Any updates on this issue?

[2018-09-10 02:29] NerbzHub opened #1000 "Buildings being created on top of each other causing flickering."
* Unity version: [2017.3.0f3]
* Mapbox SDK version: 1.4.5

* The platform you're building to: Windows

* A description of what you're trying to do:
The issue is that the building places two meshes on top of each other, causing the textures to flicker between the two textures.

Steps to recreate the bug if appropriate:
* Abstract Map add buildings features
* Modelling:
* Primitive Type: Polygon
* E

[2018-09-10 15:27] jordy-isaac commented on #996
Hi @neogithub Can you let us know a bit more about what you mean by the GPS is not working? Is it that the alignment is off? Please provide a bit more detail on what's happening. You also mention an error, can you let us know what error you're seeing?

If the GPS is locating your device, but the alignment is off, you might want to check out the [manual alignment example](https://www.mapbox.com/uni

[2018-09-10 15:28] jordy-isaac commented on #984
Closing this one for now. Please feel free to open with additional info.

[2018-09-10 15:28] #984 closed

[2018-09-10 16:11] jordy-isaac commented on #1000
@NerbzHub Thanks for the ticket. This is a known issue with Z fighting. There is a workaround for it. Please try adding the `RemoveZFighting` `NoiseOffsetModifier` that can be found in the SDK. You can add it by clicking `Add Existing` in the `Game Object Modifiers` section. It will open a selection dialogue to choose the modifier from the list.

<img width="352" alt="screen shot 2018-09-10 at 9 0

[2018-09-10 17:04] atripathi-mb commented on #807
@igaln Will be fixed in the next version - in the meantime you can use the script in this PR #999

[2018-09-10 20:41] m3rt32 opened #1003 "MapOptions.tileMaterial change doesnt effect map"
_Note: If this is a bug or support ticket, please provide the following information:_
* Unity version: 2018.1
* Mapbox SDK version: 1.4.5
* The platform you're building to: IOS&Android
* A description of what you're trying to do: Assigning Tile Material in runtime & changing map material in runtime

We are trying to use custom styles in runtime, but after map initialization we can change parameter

[2018-09-10 21:39] brnkhy opened #1004 "Merge HeightModifier and TextureSideWallModifier classes"
Currently SDK has two modifiers for creating side polygons for features (i.e. side walls of buildings); HeightModifier and TextureSideWallModifier.

HeightModifier is the original basic polygon generator, creating side walls as one big polygon made of two triangles.
TextureSideWallModifier is a lot more complex, it creates floors, window columns etc. for detailed texturing.

Maintaining both is ha

[2018-09-11 00:01] brnkhy commented on #1003
@m3rt32 we don't have automatically update map on settings change at the moment (but it's coming). One thing you can do is to change material of all existing tiles yourself.
You can get all active tiles from `AbstractMap.MapVisualizer.ActiveTiles` dictionary, then change their material with something like `UnityTile.MeshRenderer.mater = value`. This would change materials for all existing tiles.
B

[2018-09-11 03:39] m3rt32 commented on #1003
ActiveTiles solution solved my issue. Because of all tiles were active in the beginning, _inactiveTiles property wasnt necessary. Thank you!

[2018-09-11 03:39] #1003 closed

[2018-09-11 05:47] NerbzHub commented on #1000
Thank you for your reply.

I implemented RemoveZFighting and it minimised the number of occurrences but there are still some occurrences. The buildings it is occurring on are changing though. I'm assuming it is due to the random value being created inside RemoveZFighting.

Is there something else you recommend trying?

Otherwise, I'll try to find a workaround.

[2018-09-11 07:06] ufktvfk opened #1007 "Cannot get build for Android versions smaller than 24."
Hi, for this issue: https://github.com/mapbox/mapbox-unity-sdk/issues/982#issue-353719360

I tried to:

1.Uncheck Android in the inspector for
Assets/Mapbox/Unity/Location/Plugins/Android/com.mapbox.android.unity-debug

2.Delete whole folder:
Assets/Mapbox/Unity/Location/Plugins/Android/

This suggestions caused that map is not shown in my app. I mean map is not even initalized.

But I found a wor

[2018-09-11 10:30] Dreadedmonkey opened #1008 "Getting Coordinates from the json."
Hello,

I have made a custom tileset with a custom dataset, added it to the map. I have used "IFeaturePropertySettable" to get the properties, such as title and description that are from the json, of the prefab that I have placed. Now I am wondering how to get the Geometry of the prefab, mainly the Coordinates, that are contained within the json file ?

I just want to do this so I can check if the

[2018-09-12 12:56] josh-windsor opened #1010 "Set specific heights/zoom levels for adding/removing sublayers/features"
Hi, not too sure if I have missed something in the documentation or if this is a noob question (sorry ;) ) but I would like to set the buildings feature to only appear at certain zoom levels, is this at all possible. Have tried the following:

`
if (Map.Zoom >= 19.0f)
{
	if (!Map.VectorData.LayerProperty.vectorSubLayers.Contains(_buildingsLayer))
	{
		Map.VectorData.AddVectorLayer(_buildingsLayer)

[2018-09-13 04:37] atripathi-mb commented on #897
Available in 1.4.5

[2018-09-13 04:37] #897 closed

[2018-09-13 04:40] atripathi-mb commented on #867
Merged with #979

[2018-09-13 04:40] #867 closed

[2018-09-13 04:40] #97 closed

[2018-09-13 04:44] atripathi-mb commented on #624
Available in 1.4.5

[2018-09-13 04:44] #624 closed

[2018-09-13 21:15] jordy-isaac commented on #1010
@josh-windsor Have you tried using a LayerModifier or TagModifier? You can add one in the `Behavior Modifiers` > `Game Object Modifiers` section of the `AbstractMap.cs`. That approach would probably be the best way to go. Here I added a TagModifier and a AddMonoBehavior modifier to disable the GameObjects with the tag `Buidling` given a zoom level. This is hacky and you'll need to reload the map t

[2018-09-13 23:41] jordy-isaac commented on #1010
If you're not looking to make the change at runtime. you can specify the zoom range for the [building layer](https://www.mapbox.com/vector-tiles/mapbox-streets-v7/#building) on your [custom style](https://www.mapbox.com/unity-sdk/maps/overview/custom-maps/#use-a-custom-style) and bring it into Unity.

<img width="565" alt="screen shot 2018-09-13 at 4 39 37 pm" src="https://user-images.githubuserco

[2018-09-14 07:43] IfnoLee opened #1012 "S"
_Note: If this is a bug or support ticket, please provide the following information:_
* Unity version:
  * Scripting Runtime Version:
  * Scripting Backend:
  * Api Compatibility Level:
* Mapbox SDK version:
* The platform you're building to:
* A description of what you're trying to do:
* Steps to recreate the bug if appropriate:
* Links to your logs are also helpful:

[2018-09-14 08:00] IfnoLee opened #1013 "map show problem in the zoomable map case"
* Unity version: 2017.4.1f1
  * Scripting Runtime Version: .Net4.6
  * Scripting Backend: Mono
  * Api Compatibility Level: .Net4.6
* Mapbox SDK version: 1.4.3/1.4.4/1.4.5
* The platform you're building to:PC
* A description of what you're trying to do:just look but important
* Steps to recreate the bug if appropriate:the place near by Kunming Changshui Airport in china，show some layer
* Links to

[2018-09-14 15:13] #1012 closed

[2018-09-14 15:28] jordy-isaac commented on #1013
@IfnoLee I wasn't quite able to reproduce this. Can you let us know the coordinates and zoom level?

[2018-09-17 02:27] IfnoLee commented on #1013
![snipaste_2018-09-17_10-26-35](https://user-images.githubusercontent.com/38685433/45604163-51ff9380-ba64-11e8-99da-9224347d1b29.PNG)

[2018-09-17 12:07] josh-windsor commented on #1010
Hi I am trying to implement this today, thanks for the quick reply.

 For note, If Mapbox is installed in a sub-directory ie Assets/Plugins/Mapbox rather than Assets/Mapbox Unity fires a UnityException: Creating asset at path  failed. here is console dump (https://pastebin.com/Z6kRSnsz) if this is an issue otherwise I have solved this by just moving it to the root directory.

[2018-09-17 18:45] josh-windsor commented on #1010
Hi again, I have tried both of your suggested solutions and both have problems.

With the first solution, this does indeed work at hiding the buildings but still loads & places them before disabling, not removing the load times I am trying too (If this is the only solution then this is viable but could be better).

The second solution using the style editor doesn't seem to change anything. I can s

[2018-09-18 02:33] kakashysen commented on #710
Hi @jordy-isaac I have the same problem that @sepperousseau, do you have updates about this issue?

[2018-09-18 05:49] Dreadedmonkey commented on #1008
Thanks for much for your help. I was also thinking that the performance might be affected, so I just added a  flat square to the bottom of the spawnable prefab and check if the place is inside that.

However, for future reference, would it be possible to share the code to get the Str value that you have shown in your picture ?  Other than that I dont have an issue, and this can be closed.

[2018-09-19 09:17] IfnoLee opened #1014 "Globe Mode"
Hope make a Globe Mode in Unity 3D，like google map, then Greenland's projection is no longer the size of Africa。I consider this is important。**The Globe in Mapbox SDK for Unity3D  but not use now**。

![image](https://user-images.githubusercontent.com/38685433/45743894-ae62de80-bc2f-11e8-9187-b7c390e4801a.png)

[2018-09-19 10:43] IfnoLee commented on #1013
@jordy-isaac

[2018-09-19 10:44] IfnoLee commented on #1014
@atripathi-mb

[2018-09-19 14:05] jordy-isaac commented on #1014
@IfnoLee There's a globe example in the SDK. Have you had a look at that yet? Can you provide more details on the projection issue?

[2018-09-19 15:44] jordy-isaac commented on #1013
This looks like it could be an issue with the satellite imagery for that area and zoom level. We've flagged the data team on it to check it out, but don't have an eta on when it could be fixed. If you have your own imagery that is better for your use case, it can be used with Mapbox. Here's more info: https://www.mapbox.com/help/how-satellite-imagery-works/#uploading-satellite-imagery

[2018-09-19 15:44] #1013 closed

[2018-09-19 15:51] jordy-isaac commented on #1008
I don't believe that it was retrieved by a script in this case, it was explicitly specified. Please keep us updated on your project and check out the [dev program](https://www.mapbox.com/unity-developer-program/) if you haven't already.

[2018-09-19 15:51] #1008 closed

[2018-09-19 16:12] #996 closed

[2018-09-19 16:16] jordy-isaac commented on #1007
@ufktvfk I was able to get this to build, but you're correct about the methods for lvl 24. It's still a useful workaround and thanks for sharing!

[2018-09-19 16:16] #1007 closed

[2018-09-20 13:19] AzeExMachina opened #1016 "Question: How can I add a custom building?"
Hi everyone, following the example for the replace feature posted [here](https://www.mapbox.com/unity-sdk/maps/examples/replace-features/)  I was able to replicate the described behaviour on my implementation of a map. Trying with the coordinates for the Empire State Building works perfectly. Then I tried to replace "Arena di Verona" in Italy with the same building prefab but to no avail, am I mis

[2018-09-21 06:40] IfnoLee commented on #1014
I looked the Globe Demo in Mapbox SDK for Unity，but it cannot zoom in / out .

[2018-09-21 06:40] IfnoLee commented on #1014
@jordy-isaac

[2018-09-21 09:49] AzeExMachina commented on #1016
I found out how to solve this issue, as I thought I had to create a custom dataset and add a polyline in the place of my building to then being able to replace it with a custom modifier. I'm closing this issue.

[2018-09-21 09:49] #1016 closed

[2018-09-21 10:52] Flameshot opened #1017 "Question: How can I make a 2D map view?"
Hello everyone and a big thumb up for people who created this sdk. I am looking to generate a 2D map with details like roads and buildings. Something like 3D but in 2D, like a puzzle or how is openstreetmap made. Mainly thing is to have every piece separated not just a plane object with map generated. Is there any way I can make this with mapbox, or a hackfix, walkthrough. Furthermore if I could d

[2018-09-21 16:16] jordy-isaac commented on #1014
The example scene for the globe does not zoom. However, you could implement zooming on your own, Have a look at the [zoomable map example](https://www.mapbox.com/unity-sdk/maps/examples/zoomable-map/) to see how you can approach the implementation.

[2018-09-21 16:16] #1014 closed

[2018-09-21 16:27] jordy-isaac commented on #1017
Hi @Flameshot Depending on your use case, one think you might try is adding the vector layers that you want but not extruding them in the [Modeling](https://www.mapbox.com/unity-sdk/maps/overview/map-features/#modeling) section.

<img width="671" alt="screen shot 2018-09-21 at 9 22 44 am" src="https://user-images.githubusercontent.com/33474236/45893492-44a61a00-bd80-11e8-8f1b-3117b813c087.png">

Y

[2018-09-24 06:50] Flameshot commented on #1017
Hello, @jordy-isaac and thanks for your response. I have made the changes you told me, the only problem i find is that using flat terrain is causing flickering in scene mode of the buildings.

[2018-09-24 14:02] jordy-isaac commented on #1017
@Flameshot Glad to hear it! Sure, no problem. Feel free to re-open this one of cut a new one. Whatever is best for you.

[2018-09-24 14:02] #1017 closed

[2018-09-24 20:42] bourgeoismaxime opened #1019 "Access open street map features informations"
Hello,
I'm using Mapbox 1.4.5 on Unity 2018.2.8f1 on the Editor (for now).
In the past, I was able to find all the details about the map (get the roads names, get the features types ...) but I cannot find how anymore. Ultimately my goal is to be able to know what is around (names of the roads, how many parks, where is the closest fast food, ...). Is there a way to know that kind of stuff using the

[2018-09-24 21:59] saintsalo opened #1020 "Map Editor NullReferenceException"
I was just starting off with the mapbox unity sdk, and am running into an issue with the Map Editor. I just installed the mapbox-unity-sdk and started the Location-basedGame example, which seems to be running okay (It loads the map and shows the player moving). But when I open Map Editor there's nothing showing, and I notice several errors in the console all pertaining to NullReferenceException:

[2018-09-24 22:31] atripathi-mb commented on #1020
@saintsalo Unity changed the topmostRect internal causing this issue. Here is a PR fixing it. Will be available in the SDK with our next release. https://github.com/mapbox/mapbox-unity-sdk/pull/980

[2018-09-24 22:44] saintsalo commented on #1020
@atripathi-mb great! Thanks for the info.

[2018-09-25 14:49] ParkJuHong commented on #976
@BergWerkGIS It's a great answer 👍

[2018-09-25 16:37] jordy-isaac commented on #1019
Hi @bourgeoismaxime. All of this data is available to you. I would check out the [City Simulator](https://www.mapbox.com/unity-sdk/maps/examples/city-simulator/), [Data Explorer](https://www.mapbox.com/unity-sdk/maps/examples/data-explorer/), and the [POI Placement](https://www.mapbox.com/unity-sdk/maps/examples/poi-placement/) examples (POIs have a [video tutorial](https://www.mapbox.com/unity-sd

[2018-09-25 16:37] #1019 closed

[2018-09-25 16:45] saintsalo commented on #1020
i just replaced mapbox-unity-sdk/sdkproject/Assets/Mapbox/Unity/Editor/NodeEditor/EditorZoomArea.cs with latest in dev branch and works fine. Thanks.

[2018-09-25 16:47] #1020 closed

[2018-09-25 17:30] DanieleSuppo73 commented on #710
I suggest you to write your piece of code to get the right orientation directly from the Compass. It seem that at Mapbox they don't understand the question

[2018-09-25 17:54] kakashysen commented on #710
Yes thanks @DanieleSuppo73
Yes, I found a solution, I leave it here in case it could useful for someone
Add the following script to `MapHolder` and set the rotation Y to 180 as default
[code]

[2018-09-26 12:25] tarakinsuide opened #1025 "Add prefab to Tabletop AR example"
Hi,

I want to add a 3D model of a building to the table top AR example on Mapbox. I'm using spawnonmap.cs script to put building on a latlong but the 3D model does not align well and is not placed on the table plane.
How do I solve this?

Regards,
Tarak Shah.

[2018-09-26 17:03] bourgeoismaxime commented on #1019
Thanks for the information. Is there a way to access all these datas by script using a specific position (lat,lon) and a range ? The aim is to know what's near a specific position without always storing the datas using the Map features section.

[2018-09-27 08:41] lunix15 commented on #1010
Hi, seem like:
1.    _map load layers data only when the map is created (or after reset)
2.   _map looks at layers only when "whole number zoom" is reached (so zoom < 18.5 will work only as zoom < 18).

So I solved in this way:
- resetting the map the first time your layer go on (if you start with layer off this will help a lot)
- switching off the global "sourceOptions" too

Be careful: this solu

[2018-09-27 15:45] jordy-isaac commented on #1025
@tarakinsuide Is it a building that's not available in the building data? [Buildings](https://www.mapbox.com/unity-sdk/maps/overview/map-features/#buildings) are already configured on the [Tabletop example](https://www.mapbox.com/unity-sdk/maps/examples/tabletop-ar/). Can you let us know a bit more about your use case and include some screenshots of how the object is not aligned as you'd expect?

[2018-09-27 15:47] AzeExMachina opened #1029 "Accessing Dataset Properties via script"
Greetings everyone, I have a problem in trying to retrieve tilesets data at runtime.

I have a custom tileset I'm using on my AbstractMap in Unity, I've added a Map Feature I'm using to visualize some modified prefabs on buildings.
What I wanted to know however is how to access the following properties from my tilesets. I've seen that I can filter on those keys in the inspector. So how can I acces

[2018-09-28 16:43] jordy-isaac commented on #1029
@AzeExMachina Currently, the best way to access these keys is via the inspector. We're looking into public APIs for these and are working on APIs for the rest of the AbstractMap as well for devs who want to do this via script.

[2018-09-28 16:43] #1029 closed

[2018-09-28 16:44] #1010 closed

[2018-09-29 13:41] josh-windsor commented on #1010
Thanks for the reply Lunix. Every time I call a reset map, I get a null reference exception in the TerrainFactory([](https://pastebin.com/QmsXAtcm)). This occurs in the example scenes as well as my own. Any ideas what this could be?

[2018-09-30 16:39] dulajdanu96 commented on #616
i follow a tutorial on location based game in mapbox but when i hit play in unity editor my character move.how to stop it from moving.

[2018-09-30 16:41] dulajdanu96 commented on #840
i follow a tutorial on location based game in mapbox but when i hit play in unity editor my character move.how to stop it from moving.

[2018-09-30 18:00] heath3n commented on #616
A closed issue about a separate topic isn't the best place to ask, but to answer your question anyway: Disable the location scripts on the player object.

[2018-10-01 06:57] Flameshot commented on #1017
Hello, @jordy-isaac and have a nice week. I need a start point for some features which I saw mapbox has but I don't find documentation for them for unity.

The first one is Highlight buildings feature ( I saw the script, I saw how to add it on buldings but it seems I didn't set something right so it doesn't work)
The second one: I'm looking to draw lines on the map, like rectengulars around the bu

[2018-10-01 19:36] ivermc opened #1039 "Unity - Mapbox Custom Name's places"
Hi everyone, i'm developing a proyect with custom places, this have id, names, numbers, and other data. All this information is in the custom dataset of the map, this places shows in the map, but i want extract this information in Unity for show each name of the points of interest created.

![imagen](https://user-images.githubusercontent.com/43762212/46311212-6fb61800-c58f-11e8-8bc2-f9ab72593401.p

[2018-10-01 22:41] jordy-isaac commented on #1039
@ivermc Thanks for the ticket. The [POI](https://www.mapbox.com/unity-sdk/maps/examples/poi-placement/) component on the AbstractMap is just for the Mapbox streets tileset. If you have custom POIs that you need, you'll want to [upload your data](https://www.mapbox.com/help/uploads/) to Mapbox and bring it in as [custom data](https://www.mapbox.com/unity-sdk/maps/overview/custom-maps/#use-custom-da

[2018-10-01 22:41] #1039 closed

[2018-10-02 15:48] ivermc opened #1042 "Unity - Mapbox show name places"
Hi, i'm with a proyect with mapbox, i need to show the data name of places are in a custom dataset, This information is alredy uploaded.

![imagen](https://user-images.githubusercontent.com/43762212/46359940-4a311900-c638-11e8-9d5e-b6b3691a146f.png)

And it shows in the map.

![imagen](https://user-images.githubusercontent.com/43762212/46359996-777dc700-c638-11e8-8a2a-9a450006769d.png)

i want the

[2018-10-02 19:56] jordy-isaac commented on #1042
@ivermc You can configure the tileset as a custom `Data Source` on the `AbstractMap.cs` script. You can find the documentation on custom data [here](https://www.mapbox.com/unity-sdk/maps/overview/custom-maps/#use-custom-data).

[2018-10-02 19:56] #1042 closed

[2018-10-02 20:17] vin67 opened #1043 "How to search POI from custom data set"
I can add custom data sets using comma to seperate map ID's and add Features related to to my additional Map ID's and generate new buildings on the screen.

However, as far as i can tell, its not possible to use Points Of Interest part of the Inspector for custom Map ID's and options to "find by prefab location" is limited to the base map mapbox,mapbox-streets-v7?

![screen shot 2018-10-03 at 6 12

[2018-10-02 20:32] jordy-isaac opened #1044 "SpawnOnMap ignores `Location Strings` value in world-scale AR"
In version 1.4.5 `SpawnOnMap` does not place game objects correctly when built to a device. In the editor, the prefabs are spawned at the correct locations, but they are spawned relative to the player when ran on a device.

Steps to reproduce:
- Create a map with `ARWorldScaleKit`
- Attach `SpawnOnMap`
- Configure `Location String` value to a location far away and specify prefab
- Build to a devic

[2018-10-03 09:31] AzeExMachina opened #1048 "ReplaceFeature issue with custom prefab"
Hi there, I have a problem with the prefab modifier of some buildings, I was able to correctly change a custom building added in mapbox studio with a custom prefab. I followed the ReplaceFeatures example and now I can correctly change what I want.

The only issue is that when I change zoom or pan the map, since the tiles gets repositioned, I sometime lose my prefab, it's not visible anymore even w

[2018-10-03 18:27] newtonyan commented on #840
encountering same problem

[2018-10-04 07:40] Flameshot opened #1053 "Mapbox Features"
Hello everyone and have a nice week. I need a start point for some features which I saw mapbox has but I don't find documentation for them for unity.

The first one is Highlight buildings feature ( I saw the script, I saw how to add it on buldings but it seems I didn't set something right so it doesn't work)
The second one: I'm looking to draw lines on the map, like rectengulars around the buildin

[2018-10-05 23:51] brnkhy commented on #1048
@AzeExMachina stability issues with replace feature modifier is something we're looking into. Meanwhile I can suggest trying something slightly different. If I understand correct, you just want to spawn a building prefab at a certain location.
So it might be an easier option to create it as a point in Mapbox Studio, then create a new Points feature layer in the SDK. Then you can add a prefab modif

[2018-10-05 23:58] brnkhy commented on #1053
@Flameshot Highlight modifier needs mesh colliders enabled on buildings, can you please check that's set correct?
I also just realized it's only highlighting roof in realistic style though (first material), I'll try to fix that asap.

For the second question, you can try to create a custom game object modifier. You can think of GameObjectModifiers as entities that recieves features after their mes

[2018-10-08 08:38] AzeExMachina commented on #1048
@brnkhy Thanks for your suggestion, this is in fact more reliable and it seems I'm not incurring in strange issues related to the prefabs.

I have another question which is not an issue but it's related to this. If I understand correctly the prefab modifier simply replaces all the points in my dataset with the given prefab. So, if I want different prefabs for each point with just one dataset, shou

[2018-10-08 16:28] jordy-isaac commented on #1048
@AzeExMachina That's the way that I would approach. I'd create a feature for each point that used another prefab. There might be some more elegant or performant solutions with custom modifiers, but this is a straight forward way to do it.

[2018-10-08 17:11] jordy-isaac commented on #1043
For custom POIs you won't able to use the Points of Interest section. This for the Mapbox tileset only.
​
​Instead, you can [upload the data to Mapbox](https://www.mapbox.com/help/uploads/), and then [bring it in to Unity](https://www.mapbox.com/unity-sdk/maps/overview/custom-maps/#use-custom-data). From there, you can set up the [features on the AbstractMap](https://www.mapbox.com/unity-sdk/maps/

[2018-10-08 17:16] brnkhy commented on #1048
@AzeExMachina I think it depends on some details and usecase.
Creating a new feature layer might get annoying if you're planning to have too many different types.
i.e. if you're planning to have 3 types (prefabs) and 20+ entries for each, having a separate layer would make sense
if you're planning to have 20+ types and just 1-2 of each, I think creating a custom gameobject modifier with a `Diction

[2018-10-08 20:13] #807 closed

[2018-10-09 07:37] AzeExMachina commented on #1048
Great, in the end I was able to address both of those issue and now I'm not experiencing any problem in my use of the SDK. Thanks for your support!

[2018-10-09 08:33] Flameshot commented on #1053
@brnkhy hello. Ok I found that I didn't have mesh colliders enabled on buildings, now it works.

I'm still thinking of a way to make the second feature with lines. Can you please make a detailed explanation about the second question, I'm still trying to understand the logic.

[2018-10-09 17:49] dpruitt90 opened #1071 "Maps don't load outside of development environment"
Unity Version: Unity 2018.2.11f1
Mapbox Version: 1.4.5

Description:  We are working on a proof of concept in which we generate a player object on a specified real world map location (Lat/Lon) and also generate several prefabs at other locations on the map.

This works well in our development environment (Mac OS) but when we build for other devices (Windows/Mac desktop, iOS, and Android) the app d

[2018-10-09 18:02] dpruitt90 commented on #1071
Attached Pictures....
![game_mac](https://user-images.githubusercontent.com/6934087/46688626-af45bb00-cbb2-11e8-8d69-17b1d31a38fe.png)
![game-devenvironment](https://user-images.githubusercontent.com/6934087/46688627-af45bb00-cbb2-11e8-8d42-028180792050.png)
![game-ios](https://user-images.githubusercontent.com/6934087/46688629-af45bb00-cbb2-11e8-811e-ab4a7adec166.png)

[2018-10-09 18:36] atripathi-mb commented on #1071
@dpruitt90 Do you have location services turned on for iOS builds? I am not sure if Unity can get live location for MacOS.

[2018-10-10 00:19] neftosis commented on #356
did you get an answer?

[2018-10-10 00:33] atripathi-mb commented on #356
@neftosis You can get lat/long of a mouse click using the code here
https://github.com/mapbox/mapbox-unity-sdk/blob/85fef42a7135b86751895722aa9b89a900751891/sdkproject/Assets/Mapbox/Examples/Scripts/QuadTreeCameraMovement.cs#L157

It comes with an example script in the SDK.

[2018-10-10 00:39] atripathi-mb commented on #1071
@dpruitt90

No required, I assumed you are using location provider to instantiate the map.

Looking at the code snippet, it might be that you are accessing the map before the map is initialized.
Map has a `OnInitialized` event which get's triggered. `GeoToWorldPosition` will not work correclty before the map is initialized.

[2018-10-10 01:07] neftosis commented on #356
Thank you so much my friend!

[2018-10-10 07:42] haz2017 commented on #715
https://blog.mapbox.com/indoor-navigation-in-ar-with-unity-6078afe9d958
It's getting many compilation errors when trying to open the source code in here with unity ..  :( Please provide any help :(

[2018-10-10 09:09] K-Mag opened #1074 "NullReferenceException: Error - EditorZoomArea.cs:137"
_Note: If this is a bug or support ticket, please provide the following information:_
* Unity version: Unity 2018.2.10f1 Personal
  * Scripting Runtime Version: .Net 3.5 Equivalent
  * Scripting Backend: Mono
  * Api Compatibility Level: .Net 2.0 Subset
* Mapbox SDK version: v1.4.5
* The platform you're building to: PC, Mac & Linux
* A description of what you're trying to do: I only want to start

[2018-10-10 10:55] K-Mag commented on #1074
Solved by change **Scripting Runtime Version: .Net 4.x**

[2018-10-10 11:15] K-Mag commented on #1074
Found out, that I only get this error when Map Editor is open.

[2018-10-10 13:05] Flameshot commented on #356
@atripathi-mb I understood the example, but I think that just gets the lat lon of camera bounds, so when you move the map the lat long will change. But how can mouse pointer real be made?

Like this one? https://www.mapbox.com/mapbox-gl-js/example/mouse-position/

[2018-10-10 15:55] dpruitt90 commented on #1071
@atripathi-mb
Is there a recommended way to do this?  Should I leave the instantiation of the map variable in Awake() and move the population of objects to an event wired up to the OnInitialized event of the map?  I am unclear on what the Best Practice is for this problem.  Thanks!

[2018-10-10 16:45] atripathi-mb commented on #1071
@dpruitt90

Yes,  this is the recommended best practice :)

[2018-10-10 21:32] dpruitt90 commented on #1071
@atripathi-mb
OK, I am TOTALLY lost.....

Project:
Scene 0 is a menu with two buttons.  Each button launches Scene 1 but passes in a different LatLon in which to instantiate the player (by setting the values for PersistantManagerScript.Instance.PlayerLat and PersistantManagerScript.Instance.PlayerLon - which are being passed correctly).  Setting the location in the Start() method of the Player cla

[2018-10-10 21:41] atripathi-mb commented on #1071
@dpruitt90 Is the `InitializePlayer()` method being invoked correctly?
Could you put a screen shot of your map settings here please?

[2018-10-10 21:50] dpruitt90 commented on #1071
@atripathi-mb
I moved the following code from the InitializePlayer() method to Start():

player = GameObject.Find("Player");

        Vector2d playerLatLon = new Vector2d(Double.Parse(PersistantManagerScript.Instance.PlayerLat), Double.Parse(PersistantManagerScript.Instance.PlayerLon));
        //abstractMap = UnityEngine.Object.FindObjectOfType<AbstractMap>();

        player.transform.localPosit

[2018-10-10 21:53] dpruitt90 commented on #1071
@atripathi-mb
And yes, the Initialize Player method is being called as a Coroutine from the OnMapReady method.  It just isn't instantiating the player.

[2018-10-10 22:06] atripathi-mb commented on #1071
@dpruitt90 I created a test script based on your code and it worked fine for me right out of the box.
[code]

btw any specific reason you are setting both localPosition and position ?

[2018-10-10 22:08] dpruitt90 commented on #1071
@atripathi-mb
On what device is it working? Windows Player?  Mac Player? iOS? Android?  It only works for me in the Unity IDE.

No reason I am setting both, except a lack of understanding and too many changes trying to debug this.....:-)

[2018-10-10 22:36] atripathi-mb commented on #1071
Working in editor and MacOS.
![image](https://user-images.githubusercontent.com/32286016/46769908-260db180-cca2-11e8-9e69-e52cfb4339a4.png)

[2018-10-11 00:40] dpruitt90 commented on #1071
@atripathi-mb
OK.  After all of this it seems the issue is map-dependent and that the scripts are working.  I did the following:
1.  Created a new scene with a default map and added a cube with your script.  It worked in both the IDE and Mac OS.
2.  Changed the map in that scene, and had the same issues.

Why is the spawning so map-dependent?  If I make any changes to the map in either scene, the

[2018-10-11 00:44] jordy-isaac commented on #1074
@K-Mag Can you provide some more details on what you're doing when you get this? We'll look into it.

[2018-10-11 02:04] dpruitt90 commented on #1071
@atripathi-mb
Steps to reproduce:
1.  Create New Scene
2.  Add Map Prefab
3.  Add Cube
4.  Add PlaceCube Script (that you sent) and attach to cube.
5.  Run Scene (It works in Dev as well as deployed instances).

Next
1. Change Map to Lat/Lon to 36.0966, -112.0985
2. Change Map Image to Mapbox Satellite
3.  Change Terrain to Mapbox Terrain with Elevation Layer Type of "Terrain with Elevation"
4.  A

[2018-10-11 02:25] Jarory13 opened #1079 "Cannot get the Id of a feature from dataset"
_Note: If this is a bug or support ticket, please provide the following information:_
* Unity version:  2018.1.0f2
* Mapbox SDK version: v1.4.5
* The platform you're building to: android/ios

I am having trouble getting the id of a given feature. I've modified the Featurebehaviour.cs with the following line at the end of Run

` Debug.Log(ve.Feature.Data.Id);`

I expected this to print out the same

[2018-10-11 02:29] atripathi-mb commented on #1071
If it helps, we are in the process of releasing a new version early next week. This issue may most likely be already fixed.

Let me know how we can help get your issue resolved.

[2018-10-11 02:46] dpruitt90 commented on #1071
Thank you for all your help.  I don’t know what the problem could be.  I am using 3D and my camera is set as a first person (just behind and above the player).  I am finding that even small changes blow up the IDE and/or deployed versions.  Can you provide me with the same,e project you are using?  Seriously at a loss on this.  I do appreciate your help!

[2018-10-11 02:47] dpruitt90 commented on #1071
@atripathi-mb
Thank you for all your help. I don’t know what the problem could be. I am using 3D and my camera is set as a first person (just behind and above the player). I am finding that even small changes blow up the IDE and/or deployed versions. Can you provide me with the same,e project you are using? Seriously at a loss on this. I do appreciate your help!

[2018-10-11 02:55] atripathi-mb commented on #1071
@dpruitt90 Do you mind filing a ticket through our support channel? It would help us get in touch directly via email. Will be easier to send files if needed.
https://www.mapbox.com/contact/support/#bug/unity

[2018-10-11 10:04] K-Mag commented on #1074
Hey @jordy-isaac,
Thanks for your reply.
I found out, that I get the Error when I start the Map Editor.
The Editor is empty and I get 999+ Errors when moving the window.

I tried it on two different systems (Unity 2018.10f1 and Unity 2018.11f1) both MacOS.
I even get the Error on each sample Project.

I'm just open a new empty project.
Import Mapbox SDK 1.4.5.
Paste my Access Token and choose a sa

[2018-10-11 15:29] #1048 closed

[2018-10-11 15:29] #1043 closed

[2018-10-11 16:13] dpruitt90 commented on #1071
@atripathi-mb
ok.  thanks.

[2018-10-11 17:04] Jarory13 commented on #1079
There are 4 features in the data set. I'm adding the features in game to the map via Map Layers > Features and replacing the prefab using a behaviour modifier. That all works just fine. The last step I need is to get the Id. As per our discussion in slack adding the Id manually as a field in the properties of the dataset can work but that's not really a scalable solution. Is there a programmatic w

[2018-10-11 17:19] dpruitt90 commented on #1071
@atripathi-mb
Couple of things.  First, I thought the GitHub issue log was the venue for reporting issues.  I submitted a bug via the link you provided.  Second, I think there are two issues.  First, the GeoToWorldPositin method of Abstract map seems to ignore the queryHeight parameter.  When I change maps (and use Terrain with Elevation), the object spawns below the map (one of the issues).  The

[2018-10-11 17:31] neftosis commented on #356
Thanks I'm going to try that!! That will probably help me so much! I'll let you know!

[2018-10-11 17:35] dpruitt90 commented on #1071
@atripathi-mb
Sorry, last question.  How long does it generally take to work through issues when submitted via the contact link you sent?  We need to make a decision regarding how we are going to move forward (deciding between Unity and UE4) and I am fast approaching the decision point.  Thanks again!

[2018-10-11 18:04] hexbyteinc commented on #356
I changed my username this is neftosis

[2018-10-11 18:10] atripathi-mb commented on #1071
@dpruitt90 we try to resolve issues as soon as possible. It would help if you could send us a sample project/package to reproduce the issue.

[2018-10-11 18:48] dpruitt90 commented on #1071
Here is a link to a project:
https://www.dropbox.com/s/p9o37d7mjvntz2y/SampleProject.zip?dl=0

Also submitted step-by-step guide to reproduce as part of the bug report.

Thanks.

[2018-10-11 21:38] CedricKnapp opened #1082 "Ar Tabletop building generation"
Hello,

I've been experimenting with the AR-Tabletop example provided in the mapboxSDK and I noticed that when attempting to view downtown Ottawa, Ontario [45.42353,-75.69846], there are only a few buildings generated.

I was wondering about the potential causes of this issue and if there is any way to fix this, or if it is an issue created from missing data about the area.

Thanks,
Cedric

_Note:

[2018-10-11 22:20] #1025 closed

[2018-10-12 06:09] hexbyteinc commented on #356
Reading https://github.com/mapbox/mapbox-unity-sdk/issues/123
and https://github.com/mapbox/mapbox-unity-sdk/issues/441 first thanks man

[2018-10-12 07:38] vin67 commented on #1043
Thanks for the guidance. Thats the steer I needed. I created a new prefab modifier and added a prefab I ended up using a copy of the POI example prefabs and now modifying it and now in the process of modifying the TextLabelSetter script to present data from the custom data layer.

[2018-10-12 15:45] dpruitt90 commented on #1071
@atripathi-mb
Thank you! Thank you! Thank you!  Finally got everything working and loading in Mac OS as well as the Dev environment.  I really appreciate your help!  I will be looking into two other issues today: Errors when building for iOS and how to properly move a dynamically spawned object.

Again thank you!  I can't remember the last time I had this much trouble getting into a new API/Enviro

[2018-10-12 16:06] stevenpclark commented on #113
I've found that if I add [ExecuteInEditMode] to AbstractMap.cs
(e.g. right before:
public class AbstractMap : MonoBehaviour, IMap
)

that it kinda/sorta accomplishes this?
The console spams a lot of error messages like:
"Instantiating material due to calling renderer.material during edit mode. This will leak materials into the scene. You most likely want to use renderer.sharedMaterial instead."
an

[2018-10-12 17:01] atripathi-mb commented on #113
@stevenpclark Preview at design time is not yet supported. We are working on it and will be supporting it in future releases.

[2018-10-12 23:02] dpruitt90 opened #1087 "Errors when building for iOS"
_Note: If this is a bug or support ticket, please provide the following information:_
* Unity version: Unity 2018.2.12f1
* Mapbox SDK version: 1.4.5
* The platform you're building to: iOS
* A description of what you're trying to do: Build an app for iOS

1.  Build app for iOS in Unity
2.  Build opens xCode and reports successful build
3.  Attempt to build for device, and receive the following erro

[2018-10-12 23:45] atripathi-mb commented on #1087
@dpruitt90 This error seems to occur with the way Unity exports xCode projects.
If you rebuild the xCode project and chose the option `Append` , it will start working.

The header paths are correctly appended but somehow xCode is not able to find it.

[2018-10-12 23:52] atripathi-mb commented on #1087
@dpruitt90

Are you sure this is Mapbox related error?

[2018-10-13 00:09] dpruitt90 commented on #1087
@atripathi-mb
Please disregard.  It looks like it was due to a setting in the "Target Minimum IOS Version.  When set to 9.0 we got the build errors.  Setting to 8.0 and everything worked.

[2018-10-13 04:03] Thaina commented on #646
Could you please move location of those `/mapbox/core/plugins?` into top level `/plugins` ?

[2018-10-14 06:10] hexbyteinc commented on #356
Ok I have read everything and everything I have tried above fails. I can place objects fine with spawnonmap
but my attempt to simply place something on mouse click is failing horribly.
Please please help me - all the tutorials are referencing factories that I don't even see anymore, please let me know what I'm doing wrong!
@atripathi-mb
@brnkhy

[2018-10-14 06:16] Thaina opened #1090 "Extent option Camera bound freeze unity when rotating downward around 30 degrees"
Using unity 2018.3 and mapbox 1.45 with CitySimulator scene. I try using map tiles from camera bounds. But when I change camera rotationX from 25 to around 30, unity just freeze and I need to end task

Rotate around Y axis don't have any problem. It create and remove tiles around camera normally

[2018-10-14 07:33] hexbyteinc commented on #356
Or alternately if I could get the tile or map position on mouse click from a raycast please advise!?

[2018-10-15 11:37] Gzbx opened #1091 "reload map loads map with overlapping tiles"
_Note: If this is a bug or support ticket, please provide the following information:_
* Unity version: 2017.3.0f3
  * Scripting Runtime Version:  .net 3.5
  * Scripting Backend: Mono
  * Api Compatibility Level: .Net 2.0 Subset
* Mapbox SDK version: 1.4.5
* The platform you're building to: Windows
* A description of what you're trying to do:
Reload a map to a new location
* Steps to recreate the b

[2018-10-15 15:51] dermarder opened #1092 "Can't use Maptiler Servers"
Dear Mapbox team,

im not able to use maptiler service with your sdk. This should work oob as they are using the Mapbox vector tile pbf format right?

Thank you very much in advance for your help.

[2018-10-15 19:50] #1087 closed

[2018-10-15 19:54] jordy-isaac commented on #1092
Hi @dermarder That's a 3rd party tool that looks like it's using openstreetmap. Is there a reason that you are needing maptiler instead of one of our map prefabs?

[2018-10-15 20:01] jordy-isaac commented on #1082
Hi @CedricKnapp It might be the data, but it could also be what you have configured on your abstract map and features. Would you mind posting screenshots of what you're seeing and what you have configured?

[2018-10-16 15:54] jordy-isaac commented on #1090
@Thaina I wasn't able to reproduce this on the [latest release v2.0](https://www.mapbox.com/install/unity/). Would you mind giving it a try and letting me know how it goes?

[2018-10-16 15:56] Thaina commented on #1090
@jordy-isaac Will do it soon, thank you

[2018-10-17 17:57] brnkhy opened #1097 "Future work list for mesh modifiers"
I'll try to create a short list of possible fixes and improvements for certain mesh modifiers here. Please feel free to give feedback or share anything you had in mind.

**Mesh Modifiers**
- ~~Revisit polygon mesh modifier triangulation and triangulation algorithm. It has some precision issues and creating wrong shapes in some situations (i.e. highly detailed mid range (8-11) zoom level coast line